<%= content_tag_for( :tr, unit, :class => 'row' ) do %>
 <td class='key'><%= unit.key -%></td>
 <td class='description'><%= unit.description -%></td>
 <td class='manage'>
<%= link_to( "View", unit_path(unit), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_unit_path(unit), :class => 'button' ) -%>&nbsp;
<%= form_tag unit, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy unit '#{unit}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='unit' -->
