<%= content_tag_for( :tr, interview_method, :class => 'row' ) do %>
 <td class='key'><%= interview_method.key -%></td>
 <td class='description'><%= interview_method.description -%></td>
 <td class='manage'>
<%= link_to( "View", interview_method_path(interview_method), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_interview_method_path(interview_method), :class => 'button' ) -%>&nbsp;
<%= form_tag interview_method, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy interview_method '#{interview_method}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='interview_method' -->
