<% javascripts('edit_addressing') %>
<% stylesheets('edit_addressing') %>

<% sub_menu_for(@study_subject||@addressing.study_subject) %>
<% id_bar_for(@study_subject||@addressing.study_subject) %>

<h3>Edit Address</h3>

<%= f.error_messages %>

<div class='fields_for_address'>
<% @addressing.build_address if @addressing.address.nil? %>
<% f.fields_for :address do |address_field| %>

<%= address_field.wrapped_collection_select :address_type_id, 
	AddressType.all, :id, :code, :include_blank => true, :label_text => 'Type' %>

<p>Source ... select  .. specify if other: textfield </p>

<div class='verified'>
<%= f.wrapped_check_box :is_verified, :label_text => 'Verified?' %>
<%= f.wrapped_text_field :how_verified, :label_text => 'Specify how:' %>
</div><!-- class='verified' -->

<%= address_field.wrapped_text_field :line_1 %>
<%= address_field.wrapped_text_field :unit, :label_text => 'Apt.' %>

<%= address_field.wrapped_text_field :line_2 %>
<div class='field_wrapper'>
<%= address_field.label :city, 'City, State Zip' %>
<%= address_field.text_field :city %>
<%= address_field.select :state,State.abbreviations, {}, :class => 'state' %>
<%= address_field.text_field :zip, :class => :zip %>
</div>
<%= address_field.wrapped_text_field :county %>
<% end %>
</div>

<div class='dates_valid'>
<span>dates valid:</span>
<%= f.wrapped_date_text_field :valid_from,
	:label_text => 'from:',
	:class => 'datepicker' %>
<%= f.wrapped_date_text_field :valid_to,
	:label_text => 'to:',
	:class => 'datepicker' %>
<p>(leave blank if unknown)</p>
</div>

<div class='valid'>
<%= f.wrapped_y_n_dk_select :is_valid, 
	:label_text => 'Address is valid?' %>
<%= f.wrapped_text_field :why_invalid, 
	:label_text => 'Why not?' %>
</div><!-- class='valid' -->

<%= f.wrapped_y_n_dk_select :current_address,
	:label_text => 'Current Address?' %>

<%= f.wrapped_y_n_dk_select :address_at_diagnosis,
	:label_text => 'Address at diagnosis?' %>
