<% javascripts('edit_addressing') %>
<% stylesheets(:addressing_edit) %>

<div id='subject_control_bar'>
<h3><%= ( @addressing.new_record? ) ? 'New' : 'Edit' %> Address</h3>
<div class='buttons'>
<%= link_to( 'Cancel', study_subject_contacts_path( @study_subject ),
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %>
</div><!-- class='buttons' -->
</div>

<%= f.error_messages %>

<div class='fields_for_address'>
<% @addressing.build_address if @addressing.address.nil? %>
<%= f.fields_for :address do |address_field| %>
<%= address_field.wrapped_collection_select :address_type_id, 
	AddressType.all, :id, :key, :include_blank => true, :label_text => 'Type' %>

<div class='source'>
<%#

	Be Advised.  Context alone will ge confused with ActionView::Context:Module
	which will raise the error ...
	    undefined method `[]' for ActionView::Context:Module
	Change to ::Context for clarification.

%>
<%= f.wrapped_collection_select :data_source_id, ::Context['addresses'].data_sources, 
			:id, :to_s, :include_blank => true, :label_text => 'Source:' %>
<%= f.wrapped_text_field :other_data_source, 
	:label_text => 'Specify if other:' %>
</div><!-- class='source' -->
<!--
<div class='verified'>
<%#= f.wrapped_check_box :is_verified, :label_text => 'Verified?' %>
<%#= f.wrapped_text_field :how_verified, :label_text => 'Specify how:' %>
</div>
-->
<hr/>

<%= address_field.wrapped_text_field :line_1 %>
<%= address_field.wrapped_text_field :unit, :label_text => 'Apt.' %>
<%= address_field.wrapped_text_field :line_2 %>
<div class='field_wrapper'>
<%= address_field.label :city, 'City, State Zip' -%>
<%= address_field.text_field :city %>
<%= address_field.select :state, State.abbreviations, 
	{ :include_blank => true }, :class => 'state' %>
<%= address_field.text_field :zip, :class => :zip %>
</div>
<%= address_field.wrapped_text_field :county %>
<%= address_field.wrapped_country_select :country %>
</div>

<!--
<div class='dates_valid'>
<span>dates valid:</span>
<%#= f.wrapped_date_text_field :valid_from,
	:label_text => 'from:' %>
<%#= f.wrapped_date_text_field :valid_to,
	:label_text => 'to:' %>
<p>(leave blank if unknown)</p>
</div>

<hr/>

<div class='valid'>
<%#= f.wrapped_yndk_select :is_valid, 
	:label_text => 'Address is valid?' %>
<%#= f.wrapped_text_field :why_invalid, 
	:label_text => 'Why not?' %>
</div>
-->
<hr/>

<div class='moved'>
<%= f.wrapped_yndk_select :current_address,
	:label_text => 'Current Address?' %>
<%= f.wrapped_check_box(:subject_moved,
	:label_text => 'check here if this change indicates the subject has moved') %>
</div><!-- class='moved' -->

<%= f.wrapped_yndk_select :address_at_diagnosis,
	:label_text => 'Address at diagnosis?' %>

<%= f.wrapped_text_area :notes, :class => 'autosize' %>

<% end %><%# f.fields_for :address do |address_field| %>
