<% javascripts('edit_sample') %>

<%= f.error_messages %>

<div class='control'><div class='control_row'>
<h3><%= (@sample.new_record?)? 'New' : 'Edit' %> Subject Sample</h3>
<div><%= link_to( 'Cancel', study_subject_samples_path(@study_subject),
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %></div>
</div></div>

<%= wrapped_spans :sample, :sampleid,
	:label_text => 'sampleid:' %>

<%= f.wrapped_collection_select(:project_id,
	@study_subject.enrollments.collect(&:project), :id, :to_s,
	{ :include_blank => true }) %>

<%= f.wrapped_grouped_collection_select( :sample_type_id, 
		SampleType.roots, :children, :to_s, :id, :to_s,
	{ :include_blank => true }) %>

<%= f.wrapped_datetime_text_field :sent_to_subject_at,
	:label_text => 'Sent to Subject at:' %>

<%= f.wrapped_datetime_text_field :collected_from_subject_at,
	:label_text => 'Collected from Subject at:' %>

<%= f.wrapped_datetime_text_field :shipped_to_ccls_at,
	:label_text => 'Shipped to CCLS at:' %>

<%= f.wrapped_datetime_text_field :received_by_ccls_at,
	:label_text => 'Received by CCLS at:' %>

<%= f.wrapped_datetime_text_field :sent_to_lab_at,
	:label_text => 'Sent to Lab at:' %>

<%= f.wrapped_collection_select( :location_id,
	Organization.all, :id, :to_s,
	{ :include_blank => true }
) %>

<%= f.wrapped_datetime_text_field :received_by_lab_at,
	:label_text => 'Received by Lab at:' %>

<%= f.wrapped_select :sample_format, 
	@sample.sample_formats, :include_blank => true %>

<%= f.wrapped_select :sample_temperature, 
	@sample.sample_temperatures, :include_blank => true %>

<%= f.wrapped_text_field :external_id, :label_text => 'External ID:' %>
<%= f.wrapped_text_field :external_id_source, :label_text => 'External ID Source:' %>

<%= f.wrapped_text_area :notes, :rows => 3, :cols => 50 %>
