<div id='sample'>
<div class='control'><div class='control_row'>
<h3>Subject Sample</h3>
<div>
<%= link_to( 'Edit', edit_study_subject_sample_path(@sample.study_subject_id, @sample.id),
	:class => :button ) %>
<%= form_tag study_subject_sample_path(@sample.study_subject_id, @sample.id), :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy sample '#{@sample}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end if current_user.may_destroy_samples? %>
</div>
</div></div>

<%= wrapped_spans :sample, :sampleid,
	:label_text => 'sampleid:' %>

<%= wrapped_spans :sample, :project,
	:label_text => 'project:' %>

<%= wrapped_spans :sample, :sample_type_parent,
	:label_text => 'sample type:' %>

<%= wrapped_spans :sample, :sample_type,
	:label_text => 'sample subtype:' %>

<%= wrapped_datetime_spans :sample, :sent_to_subject_at,
	:label_text => 'Sent to Subject at:' %>

<%= wrapped_datetime_spans :sample, :collected_from_subject_at,
	:label_text => 'Collected from Subject at:' %>

<%= wrapped_datetime_spans :sample, :shipped_to_ccls_at,
	:label_text => 'Shipped to CCLS at:' %>

<%= wrapped_datetime_spans :sample, :received_by_ccls_at,
	:label_text => 'Received by CCLS at:' %>

<%= wrapped_datetime_spans :sample, :sent_to_lab_at,
	:label_text => 'Sent to Lab at:' %>

<%= wrapped_datetime_spans :sample, :received_by_lab_at,
	:label_text => 'Received by Lab at:' %>

<%= wrapped_spans :sample, :external_id, :label_text => 'External ID:' %>
<%= wrapped_spans :sample, :external_id_source, :label_text => 'External ID Source:' %>

<%= wrapped_spans :sample, :ucsf_item_no %>
<%= wrapped_spans :sample, :ucb_labno %>
<%= wrapped_spans :sample, :ucb_biospecimen_flag %>

<div class='notes spans field_wrapper'>
<span class='label'>Notes:</span>
<span class='value'>
<%= @sample.notes.to_s.gsub(/\n/,'<br/>').html_safe %>
</span>
</div><!-- class='notes spans' -->

<%= link_to 'print label', 
	study_subject_sample_path(@sample.study_subject_id,@sample.id, :format => :pdf), 
	:class => :button, :target => :new %>

<%= render 'transfers' %>
</div><!-- id='sample' -->
