<% javascripts('edit_sample') %>
<% stylesheets(:sample_edit) %>
<% sub_menu_for(@study_subject) %>
<% id_bar_for(@study_subject) %>

<%= f.error_messages %>

<div id='subject_control_bar'>
<h3><%= (@sample.new_record?)? 'New' : 'Edit' %> Subject Sample</h3>
<div class='buttons'>
<%= link_to( 'Cancel', study_subject_samples_path(@study_subject),
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %>
</div><!-- class='buttons' -->
</div>

<%= f.wrapped_collection_select(:project_id,
	@study_subject.enrollments.collect(&:project), :id, :to_s,
	{ :include_blank => true }) %>

<%= f.wrapped_grouped_collection_select( :sample_type_id, 
		SampleType.roots, :children, :to_s, :id, :to_s,
	{ :include_blank => true }) %>

<%= f.wrapped_datetime_text_field :sent_to_subject_at,
	:label_text => 'Sent to Subject at:' %>

<%= f.wrapped_datetime_text_field :collected_from_subject_at,
	:label_text => 'Collected from Subject at:' %>

<%= f.wrapped_datetime_text_field :shipped_to_ccls_at,
	:label_text => 'Shipped to CCLS at:' %>

<%= f.wrapped_datetime_text_field :received_by_ccls_at,
	:label_text => 'Received by CCLS at:' %>

<%= f.wrapped_datetime_text_field :sent_to_lab_at,
	:label_text => 'Sent to Lab at:' %>

<%= f.wrapped_collection_select( :location_id,
	Organization.all, :id, :to_s,
	{ :include_blank => true }
) %>

<%= f.wrapped_datetime_text_field :received_by_lab_at,
	:label_text => 'Received by Lab at:' %>

<%= f.wrapped_date_text_field :aliquotted_at,
	:label_text => 'Aliquotted at:' %>

<%#= render :partial => 'sample_kit', :locals => { :f => f } %>
