<%
	classes = ['row']
%>
<%= content_tag_for( :tr, sample, :class => classes.join(' ') ) do %>
<td>link to subject</td>
<td><%= sample.received_by_ccls_at -%></td>
<td><%= sprintf('%07d',sample.id) -%></td>
<td><%= sample.project.key %></td>
<td><%= sample.sample_type_parent -%></td>
<td><%= sample.sample_type -%></td>
<td>&nbsp;</td>
<% end %><%# content_tag_for %>

