<% stylesheets(:samples) %>
<%= control_bar() %>

<%= form_tag(find_samples_path, :method => :get, :id => 'find_samples' ) do %>

<p>Results must match 
<%= select_tag 'operator', options_for_select(
	[['ANY','OR'],['ALL','AND']], params[:operator] ) %>
 of the following: 
<%= submit_tag "Find", :id => nil, :name => nil  %>
</p>
<%#

	The label "for"'s are nice for radio buttons and check boxes,
	but are really unnecessary for text_fields.

%>
<div class='table'>
<div class='tablerow'>
<div><label for='sampleid'>sample id:</label></div>
<div><%= text_field_tag :sampleid, params[:sampleid] %></div>
<div><label for='sample_type'>sample type:</label></div>
<div>
<%#= select_tag :sample_type_id, "<option value=''></option>" + SampleType.roots.collect{|s|[["<option#{" selected='selected'" if s.id == params[:sample_type_id].to_i} value='#{s.id}' class='root'>#{s.to_s}</option>"]] + s.children.collect{|c| ["<option#{" selected='selected'" if c.id == params[:sample_type_id].to_i} value='#{c.id}' class='child'>#{c.to_s}</option>"] }}.flatten.join("\n") %>

<%= select_tag :sample_type_id, ("<option value=''></option>" + SampleType.roots.collect{|s|[["<option#{" selected='selected'" if s.id == params[:sample_type_id].to_i} value='#{s.id}'>#{h(s.to_s)}</option>"]] + s.children.collect{|c| ["<option#{" selected='selected'" if c.id == params[:sample_type_id].to_i} value='#{c.id}'> - #{h(c.to_s)}</option>"] }}.flatten.join("\n")).html_safe %>

</div>
</div><!-- tablerow -->

<div class='tablerow'>
<div><label for='first_name'>first name:</label></div>
<div><%= text_field_tag :first_name, params[:first_name] %></div>
<div><label for='last_name'>last name:</label></div>
<div><%= text_field_tag :last_name, params[:last_name] %></div>
</div><!-- tablerow -->

<div class='tablerow'>
<div><label for='childid'>child id:</label></div>
<div><%= text_field_tag :childid, params[:childid] %></div>
<div><label for='icf_master_id'>ICF master id:</label></div>

<div><%= text_field_tag :icf_master_id, params[:icf_master_id] %>
<label for='patid'>pat id:</label>
<%= text_field_tag :patid, params[:patid] %></div>

</div><!-- tablerow -->

<div class='tablerow'>
<div><label for='sent_to_subject_at'>kit sent on:</label></div>
<div><%= text_field_tag :sent_to_subject_at, params[:sent_to_subject_at],
	:class => 'datepicker' %></div>
<div><label for='received_by_ccls_at'>sample received on:</label></div>
<div><%= text_field_tag :received_by_ccls_at, params[:received_by_ccls_at],
	:class => 'datepicker' %></div>
</div><!-- tablerow -->
</div><!-- table -->

<hr/>
<% if @samples.length > 0 %>
<table id='samples'><thead><tr>
<th><%= sort_link('received_by_ccls_at', 'received on' ) %></th>
<th><%= sort_link('id', 'sampleid') %></th>
<th>project</th>
<th><%= sort_link('type') %></th>
<th><%= sort_link('subtype') %></th>
<th>status</th>
</tr></thead><tbody>
<%= render @samples %>
</tbody></table>
<% else %>
<p>There are no samples.</p>
<% end %>
<hr/>

<div class='pagination wrapper'>
<%= will_paginate @samples %>
<label>jump to page:</label>
<%= text_field_tag :page, params[:page] %>
</div>
<% end %><%# form_tag(find_samples_path ... %>
