<% stylesheets(:study_subject_samples) %>
<% sub_menu_for(@study_subject) %>
<% id_bar_for(@study_subject) %>

<h3>Sample Inventory</h3>
<% unless @study_subject.samples.empty? %>
<table class='sample_study_subject'><thead><tr>
<th>received on</th>
<th>sample id</th>
<th>project</th>
<th>type</th>
<th>subtype</th>
<th>status</th>
</tr>
</thead><tbody>
<% @study_subject.samples.each do |sample| %>
<tr>
<td><%= sample.received_by_ccls_at -%></td>
<td><%= sprintf('%07d',sample.id) -%></td>
<td><%= sample.project.key %></td>
<td><%= sample.sample_type_parent -%></td>
<td><%= sample.sample_type -%></td>
<td><%= sample.state -%></td>
</tr>
<% end %>
</tbody></table>
<% else %>
<p>Study Subject currently has no samples</p>
<% end %>
<p><%= ( current_user.may_edit_samples? ) ?
	link_to( "new sample", new_study_subject_sample_path(@study_subject),
		:class => 'button' ) :
	'&nbsp;'
%></p>
