<h4>Receive Sample</h4>

<% form_tag(new_sample_path,:method => :get) do %>
<p>( Currently exact match only )</p>
<p><span>Study ID:</span>
<%= text_field_tag :studyid, params[:studyid], :id => nil  %>
<span>or</span>
<span>ICF Master ID:</span>
<%= text_field_tag :icf_master_id, params[:icf_master_id], :id => nil  %>
<%= submit_tag 'find subject', :name => nil %>
</p>
<% end %>



<% unless params[:studyid].blank? and params[:icf_master_id].blank? %>
<% if @study_subjects and !@study_subjects.empty? %>
<p>Found the following subject(s)</p>
<table><thead>
<tr><th>name</th><th>studyid</th><th>icf_master_id</th><th>admit date</th><th>reference date</th><th>hospital_no</th><th>&nbsp;</th></tr>
</thead><tbody>
<% @study_subjects.each do |study_subject| %>
<tr>
<td><%= study_subject.full_name %></td>
<td><%= study_subject.studyid_to_s %></td>
<td><%= study_subject.icf_master_id_to_s %></td>
<td><%=mdy study_subject.admit_date %></td>
<td><%=mdy study_subject.reference_date %></td>
<td><%= study_subject.hospital_no %></td>
<td><%= link_to "New Sample", new_study_subject_sample_path(study_subject) %></td>
</tr>
<% end %>
</tbody></table>
<% else %>
<p>no subjects found matching that studyid or icf master id</p>
<% end %>
<% end %>
