<% stylesheets(:sample) %>
<%# sub_menu_for(@study_subject) %>
<%# id_bar_for(@study_subject) %>

<div id='subject_control_bar'>
<h3>Subject Sample</h3>
<div class='buttons'>
<%= link_to( 'Edit', edit_sample_path(@sample),
	:class => 'button' ) %>
</div><!-- class='buttons' -->
</div>

<%= wrapped_spans :sample, :project,
	:label_text => 'project:' %>

<%= wrapped_spans :sample, :sample_type_parent,
	:label_text => 'sample type:' %>

<%= wrapped_spans :sample, :sample_type,
	:label_text => 'sample subtype:' %>

<%= wrapped_datetime_spans :sample, :sent_to_subject_at,
	:label_text => 'Sent to Subject at:' %>

<%= wrapped_datetime_spans :sample, :collected_from_subject_at,
	:label_text => 'Collected from Subject at:' %>

<%= wrapped_datetime_spans :sample, :shipped_to_ccls_at,
	:label_text => 'Shipped to CCLS at:' %>

<%= wrapped_datetime_spans :sample, :received_by_ccls_at,
	:label_text => 'Received by CCLS at:' %>

<%= wrapped_datetime_spans :sample, :sent_to_lab_at,
	:label_text => 'Sent to Lab at:' %>

<%= wrapped_datetime_spans :sample, :received_by_lab_at,
	:label_text => 'Received by Lab at:' %>

<%= wrapped_datetime_spans :sample, :aliquotted_at,
	:label_text => 'Aliquotted at:' %>

<%#= render 'shipping_info' %>
