<% birth_certificates_sub_menu %>
<% id_bar_for(@study_subject) %>

<h4>Birth Certificate List Validation</h4>

<p>case study_subject info</p>
<table><tbody>
<tr>
 <td><b><%=@study_subject.full_name%></b></td>
 <td>sex: <%=@study_subject.sex%></td>
 <td>mom's race: TODO</td>
 <td>[cancel][save]</td>
</tr>
<tr>
 <td>&nbsp;</td>
 <td><%=mdy @study_subject.dob%></td>
 <td>mom's hispanicity: TODO</td>
 <td>&nbsp;</td>
</tr>
<tr>
 <td>&nbsp;</td>
 <td>born in cali? TODO</td>
 <td>mom's maiden:<%=@study_subject.mother_maiden_name%></td>
 <td>&nbsp;</td>
</tr>
<tr>
 <td>&nbsp;</td>
 <td>&nbsp;</td>
 <td>dad's hispanicity: TODO</td>
 <td>&nbsp;</td>
</tr>
</tbody></table>

<p>candidate controls</p>

<% if @controls.length > 0 %>
<table id='controls'><thead><tr>
<th>First Name</th>
<th>Last Name</th>
<th>DOB</th>
</tr></thead><tbody>
<% @controls.each do |control| %>
<tr class='row'>
<td><%= control.first_name %></td>
<td><%= control.last_name %></td>
<td><%=mdy control.dob %></td>
</tr>
<% end %>
</tbody></table>
<% else %>
<p>There are no controls.</p>
<% end %>
