<%= edit_link() %>

<p>IMPORTANT: When entering new abstract information, review each screen and remove any 'default' 0(zero) values that appear in any fields.</p>

<div class='table'>
<div class='columns'>
<div class='column'>
<div class='first_name field_wrapper'>
<span class='label'>* Patient First Name</span>
<span class='value'><%= @abstract.try(:study_subject).try(:first_name) || '&nbsp;' %></span>
</div><!-- class='first_name' -->
<div class='middle_name field_wrapper'>
<span class='label'>* Patient Middle Name</span>
<span class='value'><%= @abstract.try(:study_subject).try(:middle_name) || '&nbsp;' %></span>
</div><!-- class='middle_name' -->
<div class='last_name field_wrapper'>
<span class='label'>* Patient Last Name</span>
<span class='value'><%= @abstract.try(:study_subject).try(:last_name) || '&nbsp;' %></span>
</div><!-- class='last_name' -->
<div class='institution field_wrapper'>
<span class='label'>* Treatment Institution</span>
<span class='value'>&nbsp;</span>
</div><!-- class='institution' -->
<div class='hospital_number field_wrapper'>
<span class='label'>* Hospital Record #</span>
<span class='value'><%= @abstract.try(:study_subject).try(:patient).try(:hospital_no) || '&nbsp;' %></span>
</div><!-- class='hospital_number' -->
<div class='dob field_wrapper'>
<span class='label'>* Patient Birth Date</span>
<span class='value'><%=mdy @abstract.try(:study_subject).try(:dob) %></span>
</div><!-- class='dob' -->
<div class='admitted_on field_wrapper'>
<span class='label'>* Admit Date</span>
<span class='value'><%=mdy @abstract.try(:study_subject).try(:patient).try(:admit_date) %></span>
</div><!-- class='admitted_on' -->
</div><!-- class='column' -->

<div class='column'>
<%= wrapped_date_spans(:abstract,:diagnosed_on,
	:label_text => "Diagnosis Date" ) %>
<%= wrapped_date_spans(:abstract,:treatment_began_on,
	:label_text => "Treatment Began") %>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->

<p>* At data entry, verify that these data are correct.  If not, please notify Barbara Rizzo of data discrepancies between the a stract information and case data.</p>

<%= abstract_pages(@abstract) %>
