<% javascripts('edit_event') %>
<% stylesheets(:event_edit) %>

<%= f.error_messages %>

<div class='control'><div class='control_row'>
<h3>New/Edit Subject Event</h3>
<div>
<% if @operational_event.new_record? %>
<%= link_to( 'Cancel', study_subject_events_path(@study_subject),
	:class => 'button' ) %>
<% else %>
<%= link_to( 'Cancel', 
	study_subject_event_path(@operational_event.study_subject_id, @operational_event),
	:class => 'button' ) %>
<% end %>
&nbsp;<%= f.submit 'Save' %>
</div>
</div></div>

<%= f.wrapped_datetime_text_field :occurred_at,
	:label_text => 'Event date:' %>

<%# can't be blank, so don't include blank %>
<%= f.wrapped_collection_select( :project_id,
	@study_subject.enrollments.collect(&:project), :id, :to_s,
	{ :label_text => 'project:' }
) %>

<p>select an event category first ...</p>
<div class='category field_wrapper'>
<label for='category'>category:</label>
<%# can't be blank, so don't include blank %>
<%= select_tag( :category,
	options_for_select([nil]+OperationalEventType.categories,
		@operational_event.operational_event_type.try(:event_category) )
) %>
</div>

<p>... then select an operational_event_type ...</p>
<%# can't be blank, so don't include blank 
	(need one item to be valid html in tests.  I'd like to do this better.) %>
<div class='operational_event_type_id collection_select field_wrapper'>
<label for="operational_event_operational_event_type_id">type:</label>
<%# an empty select tag is invalid html -%>
<% if @operational_event.operational_event_type.try(:event_category).blank? -%>
<%= f.select( :operational_event_type_id, [nil] ) %>
<% else -%>
<%= f.collection_select( :operational_event_type_id,
	OperationalEventType.with_category(
		@operational_event.operational_event_type.try(:event_category) 
	), :id, :to_s ) -%>
<% end %>
</div><!-- class='operational_event_type_id collection_select' -->




<p>specify ( Triggered by 'other' event type.  Currently, there is no place for this unless overriding the description. )</p>




<%= f.wrapped_text_field :description,
	:class => 'autosize',
	:label_text => 'description:' %>

<%= f.wrapped_text_area(:notes,
	:class => 'autosize',
	:label_text => 'notes:') %>


