<h3>Events</h3>
<% unless @events.to_a.empty? %>
 <table id='events'><thead><tr>
  <th><%= sort_link(:occurred_at,'Date') %></th>
  <th><%= sort_link(:project,'Project') %></th>
  <th><%= sort_link(:type,'Event&nbsp;Type') %></th>
  <th><%= sort_link(:description,'Description') %></th>
  <th>&nbsp;</th>
 </tr></thead><tbody>
  <%= render :partial => 'event', :collection => @events %>
 </tbody></table>
<% else %>
 <p>This subject has no operational events.</p>
<% end %>
<% if current_user.may_update_events? %>
<p><%= link_to 'add event', new_study_subject_event_path(@study_subject),
	:class => 'button' %></p>
<% end %>
