<%= content_tag_for :tr, ineligible_reason, :class => 'row' do %>
 <td class='key'>
  <%= ineligible_reason.key %>
 </td>
 <td class='description'>
  <%= ineligible_reason.description %>
 </td>
 <td class='manage'>
  <%= link_to( 'Edit', edit_ineligible_reason_path(ineligible_reason),
  :class => 'button' ) %>&nbsp;
  <% destroy_link_to 'Destroy', ineligible_reason_path(ineligible_reason) do %>
   <%= hidden_field_tag 'confirm', 
    "Destroy ineligible_reason '#{ineligible_reason}'?", :id => nil %>
 <% end %>
 </td>
<% end %>
