<% stylesheets(:candidate_control) %>
<h2>Candidate Control</h2>

<%= form_for @candidate_control do |f| %>
<%= f.error_messages %>

<%= render( :partial => 'duplicates', 
	:locals => {:f=>f} ) if @duplicates and !@duplicates.empty? %>

<div class='reject_control_wrapper'>
<div id='reject_control'>
<div class='info'>
<table><thead>
<tr><th>&nbsp;</th><th>name</th><th>studyid</th><th>childid</th><th>dob</th><th>sex</th><th>mother's race</th><th>mother's hisp</th><th>father's hisp</th></tr>
</thead><tbody>
<tr>
<td class='label'>subject</td>
<td><%= @study_subject.full_name %></td>
<td><%= @study_subject.studyid_to_s %></td>
<td><%= @study_subject.childid_to_s %></td>
<td><%=mdy @study_subject.dob %></td>
<td><%= @study_subject.sex %></td>
<td><%= (( !@study_subject.mother_race_code.blank?
	) ? Race.where(:code => @study_subject.mother_race_code).first : '&nbsp;'.html_safe ) %></td>
<%# NOTE There are 2 records in the database with mother_hispanicity of 3 -%>
<td><%=ynordk @study_subject.mother_hispanicity %></td>
<td><%=ynrdk @study_subject.father_hispanicity %></td>
</tr>
<tr>
<td class='label'>candidate control</td>
<td><%= @candidate_control.full_name %></td>
<td>-</td>
<td>-</td>
<td><%=mdy @candidate_control.dob %></td>
<td><%= @candidate_control.sex %></td>
<td><%#= (( @candidate_control.mother_race_code
	) ? Race.where(:code => @candidate_control.mother_race_code).first : '&nbsp;'.html_safe ) %></td>
<td><%#=ynrdk @candidate_control.mother_hispanicity %></td>
<td><%#=ynrdk @candidate_control.father_hispanicity %></td>
</tr>
</tbody></table>
</div><!-- class='info' -->

<div class='disposition'>
<div>
<div><p>disposition</p></div>
<div>
<p><%= f.radio_button('reject_candidate',false) %>
<%= f.label('reject_candidate_false','accept control') %></p>
<p><%= f.radio_button('reject_candidate',true) %>
<%= f.label('reject_candidate_true','reject control') %></p>
</div>
<div class='rejection'>
<p><%= f.label('rejection_reason') %>
<%= f.text_area('rejection_reason',:rows => 10) %></p>
</div><!-- class='rejection' -->
</div>
</div><!-- class='disposition' -->
</div>
<p>
<%= link_to 'cancel', study_subject_related_subjects_path(@study_subject),
	:class => 'button' %>
<%= f.submit 'continue' %>
</p>
</div><!-- class='reject_control_wrapper' -->
<% end %>
