<h4>Candidate Control</h4>

<div class='birth_datum_id field_wrapper'>
<span class='label'>Birth Datum ID</span>
<%= link_to "#{@candidate_control.birth_datum_id}",
	@candidate_control.birth_datum %>
</div><!-- class='birth_datum_id field_wrapper' -->

<div class='study_subject_id field_wrapper'>
<span class='label'>Study Subject</span>
<% if @candidate_control.study_subject %>
<%= link_to @candidate_control.study_subject, @candidate_control.study_subject %>
<% else %>
No Study Subject Set
<% end %>
</div><!-- class='study_subject_id field_wrapper' -->

<%= wrapped_spans(:candidate_control,:related_patid) %>

<%= wrapped_date_spans(:candidate_control,:assigned_on) %>
<%= wrapped_spans(:candidate_control,:reject_candidate) %>
<%= wrapped_spans(:candidate_control,:rejection_reason) %>

<p>
<%= link_to 'List', candidate_controls_path, :class => 'button' %>
</p>
