<%#

What is 'details' ?

	'details' is a boolean variable sometimes passed
	to this partial to flag whether or not to show 
	the details.

%>
<%# if details -%>
<%# DON"T DO THIS NO MORE %>
<%      if false     -%>
<div class='address_valid contact_valid'>
<div class='brief'>
<% @this_address = address %>
<%= wrapped_yndk_spans(:this_address, :is_valid, 
	:label_text => "valid:") %>
<%= wrapped_yes_or_no_spans(:this_address, :is_verified, 
	:label_text => "verified:") %>
</div><!-- class='brief' -->
<div class='details'>
<span class='why'><%= ( (address.is_not_valid?) ? 
	"why:&nbsp;#{h(address.why_invalid)}" : "&nbsp;" ).html_safe %>
</span>
<span class='how'><%= ( (address.is_verified?) ? 
	"how:&nbsp;#{h(address.how_verified)}" : "&nbsp;" ).html_safe %>
</span>
</div><!-- class='details' -->
</div><!-- class='address_valid contact_valid' -->
<% end -%><%# if defined?(details) and details -%>

<div class='edit'>
<%#

What is 'edit' ?

	'edit' is a boolean variable sometimes passed
	to this partial to flag whether or not to show 
	the edit link.

%>
<% if edit -%>
<%= link_to 'Edit', 
	edit_study_subject_address_path(address.study_subject_id,address.id), 
	:class => 'button' %>
<% else -%>
&nbsp;
<% end -%><%# if defined?(edit) and edit -%>
<%= link_to 'Show', 
	study_subject_address_path(address.study_subject_id,address.id), 
	:class => 'button' %>
</div><!-- class='edit' -->
