<div class='phone_number_wrapper contact_wrapper'>
<%= div_for phone_number do %>
<span class='phone_number'>
<%= phone_number.phone_number %>
<%= (phone_number.is_primary)?'primary':'alternate' %>
</span>
<% end %><!-- class='phone_number' -->

<div class='phone_number_meta contact_meta'>
<span class='type'>type:&nbsp;<%= phone_number.phone_type %></span>
<span class='source'>source:&nbsp;<%= phone_number.data_source %></span>
</div><!-- class='phone_number_meta' -->

<%= render :partial => 'study_subject/contacts/phone_number_details', :locals => {
	:details => ( ( defined?(details) ) ? details : false ),
	:edit    => ( ( defined?(edit)    ) ? edit    : false ),
	:phone_number => phone_number
	} %>
</div><!-- class='phone_number_wrapper contact_wrapper' -->
