<% birth_certificates_sub_menu %>

<h4>Edit BC Request</h4>

<%= form_for(@bc_request) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_select :status, BcRequest.statuses %>
<%= f.wrapped_date_text_field :sent_on %>
<%= f.wrapped_date_text_field :returned_on %>
<%= f.wrapped_check_box :is_found %>
<%= f.wrapped_text_area :notes, :rows => 3, :cols => 50 %>
<%= f.submit 'Update', :id => nil, :name => nil %>
<% end %>
