<% birth_certificates_sub_menu %>

<h4><%= params[:status].try(:capitalize) %> BC Requests
<span><%= link_to "Download", 
	bc_requests_path(:status => params[:status],:format => 'csv'),
	:class => 'button right' %></span>
</h4>
<% if @bc_requests.empty? %>
<p>Sorry, but there are no <%= params[:status] %> bc requests.</p>
<% else %>
<table><thead>
<tr>
 <th>Study ID</th>
 <th>ICF Master ID</th>
 <th>Subject Name</th>
 <th>USC Request Date</th>
 <th>Status</th>
 <th>&nbsp;</th>
</tr></thead>
<tbody>
<% @bc_requests.each do |bc_request| %>
 <% study_subject = StudySubject.find(bc_request.study_subject_id) %>
 <tr class='row'>
  <td><%= link_to study_subject.studyid, study_subject %></td>
  <td><%= study_subject.icf_master_id %></td>
  <td><%= "#{study_subject.first_name} #{study_subject.last_name}" %></td>
  <td><%=mdy bc_request.sent_on %></td>
  <td><%= bc_request.status %></td>
  <td><%= link_to 'Edit', edit_bc_request_path(bc_request), :class => 'button' %></td>
 </tr>
<% end %>
</tbody></table>
<% end %>
