<% birth_certificates_sub_menu %>

<h4>Birth Certificate Requests for Control Matching</h4>

<p>Add case to BC Request List</p>

<% form_tag(bc_requests_path,:method => :post) do %>
<p><span>Enter PatID:</span>
<%= text_field_tag :patid, params[:patid], :id => nil  %>
<%= submit_tag 'submit', :name => nil %>
</p>
<div><span>Try one of ...</span>
<%= Subject.search(:types => 'case').collect(&:patid).sort.join(', ') %></div>
<% end %>

<hr/>

<h4>BC Request List</h4>
[confirm export]
[export for USC]
<% unless @active_bc_requests.empty? %>
<table style='font-size:8pt;'><thead>
<tr>
 <th>Remove</th>
 <th>Wait</th>
 <th>StudyID</th>
 <th>ICF Master ID</th>
 <th>Name</th>
 <th>Sex</th>
 <th>Born in CA?</th>
 <th>State ID No</th>
 <th>DOB</th>
</tr></thead>
<tbody>
<% @active_bc_requests.each do |bc_request| %>
<%# yet again, rails forgets its associations in development.  Can't seem to work any magic either. %>
<%# bc_request.subject.reload(:include => :identifier) %>
<%# don't know why just accessing subject through the association doesn't work, but it is most irritating %>
<% subject = Subject.find(bc_request.study_subject_id) %>
 <tr>
  <td>
   <% destroy_link_to "Destroy", bc_request_path(bc_request) do %>
    <%= hidden_field_tag 'confirm', "Destroy bc_request '#{bc_request}'?", :id => nil %>
    <%= submit_link_to('Destroy') %>
   <% end %>
  </td>
  <td>
   <% form_link_to 'Wait', update_status_bc_request_path(bc_request), 'method' => 'put' do %>
    <%= hidden_field_tag :status, 'waitlist' %>
    <%= submit_link_to('Wait') %>
   <% end %>
  </td>
  <td><%= link_to subject.identifier.studyid, subject %></td>
  <td>icfmasterid</td>
  <td><%= subject.full_name %></td>
  <td><%= subject.sex %></td>
  <td>born in cali</td>
  <td><%= subject.state_id_no %></td>
  <td><%=mdy subject.dob %></td>
 </tr>
<% end %><%# @active_bc_requests.each do |bc_request| %>
</tbody>
</table>
<% end %><%# unless @active_bc_requests.empty? %>

<hr/>

<h4>Waiting List</h4>

<% unless @waitlist_bc_requests.empty? %>
<table style='font-size:8pt;'><thead>
<tr>
 <th>Move to Request</th>
 <th>StudyID</th>
 <th>ICF Master ID</th>
 <th>Name</th>
 <th>Comments</th>
 <th>&nbsp;</th>
</tr></thead>
<tbody>

<% @waitlist_bc_requests.each do |bc_request| %>
<%# yet again, rails forgets its associations in development.  Can't seem to work any magic either. %>
<%# bc_request.subject.reload(:include => :identifier) %>
<%# don't know why just accessing subject through the association doesn't work, but it is most irritating %>
<% subject = Subject.find(bc_request.study_subject_id) %>
 <tr>
  <td>
   <% form_link_to 'Activate', update_status_bc_request_path(bc_request), 'method' => 'put' do %>
    <%= hidden_field_tag :status, 'active' %>
    <%= submit_link_to('Activate') %>
   <% end %>


<%# 
	TODO

	probably much simpler (not restful) to just create 'activate' and 'waitlist' routes for bc_requests
	as they will be editable (comments only) OR need to change :status to 'bc_request[status]'
	and do a more general update
%>


  </td>
  <td><%= link_to subject.identifier.studyid, subject %></td>
  <td>icfmasterid</td>
  <td><%= subject.full_name %></td>
  <td><%= bc_request.notes %></td>
  <td><%= link_to 'Edit', edit_bc_request_path(bc_request), :class => 'button' %></td>
 </tr>
<% end %><%# @waitlist_bc_requests.each do |bc_request| %>
</tbody>
</table>
<% end %><%# unless @waitlist_bc_requests.empty? %>
