<% birth_certificates_sub_menu %>

<h4>Birth Certificate Requests for Control Matching</h4>

<p>Add case to BC Request List</p>

<% form_tag(bc_requests_path,:method => :post) do %>
<p><span>Enter PatID:</span>
<%= text_field_tag :patid, params[:patid], :id => nil  %>
<%= submit_tag 'submit', :name => nil %>
</p>
<div><span>Try one of ...</span>
<%= StudySubject.search(:types => 'case').collect(&:patid).sort.join(', ') %></div>
<% end %>

<hr/>

<h4>BC Request List
<span>
<%= link_to "Confirm Export", confirm_bc_requests_path, :class => 'button' %>
<%= link_to "Download", 
	bc_requests_path(:status => 'active',:format => 'csv'),
	:class => 'button' %>
</span>
</h4>
<% if @active_bc_requests.empty? %>
<p>Sorry, but there are no active bc requests at this time.</p>
<% else %>
<table style='font-size:8pt;'><thead>
<tr>
 <th>Remove</th>
 <th>Wait</th>
 <th>StudyID</th>
 <th>ICF Master ID</th>
 <th>Name</th>
 <th>Sex</th>
 <th>Born in CA?</th>
 <th>State ID No</th>
 <th>DOB</th>
</tr></thead>
<tbody>
<% @active_bc_requests.each do |bc_request| %>
 <% study_subject = bc_request.study_subject %>
 <tr class='row'>
  <td>
   <% destroy_link_to "Remove", bc_request_path(bc_request) do %>
    <%= hidden_field_tag 'confirm', "Remove BC Request '#{bc_request}'?", :id => nil %>
   <% end %>
  </td>
  <td>
   <% form_link_to 'Wait', update_status_bc_request_path(bc_request), 'method' => 'put' do %>
    <%= hidden_field_tag :status, 'waitlist' %>
   <% end %>
  </td>
  <td><%= link_to study_subject.studyid, study_subject %></td>
  <td><%= study_subject.icf_master_id %></td>
  <td><%= "#{study_subject.first_name} #{study_subject.last_name}" %></td>
  <td><%= study_subject.sex %></td>
  <td>born in cali</td>
  <td><%= study_subject.state_id_no %></td>
  <td><%=mdy study_subject.dob %></td>
 </tr>
<% end %><%# @active_bc_requests.each do |bc_request| %>
</tbody>
</table>
<% end %><%# unless @active_bc_requests.empty? %>

<hr/>

<h4>Waiting List</h4>

<% if @waitlist_bc_requests.empty? %>
<p>Sorry, but there are no waitlist bc requests at this time.</p>
<% else %>
<table style='font-size:8pt;'><thead>
<tr>
 <th>Move to Request</th>
 <th>StudyID</th>
 <th>ICF Master ID</th>
 <th>Name</th>
 <th>Comments</th>
 <th>&nbsp;</th>
</tr></thead>
<tbody>

<% @waitlist_bc_requests.each do |bc_request| %>
 <% study_subject = bc_request.study_subject %>
 <tr class='row'>
  <td>
   <% form_link_to 'Activate', update_status_bc_request_path(bc_request), 'method' => 'put' do %>
    <%= hidden_field_tag :status, 'active' %>
   <% end %>


<%# 
	TODO

	probably much simpler (not restful) to just create 'activate' and 'waitlist' routes for bc_requests
	as they will be editable (comments only) OR need to change :status to 'bc_request[status]'
	and do a more general update
%>


  </td>
  <td><%= link_to study_subject.studyid, study_subject %></td>
  <td><%= study_subject.icf_master_id %></td>
  <td><%= study_subject.full_name %></td>
  <td><%= bc_request.notes %></td>
  <td><%= link_to 'Edit', edit_bc_request_path(bc_request), :class => 'button' %></td>
 </tr>
<% end %><%# @waitlist_bc_requests.each do |bc_request| %>
</tbody>
</table>
<% end %><%# unless @waitlist_bc_requests.empty? %>
