<% stylesheets(:bc_requests) %>
<% birth_certificates_sub_menu %>

<h4>Birth Data Requests for Control Matching</h4>

<p>Add case to Birth Data Request List</p>

<%= form_tag(bc_requests_path,:method => :post) do %>
<p>
<%= text_field_tag :q, params[:q], :id => nil  %>
<span>Find case by </span>
<%= submit_tag 'patid' %>
<span> or </span>
<%= submit_tag 'icf master id' %>
</p>
<% end %>

<hr/>

<h4>Birth Data Request List
<span>
<%= link_to "Confirm Export", confirm_bc_requests_path, :class => 'button' %>
<%= link_to "Download", 
	bc_requests_path(:status => 'active',:format => 'csv'),
	:class => 'button' %>
</span>
</h4>
<% if @active_bc_requests.empty? %>
<p>Sorry, but there are no active birth data requests at this time.</p>
<% else %>
<table class='bc_requests'><thead>
<tr>
<!-- <th>Remove</th> --><th>&nbsp;</th>
<!-- <th>Wait</th> --><th>&nbsp;</th>
 <th>StudyID</th>
 <th>ICF Master ID</th>
 <th>Name</th>
 <th>Sex</th>
<!-- <th>Born in CA?</th> -->
 <th>State ID No</th>
 <th>DOB</th>
</tr></thead>
<tbody>
<% @active_bc_requests.each do |bc_request| %>
 <% study_subject = bc_request.study_subject %>
 <tr class='row'>
  <td>
<%= form_tag bc_request, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Remove Birth Data Request '#{bc_request}'?", :id => nil %>
<%= submit_tag 'Remove', :name => nil %>
<% end %>
  </td>
   <%# status is part of the action url, not an input field here %>
  <td><%= button_to( 'Wait', update_status_bc_request_path(bc_request, :status => 'waitlist' ), :method => 'put')  -%></td>
  <td><%= link_to study_subject.studyid_to_s, study_subject %></td>
  <td class='nowrap'><%= study_subject.icf_master_id_to_s %></td>
  <td class='nowrap'><%= "#{study_subject.first_name} #{study_subject.last_name}" %></td>
  <td><%= study_subject.sex %></td>
 <!-- <td>TODO</td> -->
  <td><%= study_subject.state_id_no %></td>
  <td><%=mdy study_subject.dob %></td>
 </tr>
<% end %><%# @active_bc_requests.each do |bc_request| %>
</tbody>
</table>
<% end %><%# unless @active_bc_requests.empty? %>

<hr/>

<h4>Waiting List</h4>

<% if @waitlist_bc_requests.empty? %>
<p>Sorry, but there are no waitlist birth data requests at this time.</p>
<% else %>
<table class='bc_requests'><thead>
<tr>
<!-- <th>Move to Request</th> --><th>&nbsp;</th>
 <th>StudyID</th>
 <th>ICF Master ID</th>
 <th>Name</th>
 <th>Comments</th>
 <th>&nbsp;</th>
</tr></thead>
<tbody>

<% @waitlist_bc_requests.each do |bc_request| %>
 <% study_subject = bc_request.study_subject %>
 <tr class='row'>
<%# 
	TODO

	probably much simpler (not restful) to just create 'activate' and 'waitlist' routes for bc_requests
	as they will be editable (comments only) OR need to change :status to 'bc_request[status]'
	and do a more general update
%>
   <%# status is part of the action url, not an input field here %>
  <td><%= button_to( 'Activate', update_status_bc_request_path(bc_request, :status => 'active'), :method => 'put' ) -%></td>
  <td><%= link_to study_subject.studyid_to_s, study_subject %></td>
  <td class='nowrap'><%= study_subject.icf_master_id_to_s %></td>
  <td class='nowrap'><%= study_subject.full_name %></td>
  <td><%= bc_request.notes %></td>
  <td><%= link_to 'Edit', edit_bc_request_path(bc_request), :class => 'button' %></td>
 </tr>
<% end %><%# @waitlist_bc_requests.each do |bc_request| %>
</tbody>
</table>
<% end %><%# unless @waitlist_bc_requests.empty? %>
