<%= form_for(@diagnosis, :html => { :class => 'edit_diagnosis'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :description %>
<p>
<%= f.submit( (@diagnosis.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', diagnoses_path, :class => 'button' %>
</p>
<% end %>
