<%# sub_menu_for(@study_subject) %>

<%= form_for(@abstract,:url => abstract_name_path(@abstract)) do |f| %>

<%= f.error_messages %>

<fieldset><legend><%= @page_title %></legend>

<%= f.wrapped_text_field(:abstractor_id,
	:label_text => 'Abstractor Name' ) %>
<%= f.wrapped_date_text_field(:abstracted_on,
	:label_text => 'Abstractor Date' ) %>
<%= f.wrapped_text_field(:reviewer_id,
	:label_text => 'Reviewer Name' ) %>
<%= f.wrapped_date_text_field(:reviewed_on,
	:label_text => 'Reviewer Date' ) %>
<%#= f.wrapped_text_field(:user_id,
	:label_text => 'Data Entry Name' ) %>
<p>Perhaps this should be set on creation, not manually ??</p>
<%= f.wrapped_date_text_field(:data_entry_done_on,
	:label_text => 'Data Entry Date' ) %>

<p>Abstract Version</p>

</fieldset>

<%#= f.submit_bar(controller.class.name) %>
<%= f.submit_bar() %>
<% end %>
