<%= content_tag_for( :tr, data_source, :class => 'row' ) do %>
 <td class='key'><%= data_source.key -%></td>
 <td class='description'><%= data_source.description -%></td>
 <td class='manage'>
<%= link_to( "View", data_source_path(data_source), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_data_source_path(data_source), :class => 'button' ) -%>&nbsp;
<%= form_tag data_source, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy data_source '#{data_source}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='data_source' -->
