<%# javascripts('edit_sample') %>
<%# stylesheets(:sample_edit) %>
<%# sub_menu_for(@study_subject) %>
<%# id_bar_for(@study_subject) %>

<%= form_for( @sample,
	:url => receive_sample_path(:study_subject_id => @study_subject.id) ) do |f| %>
<%= f.error_messages %>

<%# this alignment will get mucked up with big names %>

<div id='subject_control_bar'>
<h4><%= @study_subject.full_name %></h4>
<div>
<p>studyid: <%= @study_subject.studyid_to_s %></p>
<p>mother name: <%= @study_subject.mothers_name %></p>
<p>reference date: <%=mdy @study_subject.reference_date %></p>
</div>
<div>
<p>icf master id: <%= @study_subject.icf_master_id_to_s %></p>
<p>&amp; icf master id: <%= @study_subject.mother.try(:icf_master_id_to_s) %></p>
<p>hospital record no: <%= @study_subject.hospital_no %></p>
</div>
<div class='buttons'>
<%= link_to( 'Cancel', new_receive_sample_path,
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %>
</div><!-- class='buttons' -->
</div>

<h3>NOTE: THIS IS THE EXACT SUBJECT GIVEN, WHETHER IT WAS MOTHER OR CHILD.</h3>

<h3>NOTE: THESE ARE ALL THE SUBJECT ENROLLMENTS (ignoring consent for now)</h3>
<%= f.wrapped_collection_select(:project_id,
	@study_subject.enrollments.collect(&:project), :id, :to_s,
	{ :include_blank => true }) %>

<%= f.wrapped_grouped_collection_select(:sample_type_id, 
		SampleType.roots, :children, :to_s, :id, :to_s,
	{ :include_blank => true }) %>

<%= f.wrapped_collection_select(:sample_temperature_id,
	SampleTemperature.all, :id, :to_s,
	{ :include_blank => true }) %>

<p>Be advised that these datetime selectors will accept partial datetimes that can generate an incorrect datetime. May not be true in Rails 3.</p>
<p>In Rails 3, Year, Month and Day are required.</p>
<p>Added sent_to_subject_on as is required in chronology. Change to sent_to_subject_at datetime like the others?</p>

<%#	:class => 'datepicker',  unneeded as helper adds it %>

<%= f.wrapped_date_text_field :sent_to_subject_on,
	:label_text => 'Sent to Subject on:' %>

<%= f.wrapped_datetime_select :collected_at,
	:prompt => true,
	:label_text => 'Collected:' %>

<%= f.wrapped_datetime_select :shipped_at,
	:prompt => true,
	:label_text => 'Shipped:' %>

<%= f.wrapped_datetime_select :received_by_ccls_at,
	:prompt => true,
	:label_text => 'Received:' %>

<% end %>
