<%# javascripts('edit_sample') %>
<%# stylesheets(:sample_edit) %>
<%# sub_menu_for(@study_subject) %>
<%# id_bar_for(@study_subject) %>


<% form_for( @sample,
	:url => receive_sample_path(:study_subject_id => @study_subject.id) ) do |f| %>

<%= f.error_messages %>

<%# this will get mucked up with big names %>

<div id='subject_control_bar'>
<h4><%= @study_subject.full_name %></h4>
<div>
<p>studyid: <%= @study_subject.studyid_to_s %></p>
<p>mother name: <%= @study_subject.mothers_name %></p>
<p>reference date: <%=mdy @study_subject.reference_date %></p>
</div>
<div>
<p>icf master id: <%= @study_subject.icf_master_id_to_s %></p>
<p>&amp; icf master id: <%= @study_subject.mother.try(:icf_master_id_to_s) %></p>
<p>hospital record no: <%= @study_subject.hospital_no %></p>
</div>
<div class='buttons'>
<%= link_to( 'Cancel', new_receive_sample_path,
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %>
</div><!-- class='buttons' -->
</div>



<%# we don't want this as part of "f." as isn't a sample attribute %>
<div class='field_wrapper'>
<%= label_tag(:project_id) %>
<%= select_tag( :project_id, "<option></option>" +
	options_from_collection_for_select(@projects, :id, :to_s)) %>
</div>


<h3>INSERT SAMPLE SOURCE</h3>

<%= f.wrapped_grouped_collection_select( :sample_type_id, 
		SampleType.roots, :children, :to_s, :id, :to_s,
	{ :include_blank => true }
) %>

<h3>INSERT STORAGE TEMPERATURE</h3>

<p>Be advised that these datetime selectors will accept partial datetimes that will generate an incorrect datetime.</p>

<%= f.wrapped_datetime_select :collected_at,
	:prompt => true,
	:label_text => 'Collected:' %>

<%= f.wrapped_datetime_select :shipped_at,
	:prompt => true,
	:label_text => 'Shipped:' %>

<%= f.wrapped_datetime_select :received_by_ccls_at,
	:prompt => true,
	:label_text => 'Received:' %>

<% end %>
