<h4>Receive Sample</h4>

<%= form_tag(new_receive_sample_path,:id => :receive_sample, :method => :get) do %>
<p>
<%= text_field_tag :q, params[:q], :id => nil  %>
<%= submit_tag 'find subject by exact studyid or icf master id', :name => nil %>
</p>
<p>* Mother subjects do not have studyids.  Enter her child's studyid or her own icf master id here.</p>
<% end %>


<% if @sample and !@sample.new_record? %>
<%= render :partial => 'sample' %>
<% elsif @study_subjects %>
<%= render :partial => 'multiple' %>
<% elsif @study_subject %>
<%= render :partial => 'single' %>
<% end %>
