<% stylesheets(:receive_sample) %>
<h4>Receive Sample</h4>

<% form_tag(new_receive_sample_path,:method => :get) do %>
<p>( Currently exact match only )</p>
<p><span>Study ID:*</span>
<%= text_field_tag :studyid, params[:studyid], :id => nil  %>
<span>or</span>
<span>ICF Master ID:</span>
<%= text_field_tag :icf_master_id, params[:icf_master_id], :id => nil  %>
<%= submit_tag 'find subject', :name => nil %>
</p>
<p>* Mother subjects do not have studyids.  Enter her child's studyid here or her icf master id in the next field.</p>
<% end %>


<% if @sample and !@sample.new_record? %>
<%= render :partial => 'sample' %>
<% elsif @study_subjects %>
<%= render :partial => 'multiple' %>
<% elsif @study_subject %>
<%= render :partial => 'single' %>
<% end %>
