<p><%= @live_birth_data.csv_file %></p><%# this is the URL, unset and unused %>
<p><%= @live_birth_data.csv_file.path %></p>
<p><%= @live_birth_data.csv_file_file_name %></p>
<p><%= @live_birth_data.csv_file_content_type %></p>
<p><%= @live_birth_data.csv_file_file_size %></p>
<p><%= @live_birth_data.csv_file_updated_at %></p>

<%= link_to( 'Edit', edit_live_birth_data_path(@live_birth_data), :class => 'button' ) %> |
<%= link_to( 'Back', live_birth_datas_path, :class => 'button' ) %>
