<tr><%# status is actually part of the action url, not an input field here %>
<td><% if sample_transfer.active? %>
<%= button_to( 'Wait list', update_status_sample_transfer_path(sample_transfer, :status => 'waitlist'), :method => 'put' ) -%>
<% else %>
<%= button_to( 'Activate', update_status_sample_transfer_path(sample_transfer, :status => 'active'), :method => 'put' ) -%>
<% end %></td>

<% if sample_transfer.sample %>
<td><%= link_to sample_transfer.sample.study_subject.icf_master_id_to_s,
	sample_transfer.sample.study_subject %></td>
<td><%= sample_transfer.sample.study_subject.studyid_to_s %></td>
<td><%= link_to sample_transfer.sample.sampleid, 
	study_subject_sample_path(sample_transfer.sample.study_subject_id, 
		sample_transfer.sample.id) %></td>
<td><%= sample_transfer.sample.sample_type %></td>
<td><%= sample_transfer.sample.sample_type.gegl_sample_type_id %></td>
<td><%=mdy sample_transfer.sample.received_by_ccls_at %></td>
<td><% if sample_transfer.active? %>
<%= link_to "print&nbsp;label".html_safe, 
	study_subject_sample_path(sample_transfer.sample.study_subject_id,
		sample_transfer.sample.id, :format => :pdf), 
	:class => :button, :target => :new %>
<% else %>
&nbsp;
<% end %><%# if sample_transfer.active? %></td>
<% else %>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>&nbsp;</td>
<% end %><%# if sample_transfer.sample %>

<td>
<% if current_user.may_destroy_sample_transfers? %>
	<%= form_tag sample_transfer, :method => :delete, :class => 'destroy_link_to' do %>
	<%= hidden_field_tag 'confirm', "Destroy sample_transfer '#{sample_transfer}'?", :id => nil %>
	<%= submit_tag 'Destroy', :name => nil %>
	<% end %>
<% else %>
&nbsp;
<% end %>
</td>
</tr>
