<h4>Sample Transfers</h4>

<% if @active_sample_transfers.to_a.empty? %>
<p>Sorry, but no active sample transfers found.</p>
<% else %>

<p><%= link_to "Export manifest FIRST!", 
	sample_transfers_path(:format => :csv), 
	:class => :button %></p>

<%= form_tag(confirm_sample_transfers_path,:method => :put,
	:id => 'confirm_sample_transfers') do %>
<%= submit_tag 'THEN confirm transfer of samples to ...' %>
<%= select_tag 'organization_id',
	options_from_collection_for_select( 
		SampleLocation.active.includes(:organization), :organization_id, :to_s, 
		:selected => params[:organization_id]||Organization['GEGL'].id ) %>
<% end %>
<br/>
<br/>

<table><thead><tr>
<th>&nbsp;</th>
<th>ICF Master ID</th>
<th>Study ID</th>
<th>Sample ID</th>
<th>CCLS Sample Type</th>
<th>GEGL Sample Type</th>
<th>Date Received</th>
<th>&nbsp;</th>
</tr></thead>
<tbody>
<%= render :partial => 'sample_transfer', :collection => @active_sample_transfers %>
</tbody>
</table>
<% end %>

<br/>
<hr/>
<br/>
<%#

	It would be nicer if these were in the same table so the columns lined up.

%>

<% if @waitlist_sample_transfers.empty? %>
<p>Sorry, but no waitlist sample transfers found.</p>
<% else %>
<table><thead><tr>
<th>&nbsp;</th>
<th>ICF Master ID</th>
<th>Study ID</th>
<th>Sample ID</th>
<th>CCLS Sample Type</th>
<th>GEGL Sample Type</th>
<th>Date Received</th>
<th>&nbsp;</th>
</tr></thead>
<tbody>
<%= render :partial => 'sample_transfer', :collection => @waitlist_sample_transfers %>
</tbody>
</table>
<% end %>
