<h4>Sample Transfers</h4>


<p>NOTE: If I understand this correctly, you must export the manifest before confirming the transfer as confirming the transfer will remove them from the active list</p>

<%= form_tag(confirm_sample_transfers_path,:method => :put,
	:id => 'confirm_sample_transfers') do %>
<h4>Manifest</h4>
<label>transfer samples to ...</label>
<%= select_tag 'organization_id',
	options_from_collection_for_select( 
		SampleLocation.active.includes(:organization), :organization_id, :to_s, 
		:selected => params[:organization_id]||Organization['GEGL'].id ) %>
<%= submit_tag 'confirm transfer' %>
<% end %>

<%= link_to "export manifest", 
	sample_transfers_path(:format => :csv), 
	:class => :button %>

<% if @active_sample_transfers.to_a.empty? %>
<p>Sorry, but no active sample transfers found.</p>
<% else %>
<table><thead><tr>
<th>&nbsp;</th>
<th>ICF Master ID</th>
<th>Study ID</th>
<th>Sample ID</th>
<th>CCLS Sample Type</th>
<th>GEGL Sample Type</th>
<th>Date Received</th>
<th>&nbsp;</th>
</tr></thead>
<tbody>
<%= render :partial => 'sample_transfer', :collection => @active_sample_transfers %>
</tbody>
</table>
<% end %>

<hr/>
<%#

	It would be nicer if these were in the same table so the columns lined up.

%>

<% if @waitlist_sample_transfers.empty? %>
<p>Sorry, but no waitlist sample transfers found.</p>
<% else %>
<table><thead><tr>
<th>&nbsp;</th>
<th>ICF Master ID</th>
<th>Study ID</th>
<th>Sample ID</th>
<th>CCLS Sample Type</th>
<th>GEGL Sample Type</th>
<th>Date Received</th>
<th>&nbsp;</th>
</tr></thead>
<tbody>
<%= render :partial => 'sample_transfer', :collection => @waitlist_sample_transfers %>
</tbody>
</table>
<% end %>
