<%= form_for(@abstract,
	:url => abstract_diagnosis_path(@abstract),
	:html => { :class => 'edit_abstract diagnosis' } ) do |f| %>

<%= f.error_messages %>

<fieldset><legend><%= @page_title %></legend>

<h4>Sources of responses on this page -- reviewing Oncologist's report</h4>
<div class='table'>
<div class='columns'>
<div class='column'>
<%= f.wrapped_yndk_select(:diagnosis_is_all,
	:label_text => "ALL" ) %>
<%= f.wrapped_text_field(:diagnosis_all_type_id,
	:label_text => "ALL Type" ) %>
<%= f.wrapped_yndk_select(:diagnosis_is_cml,
	:label_text => "CML" ) %>
<%= f.wrapped_yndk_select(:diagnosis_is_cll,
	:label_text => "CLL" ) %>
<%= f.wrapped_yndk_select(:diagnosis_is_other,
	:label_text => "Other" ) %>
</div><!-- class='column' -->
<div class='column'>
<%= f.wrapped_yndk_select(:diagnosis_is_aml,
	:label_text => "AML" ) %>
<%= f.wrapped_text_field(:diagnosis_aml_type_id,
	:label_text => "AML Type" ) %>
<%= f.wrapped_yndk_select(:diagnosis_is_b_all,
	:label_text => "B Lineage") %>
<%= f.wrapped_yndk_select(:diagnosis_is_t_all,
	:label_text => "T Lineage") %>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->

<h4>ICDO Code(s)...</h4>
<p>No matching fields? 1990 ICDO #, 2000 ICDO #</p>

<h4>Legacy ICDO Data (only on records prior to 8/1/2009)* (data below is read-only)</h4>
<%= f.wrapped_text_field(:diagnosis_icdo_number,
	:label_text => "ICDO #" ) %>
<p>Missing second ICDO # from view</p>
<%= f.wrapped_text_field(:diagnosis_icdo_description,
	:label_text => "ICDO Description" ) %>

<p>* The following fields are set to 'read only' to permit viewing of ICDO data in records added before the ICDO Code(s)... section above was added.</p>

</fieldset>

<%= f.submit_bar(controller.class.name) %>
<% end %>
