<%= edit_link() %>
<div class='diagnosis'>
<h4>Sources of responses on this page -- reviewing Oncologist's report</h4>
<div class='table'>
<div class='columns'>
<div class='column'>
<%= wrapped_yndk_spans(:abstract,:diagnosis_is_all,
	:label_text => "ALL" ) %>
<%= wrapped_spans(:abstract,:diagnosis_all_type_id,
	:label_text => "ALL Type" ) %>
<%= wrapped_yndk_spans(:abstract,:diagnosis_is_cml,
	:label_text => "CML" ) %>
<%= wrapped_yndk_spans(:abstract,:diagnosis_is_cll,
	:label_text => "CLL" ) %>
<%= wrapped_yndk_spans(:abstract,:diagnosis_is_other,
	:label_text => "Other" ) %>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_yndk_spans(:abstract,:diagnosis_is_aml,
	:label_text => "AML" ) %>
<%= wrapped_spans(:abstract,:diagnosis_aml_type_id,
	:label_text => "AML Type" ) %>
<%= wrapped_yndk_spans(:abstract,:diagnosis_is_b_all,
	:label_text => "B Lineage" ) %>
<%= wrapped_yndk_spans(:abstract,:diagnosis_is_t_all,
	:label_text => "T Lineage" ) %>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->

<h4>ICDO Code(s)...</h4>
<p>No matching fields?</p>

<h4>Legacy ICDO Data (only on records prior to 8/1/2009)* (data below is read-only)</h4>
<%= wrapped_spans(:abstract,:diagnosis_icdo_number,
	:label_text => "ICDO #" ) %>
<%= wrapped_spans(:abstract,:diagnosis_icdo_description,
	:label_text => "ICDO Description" ) %>

<p>* The following fields are set to 'read only' to permit viewing of ICDO data in records added before the ICDO Code(s)... section above was added.</p>

</div><!-- class='diagnosis' -->
<%= abstract_pages(@abstract) %>
