<%= form_for(@abstract,:url => abstract_therapy_response_path(@abstract)) do |f| %>

<%= f.error_messages %>

<fieldset><legend><%= @page_title %></legend>

<%= f.wrapped_text_field(:response_fab_subtype,
	:label_text => "Diagnosed Subtype:") %>

<p>Notes: Test dates may not correspond exactly to days 7, 14, &amp; 28.  Please note the dates of each biopsy.  Check the calculated field to see exact number days betwen diagnosis and test.</p>

<h4>Day 7: Bone Marrow Biopsy/Aspirate</h4>
<%= f.wrapped_yndk_select(:response_report_found_day_7,
	:label_text => "Found?") %>
<%= f.wrapped_date_text_field(:response_report_on_day_7,
	:label_text => "Date") %>
<%= f.wrapped_text_field(:response_classification_day_7,
	:label_text => "Classification") %>
<%= f.wrapped_text_field(:response_blasts_day_7,
	:label_text => "Percentage blasts") %>
<%= f.wrapped_yndk_select(:response_is_inconclusive_day_7,
	:label_text => "Inconclusive Results?") %>
<%#= f.wrapped_text_field(:response_blasts_units_day_7,
	:label_text => "Units") %>

<h4>Day 14: Bone Marrow Biopsy/Aspirate</h4>
<%= f.wrapped_yndk_select(:response_report_found_day_14,
	:label_text => "Found?" ) %>
<%= f.wrapped_date_text_field(:response_report_on_day_14,
	:label_text => "Date") %>
<%= f.wrapped_text_field(:response_classification_day_14,
	:label_text => "Classification") %>
<%= f.wrapped_text_field(:response_blasts_day_14,
	:label_text => "Percentage blasts") %>
<%= f.wrapped_yndk_select(:response_is_inconclusive_day_14,
	:label_text => "Inconclusive Results?") %>
<%#= f.wrapped_text_field(:response_blasts_units_day_14,
	:label_text => "Units") %>

<h4>Day 28: Bone Marrow Biopsy/Aspirate</h4>
<%= f.wrapped_yndk_select(:response_report_found_day_28,
	:label_text => "Found?" ) %>
<%= f.wrapped_date_text_field(:response_report_on_day_28,
	:label_text => "Date") %>
<%= f.wrapped_text_field(:response_classification_day_28,
	:label_text => "Classification") %>
<%= f.wrapped_text_field(:response_blasts_day_28,
	:label_text => "Percentage blasts") %>
<%= f.wrapped_yndk_select(:response_is_inconclusive_day_28,
	:label_text => "Inconclusive Results?") %>
<%#= f.wrapped_text_field(:response_blasts_units_day_28,
	:label_text => "Units") %>

<%= f.wrapped_yndk_select(:response_day30_is_in_remission,
	:label_text => "At the end of induction (30 days), was the child in clinical remission?" ) %>

<p>* If no diagnosis date is entered, count will remain 0</p>

</fieldset>

<%= f.submit_bar(controller.class.name) %>
<% end %>
