<div class='current_address raf_section'>

<p>child's current home address</p>

<% @study_subject.addressings.build if @study_subject.addressings.empty? %>
<%= f.fields_for :addressings do |addressing_fields| %>
 <% addressing_fields.object.build_address if addressing_fields.object.address.nil? %>
 <% addressing_fields.fields_for :address do |address_fields| %>
  <%= address_fields.wrapped_text_field :line_1 %>
<%= address_fields.wrapped_text_field :unit, :label_text => 'Apt.' %>

  <div class='field_wrapper'>
   <%= address_fields.label :city, 'City, State Zip' -%><%= address_fields.text_field :city %>
   <%= address_fields.select :state, State.abbreviations, 
		{:include_blank => true}, :class => 'state' %>
   <%= address_fields.text_field :zip, :class => :zip %>
  </div>
  <%= address_fields.wrapped_text_field :county, :class => 'county_field' %>
 <% end %>
<% end %>

<% @study_subject.phone_numbers.build while( @study_subject.phone_numbers.length < 2 ) %>
<%= f.fields_for :phone_numbers, 
	@study_subject.phone_numbers[0] do |phone_number_fields| %>
 <%= phone_number_fields.wrapped_text_field :phone_number,
   :label_text => 'phone number:' %>
<% end -%>
<%= f.fields_for :phone_numbers, 
	@study_subject.phone_numbers[1] do |phone_number_fields| %>
 <%= phone_number_fields.wrapped_text_field :phone_number,
   :label_text => 'alternate phone:' %>
<% end -%>

</div><!-- class='current_address' -->
