<tr>
<%# This form shouldn't actually be reloaded so preseting 
		a radio button seems like it would be unnecessary %>
<td><%= radio_button_tag('duplicate_id', duplicate.id ) %></td>
<td><%= label_tag("duplicate_id_#{duplicate.id}",duplicate.full_name) %></td>

<%# organization is from patient and therefore only cases.
	as this duplicate subject may not be a case, we
	must 'try' code as organization may be nil. %>
<td><%= duplicate.organization.try(:code) %></td>

<td><%=mdy duplicate.admit_date %></td>
<td><%= duplicate.hospital_no %></td>
<td><%=mdy duplicate.dob %></td>
<td><%= duplicate.sex %></td>
<td><%= duplicate.studyid_to_s %></td>
<td><%= duplicate.childid_to_s %></td>
</tr>
