<tr>
<td>radio button</td>
<td><%= duplicate.full_name %></td>
<td><%= duplicate.organization.code %></td>
<td><%= duplicate.hospital_no %></td>
<td><%=mdy duplicate.dob %></td>
<td><%= duplicate.sex %></td>
<td><%= duplicate.studyid %></td>
<td><%= duplicate.childid %></td>
</tr>
