<%= content_tag_for :tr, race, :class => 'row' do %>
 <td class='key'><%= race.key %></td>
 <td class='description'><%= race.description %></td>
 <td class='manage'>
  <%= link_to( 'Edit', edit_race_path(race), :class => 'button' ) %>&nbsp;
<%= form_tag race, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy race '#{race}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %>
