<div class='eligibility raf_section'>

<%#
	radio_button(object_name, method, tag_value, options = {})
	label(object_name, method, content_or_options = nil, options = nil, &block)
	check_box(object_name, method, options = {}, checked_value = "1", unchecked_value = "0")
%>

<% @study_subject.build_patient if @study_subject.patient.nil? %>
<% f.fields_for :patient do |patient_fields| %>
<%#

	This is an auto-updated field.
	The label text also does not correspond directly to the variable name.

	Kickback will check these checkboxes even when not checked?????
	This is probably due to the true/false nature of the checkbox.
	May have to explicitly set the value with a condition.
	May be due to integer / string comparison?
	:checked => ( @study_subject.patient ==  YNDK[:yes] )

	Manual setting fixes, but still don't know why its needed.

%>
 <p>Is this patient under age 15?
  <%= patient_fields.check_box :was_under_15_at_dx, {
		:checked => ( @study_subject.patient.was_under_15_at_dx == YNDK[:yes] )
	}, YNDK[:yes], YNDK[:no] %>
  <%= patient_fields.label :was_under_15_at_dx, 'yes (eligible)' %>
 </p>
<% end %>

<%= f.subject_languages_select( [ Language['english'], Language['spanish'] ]) %>

<% f.fields_for :patient do |patient_fields| %>
 <p>Has this patient received previous treatment for leukemia or another cancer at any institution?</p>
 <p>
  <%= patient_fields.check_box :was_previously_treated, {
		:checked => ( @study_subject.patient.was_previously_treated == YNDK[:yes] )
	}, YNDK[:yes], YNDK[:no] %>
  <%= patient_fields.label :was_previously_treated, 'no (eligible)' %>
 </p>
<% end %>

<% f.fields_for :patient do |patient_fields| %>
 <p>Does the patient currently reside in California?
  <%= patient_fields.check_box :was_ca_resident_at_diagnosis, {
		:checked => ( @study_subject.patient.was_ca_resident_at_diagnosis == YNDK[:yes] )
	}, YNDK[:yes], YNDK[:no] %>
  <%= patient_fields.label :was_ca_resident_at_diagnosis, 'yes (eligible)' %>
 </p>
<% end %>

</div><!-- class='eligibility' -->
