<div class='samples raf_section'>
<%#

Set Value: 1 (yes)

notes: add patients.sampleWasCollected, int(11), default=null.  This data may be collected elsewhere where we will have a drop-down list.  As a result, these are not boolean responses.

as this field is currently a boolean, this will probably need changed

no default set in db, so both will be initially unchecked

%>

<% @study_subject.build_patient if @study_subject.patient.nil? %>
<%= f.fields_for :patient do |patient_fields| %>
 <p>Are there blood and bone marrow samples available for shipment to CCLS?</p>
 <p><%= patient_fields.radio_button :sample_was_collected, 1 %>
  <%= patient_fields.label :sample_was_collected, 
		'Yes -->; See Specimen Transmittal Form', :value => 1 %></p>
 <p><%= patient_fields.radio_button :sample_was_collected, 2 %>
  <%= patient_fields.label :sample_was_collected, 'No', :value => 2 %></p>
<% end %>

</div><!-- class='samples raf_section' -->
