<%= content_tag_for :tr, language, :class => 'row' do %>
 <td class='key'><%= language.key %></td>
 <td class='description'><%= language.description %></td>
 <td class='manage'>
  <%= link_to( 'Edit', edit_language_path(language), :class => 'button' ) %>&nbsp;
<%= form_tag language, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy language '#{language}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %>
