<h4>ICF Master Ids</h4>

<% unless @icf_master_ids.to_a.empty? %>
<p>This is all a bit much. Perhaps a nice table, link to subject, sortable.</p>
<table id='icf_master_ids'><thead><tr>
<th><%= sort_link('icf_master_id', 'ICF Master ID' ) %></th>
<th><%= sort_link('study_subject_id','study subject') %></th>
<th><%= sort_link('assigned_on', 'Assigned On' ) %></th>
</tr></thead><tbody>
<% @icf_master_ids.each do |icf_master_id| %>
<tr class='row'>
<td><%= icf_master_id.icf_master_id %></td>
<td><% if icf_master_id.study_subject %>
<%= link_to icf_master_id.study_subject, icf_master_id.study_subject %>
<% else %>
No Study Subject Set
<% end %></td>
<td><%=mdy icf_master_id.assigned_on %></td>
</tr>
<% end %>
</tbody></table><!-- id='icf_master_ids' -->

<div class='pagination wrapper'>
<%= will_paginate @icf_master_ids %>
</div>



<% else %>


<p>Sorry, but no icf master ids exist.</p>


<% end %>
