<% javascripts('raf') %>

<div class='prelim_info raf_section table'>

<div class='tablerow'>
<div class='organization_id'>
	<p><%= patient_fields.label :organization_id,
		"#{req('*')}&nbsp;treating institution:".html_safe %></p>

<% if @study_subject.try(:patient).try(:organization) %>
  <span><%= @study_subject.try(:patient).try(:organization) -%></span>
  <%= patient_fields.hidden_field :organization_id, 
		:value => @study_subject.try(:patient).try(:organization_id) %>
<% else %>
  <%= patient_fields.collection_select :organization_id, @hospitals,
		:organization_id, :to_s, :include_blank => true %>
<% end %>

</div><!-- class='organization_id' -->

<div class='admitting_oncologist'>
	<p><%= patient_fields.label :admitting_oncologist,
		"admitting oncologist:".html_safe %></p>
	<%= patient_fields.text_field :admitting_oncologist %>
</div><!-- class='admitting_oncologist' -->
</div><!-- class='tablerow' -->

<div class='tablerow'>
 <div class='childs names'>
  <p>child's name</p>
  <div class='child tablerow'>
   <span><%= f.text_field :first_name %></span>
   <span><%= f.text_field :middle_name %></span>
   <span><%= f.text_field :last_name %></span>
  </div><!-- class='child tablerow' -->
  <div class='child tablerow'>
   <span><%= "#{req('*')}&nbsp;first".html_safe %></span>
   <span>middle</span>
   <span><%= "#{req('*')}&nbsp;last".html_safe %></span>
  </div><!-- class='child tablerow' -->
 </div><!-- class='names' -->

<div class='hospital_no'>
	<p><%= patient_fields.label :hospital_no, 
		"#{req('*')}&nbsp;hospital record number:".html_safe %></p>
	<%= patient_fields.text_field :hospital_no %>
</div>
</div><!-- class='tablerow' -->

<div class='tablerow'>
	<%= patient_fields.wrapped_date_text_field :admit_date,
		:label_text => "#{req('*')}&nbsp;admit date:".html_safe %>

	<%= f.wrapped_date_text_field :dob,
		:label_text => "#{req('*')}&nbsp;child's date of birth:".html_safe %>
</div><!-- class='tablerow' -->

<div class='tablerow'>
<%# MAY need to change this to a radio button group %>
<%= f.wrapped_sex_select :sex,
	:label_text => "#{req('*')}&nbsp;sex:".html_safe %>


<%#

	undefined method `[]' for ActionView::Context:Module

	be advised that Context is also class in rails, so we must add :: prefix

%>
<div class='diagnosis'>
	<%= patient_fields.wrapped_collection_select :diagnosis_id,
		::Context['raf1'].diagnoses, :id, :to_s, :include_blank => true, 
		:label_text => "#{req('*')}&nbsp;diagnosis:".html_safe %>
	<%= patient_fields.wrapped_text_field :other_diagnosis,
		:label_text => "#{req('*')}&nbsp;specify other:".html_safe %>
</div>
</div><!-- class='tablerow' -->

</div><!-- class='prelim_info' -->
