<h4>New Control Selection</h4>

<% form_tag(cases_path,:method => :get) do %>
<p><span>PatID:</span>
<%= text_field_tag :patid, params[:patid], :id => nil  %>
<%= submit_tag 'find', :name => nil %>
</p>
<p>Enter the case's PatID to go to their Related Subjects screen. Once there, add controls by pressing the "Add Control" button.</p>
<div><span>Try one of ...</span>
<%= StudySubject.search(:types => 'case').collect(&:patid).sort.collect{|p| link_to(p, cases_path(:patid => p)) }.join(', ') %></div>
<% end %>

<% unless params[:patid].blank? %>
<div id='case_study_subject'>
<% if @study_subject %>
<h4><%= @study_subject.studyid %>&nbsp;:&nbsp;<%= @study_subject.full_name %></h4>
<ul>
<li>ICF Master ID:&nbsp;<%= @study_subject.icf_master_id_or_notice %></li>
<li>sex:&nbsp;<%= @study_subject.sex %></li>
<li>DOB:&nbsp;<%=mdy @study_subject.dob %></li>
<li>race:&nbsp;<%= @study_subject.races %></li>
<li>hispanicity:&nbsp;<%#= @study_subject.hispanicity %> </li>
<li>reference date:&nbsp;<%=mdy @study_subject.reference_date %></li>
</ul>
<%= link_to( 'Continue', case_path(@study_subject), :class => 'button' ) %>
<% else %>
<p>No case study_subject found with patid:<%=params[:patid]%></p>
<% end %>
</div><!-- id='case_study_subject' -->
<% end %>
