<%# stylesheets(:cases) %>
<%# stylesheets(:cases_new) %>
<%# javascripts(:cases_new) %>
<h3>New Patient Enrollment</h3>

<%= form_for(@study_subject, :url => cases_path,
	:html => { :class => 'raf edit_study_subject' }) do |f| %>

<%= f.error_messages %>

<%= render( :partial => 'duplicates', 
	:locals => {:f=>f} ) if @duplicates and !@duplicates.empty? %>
<%# if duplicates exist, the stylesheets will hide "div.study_subject_fields" %>
<div class='study_subject_fields'>
<%= render 'form', :f => f  %>
<p class='submit_bar'>
<%= f.submit 'New Case', :id => nil, :name => nil %>
</p>
</div><!-- class='study_subject_fields' -->
<% end %>
