<% sub_menu_for(@study_subject) %>
<% id_bar_for(@study_subject) %>

<h3>Related Subjects <span>
<%= link_to 'add control', new_case_control_path(@study_subject.id),:class => 'button' %>
</span></h3>
<% if @controls.empty? %>
 <p>No matching control study_subjects found.</p>
<% else %>
 <table><thead><tr>
  <th>studyid</th><th>name</th><th>subject type</th><th>dob</th>
 </tr></thead><tbody>
  <% @controls.each do |control| %>
   <tr>
    <td><%= link_to(control.studyid,study_subject_path(control)) %></td>
    <td><%= control.full_name %></td>
    <td><%= control.subject_type %></td>
    <td><%=mdy control.dob %></td>
   </tr>
  <% end %>
 </tbody></table>
<% end %>


<h4>Rejected Controls</h4>
<% if @rejected_controls.empty? %>
 <p>No matching rejected controls found.</p>
<% else %>
 <table><thead><tr>
  <th>name</th><th>sex</th><th>dob</th><th>comments (reason for rejection)</th>
 </tr></thead><tbody>
  <% @rejected_controls.each do |control| %><%# these are CandidateControls NOT StudySubjects %>
   <tr>
    <td><%= control.full_name %></td>
    <td><%= control.sex %></td>
    <td><%=mdy control.dob %></td>
    <td><%= control.rejection_reason %></td>
   </tr>
  <% end %>
 </tbody></table>
<% end %>
