<%= edit_link() %>

<%= wrapped_yndk_spans(:abstract,:cytogen_report_found,
	:label_text => "Found?" ) %>
<%= wrapped_date_spans(:abstract,:cytogen_report_on,
	:label_text => "Date" ) %>

<%= wrapped_yndk_spans(:abstract,:cytogen_karyotype_done,
	:label_text => "Conventional Karyotype done?" ) %>
<%= wrapped_yndk_spans(:abstract,:cytogen_hospital_fish_done,
	:label_text => "Hospital FISH done?" ) %>
<%#= wrapped_yndk_spans(:abstract,:cytogen_ucb_fish_done,
	:label_text => "UCB Fish done?" ) %>

<%= wrapped_spans(:abstract,:conventional_karyotype_results,
	:label_text => "Conventional Karyotype Results:" ) %>
<%= wrapped_spans(:abstract,:hospital_fish_results,
	:label_text => "FISH Results:" ) %>
<%= wrapped_spans(:abstract,:ucb_fish_results,
	:label_text => "UCB FISH Results:" ) %>
<%= wrapped_spans(:abstract,:cytogen_comment,
	:label_text => "Comments" ) %>
<%= wrapped_yndk_spans(:abstract,:cytogen_is_hyperdiploidy,
	:label_text => "Hyperdiploidy found?" ) %>
<%= wrapped_spans(:abstract,:cytogen_is_hyperdiploidy,
	:label_text => "Hyperdiploidy By:" ) %>
<%= wrapped_spans(:abstract,:cytogen_chromosome_number,
	:label_text => "How many?" ) %>

<hr/>
<div class='table'>
<div class='columns small'>
<div class='column'>
<%= wrapped_spans(:abstract,:cytogen_t1221,
	:label_text => "t(12;21)" ) %>
<%= wrapped_spans(:abstract,:cytogen_inv16,
	:label_text => "inv(16)" ) %>
<%= wrapped_spans(:abstract,:cytogen_t119,
	:label_text => "t(1;19)" ) %>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_spans(:abstract,:cytogen_t821,
	:label_text => "t(8;21)" ) %>
<%= wrapped_spans(:abstract,:cytogen_t922,
	:label_text => "t(9;22)" ) %>
<%= wrapped_spans(:abstract,:cytogen_t1517,
	:label_text => "t(15;17)" ) %>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_yndk_spans(:abstract,:cytogen_trisomy4,
	:label_text => "Trisomy 4" ) %>
<%= wrapped_yndk_spans(:abstract,:cytogen_trisomy5,
	:label_text => "Trisomy 5" ) %>
<%= wrapped_yndk_spans(:abstract,:cytogen_trisomy10,
	:label_text => "Trisomy 10" ) %>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_yndk_spans(:abstract,:cytogen_trisomy17,
	:label_text => "Trisomy 17" ) %>
<%= wrapped_yndk_spans(:abstract,:cytogen_trisomy21,
	:label_text => "Trisomy 21" ) %>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->

<hr/>

<%= wrapped_spans(:abstract,:cytogen_other_trans_1,
	:label_text => "Other 1:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_2,
	:label_text => "Other 2:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_3,
	:label_text => "Other 3:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_4,
	:label_text => "Other 4:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_5,
	:label_text => "Other 5:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_6,
	:label_text => "Other 6:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_7,
	:label_text => "Other 7:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_8,
	:label_text => "Other 8:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_9,
	:label_text => "Other 9:" ) %>
<%= wrapped_spans(:abstract,:cytogen_other_trans_10,
	:label_text => "Other 10:" ) %>

<%= abstract_pages(@abstract) %>
