<%# stylesheets(:cases) %>
<h4>New Control Selection</h4>

<%= form_tag(new_control_path,:method => :get) do %>
<p>
<%= text_field_tag :q, params[:q], :id => nil  %>
<%= submit_tag 'Find case by patid or icf master id' %>
</p>
<p>Enter the case's PatID or ICF Master ID to go to their Related Subjects screen. Once there, add controls by pressing the "Add Control" button.</p>
<% end %>

<% if @study_subject %>
<div id='case_study_subject'>
<h4><%= @study_subject.studyid_to_s %>&nbsp;:&nbsp;<%= @study_subject.full_name %></h4>
<ul>
<li>ICF Master ID:&nbsp;<%= @study_subject.icf_master_id_to_s %></li>
<li>sex:&nbsp;<%= @study_subject.sex %></li>
<li>DOB:&nbsp;<%=mdy @study_subject.dob %></li>
<li>race:&nbsp;<%= @study_subject.races %></li>
<li>hispanicity:&nbsp;<%=ynrdk @study_subject.hispanicity %> </li>
<li>reference date:&nbsp;<%=mdy @study_subject.reference_date %></li>
</ul>
<%= link_to( 'Continue', study_subject_related_subjects_path(@study_subject), 
	:class => 'button' ) %>
</div><!-- id='case_study_subject' -->
<% end %>


<% unless @study_subjects.empty? %>
<p>Phase 5 cases without controls and ccls:interview_completed_on not null ...</p>
<table><thead><tr>
<th>&nbsp;</th>
<th>ICF Master ID</th><th>Interview Completed On</th><th>Controls Available</th>
</tr></thead><tbody>
<% @study_subjects.each do |study_subject| %>
<tr class='row'>
<td><%= link_to study_subject, study_subject_related_subjects_path(study_subject) %></td>
<td><%= study_subject.icf_master_id %></td>
<td><%=mdy study_subject.ccls_enrollment.interview_completed_on %></td>
<td><%= study_subject.unassigned_controls_count %></td>
</tr>
<% end %><%# @study_subjects.each do |study_subject| %>
</tbody></table>
<% else %>



<% end %>
