<% form_tag(control_path,:method => :get) do %>
<p><span>Enter the PatID of the related case subject:</span>
<%= text_field_tag :patid, params[:patid], :id => nil  %>
<%= submit_tag 'find', :name => nil %>
</p>
<div><span>Try one of ...</span>
<%= ["0004", "0014", "0015", "0019", "0025", "0043", "0053", "0065", "0069", "0072", "0076", "0079", "0085", "0090", "0444", "0469", "0485", "0488", "0493", "0495", "0497", "0503", "0503", "0504", "0510"].collect{|p| link_to(p, control_path(:patid => p)) }.join(', ') %></div>
<% end %>

<% unless params[:patid].blank? %>
<div id='case_subject'>
<% if @subject %>
<h4><%= @subject.studyid %>&nbsp;:&nbsp;<%= @subject.full_name %></h4>
<ul>
<li>ICF Master ID:&nbsp;<%#= @subject.icf_master_id %></li>
<li>sex:&nbsp;<%= @subject.sex %></li>
<li>DOB:&nbsp;<%=mdy @subject.dob %></li>
<li>race:&nbsp;<%= @subject.races %></li>
<li>hispanicity:&nbsp;<%#= @subject.hispanicity %> </li>
<li>reference date:&nbsp;<%=mdy @subject.reference_date %></li>
</ul>
[insert continue button here]
<% else %>
<p>No case subject found with patid:<%=params[:patid]%></p>
<% end %>
</div><!-- id='case_subject' -->
<% end %>
