<%# sub_menu_for(@study_subject) %>

<%= form_for(@abstract,:url => abstract_flow_cytometry_path(@abstract)) do |f| %>

<%= f.error_messages %>

<fieldset><legend><%= @page_title %></legend>

<%= f.wrapped_yndk_select(:flow_cyto_report_found,
	:label_text => "Found?") %>

<%= f.wrapped_date_text_field(:flow_cyto_report_on,
	:label_text => "Date" )%>

<%= f.wrapped_yndk_select(:flow_cyto_num_results_available,
	:label_text => "Numerical results available?" )%>


<p>* If two values are provided, enter their mean.</p>
<p>Enter numeric values only in the "Value" fields and related text('&lt;','%',etc.) in "Comments" fields</p>

<div class='table'>
<div class='columns'>
<div class='column'>
<table><thead>
<tr><th colspan='3'>B Cell Markers *</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD10</td>
<td><%= f.text_field :flow_cyto_cd10, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd10_text, :size => 9 %></td>
</tr><tr><td>CD19</td>
<td><%= f.text_field :flow_cyto_cd19, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd19_text, :size => 9 %></td>
</tr><tr><td>CD20</td>
<td><%= f.text_field :flow_cyto_cd20, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd20_text, :size => 9 %></td>
</tr><tr><td>CD21</td>
<td><%= f.text_field :flow_cyto_cd21, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd21_text, :size => 9 %></td>
</tr><tr><td>CD22</td>
<td><%= f.text_field :flow_cyto_cd22, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd22_text, :size => 9 %></td>
</tr><tr><td>CD23</td>
<td><%= f.text_field :flow_cyto_cd23, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd23_text, :size => 9 %></td>
</tr><tr><td>CD24</td>
<td><%= f.text_field :flow_cyto_cd24, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd24_text, :size => 9 %></td>
</tr><tr><td>CD40</td>
<td><%= f.text_field :flow_cyto_cd40, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd40_text, :size => 9 %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>&nbsp;</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>Surface Immunoglobulin</td>
<td><%= f.text_field :flow_cyto_surface_ig, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_surface_ig_text, :size => 9 %></td>
</tr><tr><td>Cytoplasmic IgM</td>
<td><%= f.text_field :flow_cyto_igm, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_igm_text, :size => 9 %></td>
</tr><tr><td>Bone Marrow Kappa</td>
<td><%= f.text_field :flow_cyto_bm_kappa, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_bm_kappa_text, :size => 9 %></td>
</tr><tr><td>Bone Marrow Lambda</td>
<td><%= f.text_field :flow_cyto_bm_lambda, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_bm_lambda_text, :size => 9 %></td>
</tr><tr><td>CD19+CD10</td>
<td><%= f.text_field :flow_cyto_cd10_19, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd10_19_text, :size => 9 %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>T Cell Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>TCell - CD1a</td>
<td><%= f.text_field :flow_cyto_cd1a, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd1a_text, :size => 9 %></td>
</tr><tr><td>CD2</td>
<td><%= f.text_field :flow_cyto_cd2, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd2_text, :size => 9 %></td>
</tr><tr><td>CD3</td>
<td><%= f.text_field :flow_cyto_cd3, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd3_text, :size => 9 %></td>
</tr><tr><td>CD4</td>
<td><%= f.text_field :flow_cyto_cd4, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd4_text, :size => 9 %></td>
</tr><tr><td>CD5</td>
<td><%= f.text_field :flow_cyto_cd5, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd5_text, :size => 9 %></td>
</tr><tr><td>CD7</td>
<td><%= f.text_field :flow_cyto_cd7, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd7_text, :size => 9 %></td>
</tr><tr><td>CD8</td>
<td><%= f.text_field :flow_cyto_cd8, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd8_text, :size => 9 %></td>
</tr><tr><td>CD3+CD4</td>
<td><%= f.text_field :flow_cyto_cd3_cd4, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd3_cd4_text, :size => 9 %></td>
</tr><tr><td>CD3+CD8</td>
<td><%= f.text_field :flow_cyto_cd3_cd8, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd3_cd8_text, :size => 9 %></td>
</tr></tbody></table>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->
<hr/>

<div class='table'>
<div class='columns'>
<div class='column'>
<table><thead>
<tr><th colspan='3'>Myeloid Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD11b</td>
<td><%= f.text_field :flow_cyto_cd11b, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd11b_text, :size => 9 %></td>
</tr><tr><td>CD11c</td>
<td><%= f.text_field :flow_cyto_cd11c, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd11c_text, :size => 9 %></td>
</tr><tr><td>CD13</td>
<td><%= f.text_field :flow_cyto_cd13, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd13_text, :size => 9 %></td>
</tr><tr><td>CD15</td>
<td><%= f.text_field :flow_cyto_cd15, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd15_text, :size => 9 %></td>
</tr><tr><td>CD33</td>
<td><%= f.text_field :flow_cyto_cd33, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd33_text, :size => 9 %></td>
</tr><tr><td>CD41</td>
<td><%= f.text_field :flow_cyto_cd41, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd41_text, :size => 9 %></td>
</tr><tr><td>CDw65</td>
<td><%= f.text_field :flow_cyto_cdw65, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cdw65_text, :size => 9 %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Stem Cell Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD34</td>
<td><%= f.text_field :flow_cyto_cd34, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd34_text, :size => 9 %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Megakaryocyte Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD61</td>
<td><%= f.text_field :flow_cyto_cd61, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd61_text, :size => 9 %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>Mono Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD14</td>
<td><%= f.text_field :flow_cyto_cd14, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd14_text, :size => 9 %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Erythroid Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>Glycophorin A</td>
<td><%= f.text_field :flow_cyto_glycoa, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_glycoa_text, :size => 9 %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Natural Killer Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD16</td>
<td><%= f.text_field :flow_cyto_cd16, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd16_text, :size => 9 %></td>
</tr><tr><td>CD56</td>
<td><%= f.text_field :flow_cyto_cd56, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd56_text, :size => 9 %></td>
</tr><tr><td>CD57</td>
<td><%= f.text_field :flow_cyto_cd57, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd57_text, :size => 9 %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Non-Specific Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD9</td>
<td><%= f.text_field :flow_cyto_cd9, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd9_text, :size => 9 %></td>
</tr><tr><td>CD25</td>
<td><%= f.text_field :flow_cyto_cd25, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd25_text, :size => 9 %></td>
</tr><tr><td>CD38</td>
<td><%= f.text_field :flow_cyto_cd38, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd38_text, :size => 9 %></td>
</tr><tr><td>CD45</td>
<td><%= f.text_field :flow_cyto_cd45, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd45_text, :size => 9 %></td>
</tr><tr><td>CD71</td>
<td><%= f.text_field :flow_cyto_cd71, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_cd71_text, :size => 9 %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>Term Doxytran</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>Term Doxytran</td>
<td><%= f.text_field :flow_cyto_tdt, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_tdt_text, :size => 9 %></td>
</tr><tr><td>%HLA-DR</td>
<td><%= f.text_field :flow_cyto_hladr, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_hladr_text, :size => 9 %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='4'>Other Markers</th>
</tr>
<tr><td>&nbsp;</td><td>Marker Name</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>1</td>
<td><%= f.text_field :flow_cyto_other_marker_1_name, :size => 9 %></td>
<td><%= f.text_field :flow_cyto_other_marker_1, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_other_marker_1_text, :size => 9 %></td>
</tr><tr><td>2</td>
<td><%= f.text_field :flow_cyto_other_marker_2_name, :size => 9 %></td>
<td><%= f.text_field :flow_cyto_other_marker_2, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_other_marker_2_text, :size => 9 %></td>
</tr><tr><td>3</td>
<td><%= f.text_field :flow_cyto_other_marker_3_name, :size => 9 %></td>
<td><%= f.text_field :flow_cyto_other_marker_3, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_other_marker_3_text, :size => 9 %></td>
</tr><tr><td>4</td>
<td><%= f.text_field :flow_cyto_other_marker_4_name, :size => 9 %></td>
<td><%= f.text_field :flow_cyto_other_marker_4, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_other_marker_4_text, :size => 9 %></td>
</tr><tr><td>5</td>
<td><%= f.text_field :flow_cyto_other_marker_5_name, :size => 9 %></td>
<td><%= f.text_field :flow_cyto_other_marker_5, :size => 5 %></td>
<td><%= f.text_field :flow_cyto_other_marker_5_text, :size => 9 %></td>
</tr></tbody></table>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->

<%= f.wrapped_text_area :flow_cyto_remarks,
	:class => 'autosize',
	:label_text => 'Remarks:' %>

</fieldset>

<%#= f.submit_bar(controller.class.name) %>
<%= f.submit_bar() %>
<% end %>
