<%= edit_link() %>

<table><tbody><tr>
<td>Found?</td>
<td><%=yndk @abstract.flow_cyto_report_found%></td>
</tr><tr>
<td>Date</td>
<td><%=mdy @abstract.flow_cyto_report_on %></td>
</tr><tr>
<td>Numerical results available?</td>
<td><%=yndk @abstract.flow_cyto_num_results_available %></td>
</tr></tbody></table>

<p>* If two values are provided, enter their mean.</p>
<p>Enter numeric values only in the "Value" fields and related text('&lt;','%',etc.) in "Comments" fields</p>

<div class='table'>
<div class='columns'>
<div class='column'>
<table><thead>
<tr><th colspan='3'>B Cell Markers *</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD10</td>
<td><%= @abstract.flow_cyto_cd10 %></td>
<td><%= @abstract.flow_cyto_cd10_text %></td>
</tr><tr><td>CD19</td>
<td><%= @abstract.flow_cyto_cd19 %></td>
<td><%= @abstract.flow_cyto_cd19_text %></td>
</tr><tr><td>CD20</td>
<td><%= @abstract.flow_cyto_cd20 %></td>
<td><%= @abstract.flow_cyto_cd20_text %></td>
</tr><tr><td>CD21</td>
<td><%= @abstract.flow_cyto_cd21 %></td>
<td><%= @abstract.flow_cyto_cd21_text %></td>
</tr><tr><td>CD22</td>
<td><%= @abstract.flow_cyto_cd22 %></td>
<td><%= @abstract.flow_cyto_cd22_text %></td>
</tr><tr><td>CD23</td>
<td><%= @abstract.flow_cyto_cd23 %></td>
<td><%= @abstract.flow_cyto_cd23_text %></td>
</tr><tr><td>CD24</td>
<td><%= @abstract.flow_cyto_cd24 %></td>
<td><%= @abstract.flow_cyto_cd24_text %></td>
</tr><tr><td>CD40</td>
<td><%= @abstract.flow_cyto_cd40 %></td>
<td><%= @abstract.flow_cyto_cd40_text %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>&nbsp;</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>Surface Immunoglobulin</td>
<td><%= @abstract.flow_cyto_surface_ig %></td>
<td><%= @abstract.flow_cyto_surface_ig_text %></td>
</tr><tr><td>Cytoplasmic IgM</td>
<td><%= @abstract.flow_cyto_igm %></td>
<td><%= @abstract.flow_cyto_igm_text %></td>
</tr><tr><td>Bone Marrow Kappa</td>
<td><%= @abstract.flow_cyto_bm_kappa %></td>
<td><%= @abstract.flow_cyto_bm_kappa_text %></td>
</tr><tr><td>Bone Marrow Lambda</td>
<td><%= @abstract.flow_cyto_bm_lambda %></td>
<td><%= @abstract.flow_cyto_bm_lambda_text %></td>
</tr><tr><td>CD19+CD10</td>
<td><%= @abstract.flow_cyto_cd10_19 %></td>
<td><%= @abstract.flow_cyto_cd10_19_text %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>T Cell Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>TCell - CD1a</td>
<td><%= @abstract.flow_cyto_cd1a %></td>
<td><%= @abstract.flow_cyto_cd1a_text %></td>
</tr><tr><td>CD2</td>
<td><%= @abstract.flow_cyto_cd2 %></td>
<td><%= @abstract.flow_cyto_cd2_text %></td>
</tr><tr><td>CD3</td>
<td><%= @abstract.flow_cyto_cd3 %></td>
<td><%= @abstract.flow_cyto_cd3_text %></td>
</tr><tr><td>CD4</td>
<td><%= @abstract.flow_cyto_cd4 %></td>
<td><%= @abstract.flow_cyto_cd4_text %></td>
</tr><tr><td>CD5</td>
<td><%= @abstract.flow_cyto_cd5 %></td>
<td><%= @abstract.flow_cyto_cd5_text %></td>
</tr><tr><td>CD7</td>
<td><%= @abstract.flow_cyto_cd7 %></td>
<td><%= @abstract.flow_cyto_cd7_text %></td>
</tr><tr><td>CD8</td>
<td><%= @abstract.flow_cyto_cd8 %></td>
<td><%= @abstract.flow_cyto_cd8_text %></td>
</tr><tr><td>CD3+CD4</td>
<td><%= @abstract.flow_cyto_cd3_cd4 %></td>
<td><%= @abstract.flow_cyto_cd3_cd4_text %></td>
</tr><tr><td>CD3+CD8</td>
<td><%= @abstract.flow_cyto_cd3_cd8 %></td>
<td><%= @abstract.flow_cyto_cd3_cd8_text %></td>
</tr></tbody></table>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->
<hr/>

<div class='table'>
<div class='columns'>
<div class='column'>
<table><thead>
<tr><th colspan='3'>Myeloid Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD11b</td>
<td><%= @abstract.flow_cyto_cd11b %></td>
<td><%= @abstract.flow_cyto_cd11b_text %></td>
</tr><tr><td>CD11c</td>
<td><%= @abstract.flow_cyto_cd11c %></td>
<td><%= @abstract.flow_cyto_cd11c_text %></td>
</tr><tr><td>CD13</td>
<td><%= @abstract.flow_cyto_cd13 %></td>
<td><%= @abstract.flow_cyto_cd13_text %></td>
</tr><tr><td>CD15</td>
<td><%= @abstract.flow_cyto_cd15 %></td>
<td><%= @abstract.flow_cyto_cd15_text %></td>
</tr><tr><td>CD33</td>
<td><%= @abstract.flow_cyto_cd33 %></td>
<td><%= @abstract.flow_cyto_cd33_text %></td>
</tr><tr><td>CD41</td>
<td><%= @abstract.flow_cyto_cd41 %></td>
<td><%= @abstract.flow_cyto_cd41_text %></td>
</tr><tr><td>CDw65</td>
<td><%= @abstract.flow_cyto_cdw65 %></td>
<td><%= @abstract.flow_cyto_cdw65_text %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Stem Cell Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD34</td>
<td><%= @abstract.flow_cyto_cd34 %></td>
<td><%= @abstract.flow_cyto_cd34_text %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Megakaryocyte Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD61</td>
<td><%= @abstract.flow_cyto_cd61 %></td>
<td><%= @abstract.flow_cyto_cd61_text %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>Mono Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD14</td>
<td><%= @abstract.flow_cyto_cd14 %></td>
<td><%= @abstract.flow_cyto_cd14_text %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Erythroid Marker</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>Glycophorin A</td>
<td><%= @abstract.flow_cyto_glycoa %></td>
<td><%= @abstract.flow_cyto_glycoa_text %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Natural Killer Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD16</td>
<td><%= @abstract.flow_cyto_cd16 %></td>
<td><%= @abstract.flow_cyto_cd16_text %></td>
</tr><tr><td>CD56</td>
<td><%= @abstract.flow_cyto_cd56 %></td>
<td><%= @abstract.flow_cyto_cd56_text %></td>
</tr><tr><td>CD57</td>
<td><%= @abstract.flow_cyto_cd57 %></td>
<td><%= @abstract.flow_cyto_cd57_text %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='3'>Non-Specific Markers</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>CD9</td>
<td><%= @abstract.flow_cyto_cd9 %></td>
<td><%= @abstract.flow_cyto_cd9_text %></td>
</tr><tr><td>CD25</td>
<td><%= @abstract.flow_cyto_cd25 %></td>
<td><%= @abstract.flow_cyto_cd25_text %></td>
</tr><tr><td>CD38</td>
<td><%= @abstract.flow_cyto_cd38 %></td>
<td><%= @abstract.flow_cyto_cd38_text %></td>
</tr><tr><td>CD45</td>
<td><%= @abstract.flow_cyto_cd45 %></td>
<td><%= @abstract.flow_cyto_cd45_text %></td>
</tr><tr><td>CD71</td>
<td><%= @abstract.flow_cyto_cd71 %></td>
<td><%= @abstract.flow_cyto_cd71_text %></td>
</tr></tbody></table>
</div><!-- class='column' -->

<div class='column'>
<table><thead>
<tr><th colspan='3'>Term Doxytran</th></tr>
<tr><td>&nbsp;</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>Term Doxytran</td>
<td><%= @abstract.flow_cyto_tdt %></td>
<td><%= @abstract.flow_cyto_tdt_text %></td>
</tr><tr><td>%HLA-DR</td>
<td><%= @abstract.flow_cyto_hladr %></td>
<td><%= @abstract.flow_cyto_hladr_text %></td>
</tr></tbody></table>

<table><thead>
<tr><th colspan='4'>Other Markers</th>
</tr>
<tr><td>&nbsp;</td><td>Marker Name</td><td>Value</td><td>Comments</td></tr>
</thead><tbody><tr><td>1</td>
<td><%= @abstract.flow_cyto_other_marker_1_name %></td>
<td><%= @abstract.flow_cyto_other_marker_1 %></td>
<td><%= @abstract.flow_cyto_other_marker_1_text %></td>
</tr><tr><td>2</td>
<td><%= @abstract.flow_cyto_other_marker_2_name %></td>
<td><%= @abstract.flow_cyto_other_marker_2 %></td>
<td><%= @abstract.flow_cyto_other_marker_2_text %></td>
</tr><tr><td>3</td>
<td><%= @abstract.flow_cyto_other_marker_3_name %></td>
<td><%= @abstract.flow_cyto_other_marker_3 %></td>
<td><%= @abstract.flow_cyto_other_marker_3_text %></td>
</tr><tr><td>4</td>
<td><%= @abstract.flow_cyto_other_marker_4_name %></td>
<td><%= @abstract.flow_cyto_other_marker_4 %></td>
<td><%= @abstract.flow_cyto_other_marker_4_text %></td>
</tr><tr><td>5</td>
<td><%= @abstract.flow_cyto_other_marker_5_name %></td>
<td><%= @abstract.flow_cyto_other_marker_5 %></td>
<td><%= @abstract.flow_cyto_other_marker_5_text %></td>
</tr></tbody></table>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->

<p>Remarks: <%= @abstract.flow_cyto_remarks %></p>

<%= abstract_pages(@abstract) %>
