<%= content_tag_for( :tr, vital_status, :class => 'row' ) do %>
 <td class='key'><%= vital_status.key -%></td>
 <td class='description'><%= vital_status.description -%></td>
 <td class='manage'>
<%= link_to( "View", vital_status_path(vital_status), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_vital_status_path(vital_status), :class => 'button' ) -%>&nbsp;
<%= form_tag vital_status, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy vital_status '#{vital_status}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='vital_status' -->
