<% if @enrollment %>
<% stylesheets(:consent) %>
<% javascripts('consent') %>

<div class='control'><div class='control_row'>
<h3>Study Consent Info</h3>
<div><%= link_to( 'Edit', edit_study_subject_consent_path(@study_subject),
	:class => 'button' ) if current_user.may_update_enrollments? %></div>
</div></div>

<div class='enrollment'>
<%= wrapped_yndk_spans :enrollment, :is_eligible,
	:label_text => 'is eligible?' %>
<%= wrapped_spans :enrollment, :ineligible_reason,
	:label_text => 'reason ineligible:' %>
<%= wrapped_spans :enrollment, :other_ineligible_reason,
	:label_text => 'specify:' %>

<% if @enrollment.study_subject.is_case? && !@enrollment.study_subject.patient.nil? %>
<p><%= link_to "show/hide RAF eligibility criteria",
	study_subject_consent_path(@study_subject),
	:class => 'toggler toggles_eligibility_criteria' %></p>
<div style='display:none' id='eligibility_criteria'>
<% @patient = @enrollment.study_subject.patient %>

<%= wrapped_yndk_spans( :patient, :was_under_15_at_dx,
	:label_text => 'Was this patient under age 15 at diagnosis?'
	) %>

<div class='languages field_wrapper'>
<span class='label'>Languages:</span>
<span class='value'>
<%= @enrollment.study_subject.language_names %>
</span>
</div>

<%= wrapped_yndk_spans( :patient, :was_previously_treated,
	:label_text => 'Has this patient received previous treatment for leukemia or another cancer at any institution?'
	) %>
<%= wrapped_yndk_spans( :patient, :was_ca_resident_at_diagnosis,
	:label_text => 'Does the patient currently reside in California?'
	) %>
</div><!-- class='show_eligibility_criteria' -->
<% end %><%# if @study_subject.is_case? %>

<%= wrapped_yndk_spans :enrollment, :consented,
	:label_text => 'consented?' %>
<%= wrapped_date_spans :enrollment, :consented_on,
	:label_text => 'consent date:' %>
<%#= wrapped_spans :enrollment, :document_version,
	:label_text => 'consent version:' %>

<%= wrapped_spans :enrollment, :refusal_reason,
	:label_text => 'reason refused:' %>
<%= wrapped_spans :enrollment, :other_refusal_reason,
	:label_text => 'specify:' %>

</div><!-- class='enrollment' -->

<p>May CCLS use samples in future research?  ....</p>











<% else %>
<% sub_menu_for(@study_subject) %>
<%# content_for :id_bar do %>
<%#= link_to "edit", edit_study_subject_path(@study_subject) %>
<%# end if current_user.may_update_study_subjects? %>
<%# id_bar_for(@study_subject) %>
<p>Subject has no CCLS enrollment. This should NEVER happen.</p>
<p>If one didn't exist, it should have been just created.</p>
<% end %>
