<%= content_tag_for(:tr,event, :class => 'row') do %>
 <td><%=mdy event.occurred_at %></td>
 <td><%= event.project.try(:key) %></td>
 <td><%= event.operational_event_type.try(:event_category) %></td>
 <td><%= event.to_s %></td>
 <td class='manage'>
<%= link_to( 'show', event_path(event), :class => :button ) %>&nbsp;
<%= ( current_user.may_update_events? ) ? 
	link_to( 'edit', edit_event_path(event), :class => :button ) : '&nbsp;'.html_safe %>
</td>
<% end %>
