<%= content_tag_for(:tr,event, :class => 'row') do %>
 <td><%=mdy event.occurred_on %></td>
 <td><%= event.project.try(:key) %></td>
 <td><%= event.operational_event_type.try(:event_category) %></td>
 <td><%= event.to_s %></td>
 <td><%= ( current_user.may_edit_events? ) ? 
	link_to( 'edit', edit_event_path(event) ) : '&nbsp;'.html_safe %></td>
<% end %>
