<style type="text/css">
ol li { 
	font-size: large; 
}
ol li * { 
	font-size: medium; 
}
input[type=text] {
	width:10ex;
}
h1 { color: red; background-color: yellow; }
</style>

<h2>CALIFORNIA CHILDHOOD LEUKEMIA STUDY MEDICAL ABSTRACT FORM</h2>

<%= form_for(FakeAbstract.new, :url => fake_abstracts_path) do |f| %>

<ol type='I'>
<li><div><h3>PARTICIPANT INFORMATION</h3>
	<h1>(this will be read only as is from other models)</h1>
	<ul>
	<li>Patient's Name:</li>
	<li>Patient's Initials:</li>
	<li>Treating Institution:</li>
	<li>Date of Birth:</li>
	<li>Date of Diagnosis:</li>
	<li>Date Treatment Began:</li>
	<li>Hospital Record Number:</li>
	</ul>
	</div></li>







<li><div><h3>DIAGNOSTIC STUDIES</h3>
	<ol type='A'>
	<li><div><h4>BONE MARROW BIOPSY</h4>
		<%= f.found_not_found :bmb_found %>
		<div>
		<%= f.label :bmb_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :bmb_date_of_test %>
		</div>
		
		<div>
		<%= f.label :bmb_percentage_blasts, "Percentage (%) blasts:" %>
		<%= f.text_field :bmb_percentage_blasts %>
		<%= f.check_box :bmb_percentage_blasts_unknown, {}, 'yes', 'no' %>
		<%= f.label :bmb_percentage_blasts_unknown, "Don't Know" %>
		</div>
		
		<div>Diagnosis or Interpretation:<br/>
		<textarea name="abstract[bmb_comments]" rows='3' cols='50'> </textarea>
		</div>
	</div></li>
	
	<!-- ################################################################# -->
	
	<li><div><h4>BONE MARROW ASPIRATE</h4>
		<%= f.found_not_found :bma_found %>
		<div>
		<%= f.label :bma_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :bma_date_of_test %>
		</div>
		
		<div><label for='bma_percentage_blasts'>Percentage (%) blasts:</label>
		<input id="bma_percentage_blasts" name="abstract[bma_percentage_blasts]" type="text" />
		
		<input id='bma_percentage_blasts_known_yes'  name="abstract[bma_percentage_blasts_known]" type="hidden" value="yes" />
		<input id='bma_percentage_blasts_known_no'  name="abstract[bma_percentage_blasts_known]" type="checkbox" value="no" />
		<label for='bma_percentage_blasts_known_no'>Don't Know</label>
		</div>
		<div>Comments or Interpretation:<br/>
		<textarea name="abstract[bma_comments]" rows='3' cols='50'> </textarea>
		</div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>DIAGNOSTIC FLOW CYTOMETRY (or IMMUNOPHENOTYPING)</h4>
		<%= f.found_not_found :dfc_found %>
		<div>
		<%= f.label :dfc_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :dfc_date_of_test %>
		</div>
		
		<div>Check the appropriate box below:</div>
		<div>
		<input id="dfc_numerical_data_available_yes" name="abstract[dfc_numerical_data_available]" type="radio" value='yes' />
		<label for='dfc_numerical_data_available_yes'>Numerical data available on report?</label>
		</div><div>
		<input id="dfc_numerical_data_available_no" name="abstract[dfc_numerical_data_available]" type="radio" value='no' />
		<label for='dfc_numerical_data_available_no'>Numerical data NOT available on report?</label>
		</div>
	
	
		<div>B Cell Markers:<ul>
		<li>CD10 (or CALLA) <input name="abstract[marker_cd10]" type='text' /></li>
		<li>CD19 <input name="abstract[marker_cd19]" type='text' /></li>
		<li>CD20 <input name="abstract[marker_cd20]" type='text' /></li>
		<li>CD21 <input name="abstract[marker_cd21]" type='text' /></li>
		<li>CD22 <input name="abstract[marker_cd22]" type='text' /></li>
		<li>CD23 <input name="abstract[marker_cd23]" type='text' /></li>
		<li>CD24 (BA-1) <input name="abstract[marker_cd24]" type='text' /></li>
		<li>CD40 <input name="abstract[marker_cd40]" type='text' /></li>
		<li>Surface Immunoglobulin (or sIg) <input name="abstract[marker_surface_immunoglobulin]" type='text' /></li>
		<li>Cytoplasmic IgM (or cytoplasmic mu) <input name="abstract[marker_cytoplasmic_igm]" type='text' /></li>
		<li>Bone Marrow Kappa <input name="abstract[marker_bone_marrow_kappa]" type='text' /></li>
		<li>Bone Marrow Lambda <input name="abstract[marker_bone_marrow_lambda]" type='text' /></li>
		<li>CD19 + CD10 <input name="abstract[marker_cd19_cd10]" type='text' /></li>
		</ul></div>
		
		<div>T Cell Markers:<ul>
		<li>CD1a <input name="abstract[marker_cd1a]" type='text' /></li>
		<li>CD2 <input name="abstract[marker_cd2]" type='text' /></li>
		<li>CD3 <input name="abstract[marker_cd3]" type='text' /></li>
		<li>CD4 <input name="abstract[marker_cd4]" type='text' /></li>
		<li>CD5 <input name="abstract[marker_cd5]" type='text' /></li>
		<li>CD7 <input name="abstract[marker_cd7]" type='text' /></li>
		<li>CD8 <input name="abstract[marker_cd8]" type='text' /></li>
		<li>CD3 + CD4 <input name="abstract[marker_cd3_cd4]" type='text' /></li>
		<li>CD3 + CD8 <input name="abstract[marker_cd3_cd8]" type='text' /></li>
		</ul></div>
	
	
		<div>Myeloid markers:<ul>
		<li>CD11b <input name="abstract[marker_cd11b]" type='text' /></li>
		<li>CD11c <input name="abstract[marker_cd11c]" type='text' /></li>
		<li>CD13 (or MY-7) <input name="abstract[marker_cd13]" type='text' /></li>
		<li>CD15 (or LEU M1) <input name="abstract[marker_cd15]" type='text' /></li>
		<li>CD33 (or MY-9) <input name="abstract[marker_cd33]" type='text' /></li>
		<li>CD41 <input name="abstract[marker_cd41]" type='text' /></li>
		<li>CDw65 <input name="abstract[marker_cdw65]" type='text' /></li>
		</ul></div>
	
	
		<div>Stem Cell Marker:<ul>
		<li>CD34 <input name="abstract[marker_cd34]" type='text' /></li>
		</ul></div>
	
	
		<div>Megakaryocyte Marker:<ul>
		<li>CD61 <input name="abstract[marker_cd61]" type='text' /></li>
		</ul></div>
	
	
		<div>Mono Marker:<ul>
		<li>CD14 <input name="abstract[marker_cd14]" type='text' /></li>
		</ul></div>
	
	
		<div>Erythroid Marker:<ul>
		<li>Glycophorin A <input name="abstract[marker_glycophorin_a]" type='text' /></li>
		</ul></div>
	
	
		<div>Natural Killer associated markers:<ul>
		<li>CD16 <input name="abstract[marker_cd16]" type='text' /></li>
		<li>CD56 <input name="abstract[marker_cd56]" type='text' /></li>
		<li>CD57 <input name="abstract[marker_cd57]" type='text' /></li>
		</ul></div>
	
	
		<div>Non-Specific Markers:<ul>
		<li>CD9 (or BA-2) <input name="abstract[marker_cd9]" type='text' /></li>
		<li>CD25 <input name="abstract[marker_cd25]" type='text' /></li>
		<li>CD38 <input name="abstract[marker_cd38]" type='text' /></li>
		<li>CD45 <input name="abstract[marker_cd45]" type='text' /></li>
		<li>CD71 <input name="abstract[marker_cd71]" type='text' /></li>
		<li>%HLA-DR <input name="abstract[marker_hla_dr]" type='text' /></li>
		<li>TERM DOXYTRAN (or Tdt) <input name="abstract[marker_tdt]" type='text' /></li>
		</ul></div>
	
		<div>Other(s):<br/>
		<textarea name="abstract[other_markers]" rows='3' cols='50'> </textarea></div>
		<div>Remarks or comments:<br/>
		<textarea name="abstract[marker_comments]" rows='3' cols='50'> </textarea></div>
	
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>Tdt (or Terminal Deoxynucleotydyl Transferase)</h4>
		<%= f.found_not_found :tdt_found %>
		<div>
		<%= f.label :tdt_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :tdt_date_of_test %>
		</div>
	
		<div><label for='tdt_found_in_cytometry'>Check if found in Flow Cytometry (part C. I.):</label>
		<input name="abstract[tdt_found_in_cytometry]" type="hidden" value='no' />
		<input id="tdt_found_in_cytometry" name="abstract[tdt_found_in_cytometry]" type="checkbox" value='yes' />
		</div>
	
	
		<div><label for='tdt_found_separately'>Check if done separately from Flow Cytometry:</label>
		<input name="abstract[tdt_found_separately]" type="hidden" value='no' />
		<input id="tdt_found_separately" name="abstract[tdt_found_separately]" type="checkbox" value='yes' /> and report results below:
		</div>
	
	
		<h1>Are these counts? Checkboxes?</h1>
	
		<div>
		<label for='tdt_positive'>Positive:</label>
		<input id="tdt_positive" name="abstract[tdt_positive]" type="text" />
		<label for='tdt_negative'>Negative:</label>
		<input id="tdt_negative" name="abstract[tdt_negative]" type="text" />
		<label for='tdt_numerical_result'>Numerical Result:</label>
		<input id="tdt_numerical_result" name="abstract[tdt_numerical_result]" type="text" />
		</div>
	
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>PLOIDY (or DNA CONTENT)</h4>
		<%= f.found_not_found :ploidy_found %>
		<div>
		<%= f.label :ploidy_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :ploidy_date_of_test %>
		</div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>HISTOCOMPATIBILITY STUDIES (or HLA-TYPING)</h4>
		<%= f.found_not_found :hla_found %>
		<div>
		<%= f.label :hla_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :hla_date_of_test %>
		</div>
		<div>Results:<br/>
		<textarea name="abstract[hla_results]" rows='3' cols='50'> </textarea></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CYTOGENETIC STUDIES</h4>
		<%= f.found_not_found :cs_found %>
		<div>
		<%= f.label :cs_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :cs_date_of_test %>
		</div>
	
		<div>Conventional karyotype done?
		<label for='conventional_karyotype_done_yes'>Yes</label>
		<input id='conventional_karyotype_done_yes' name="abstract[conventional_karyotype_done]" type="radio" value="yes" />
		<label for='conventional_karyotype_done_no'>No</label>
		<input id='conventional_karyotype_done_no'  name="abstract[conventional_karyotype_done]" type="radio" value="no" />
		</div>
	
		<div>Hospital FISH done?
		<label for='hospital_fish_done_yes'>Yes</label>
		<input id='hospital_fish_done_yes' name="abstract[hospital_fish_done]" type="radio" value="yes" />
		<label for='hospital_fish_done_no'>No</label>
		<input id='hospital_fish_done_no'  name="abstract[hospital_fish_done]" type="radio" value="no" />
		</div>
	
		<div>Hyperdiploidy detected?
		<label for='hyperdiploidy_detected_yes'>Yes</label>
		<input id='hyperdiploidy_detected_yes' name="abstract[hyperdiploidy_detected]" type="radio" value="yes" />
		<label for='hyperdiploidy_detected_no'>No</label>
		<input id='hyperdiploidy_detected_no'  name="abstract[hyperdiploidy_detected]" type="radio" value="no" />
		<label for='hyperdiploidy_detected_dk'>DK</label>
		<input id='hyperdiploidy_detected_dk'  name="abstract[hyperdiploidy_detected]" type="radio" value="dk" />
		</div>
	
		<div>If yes, hyperdiploidy by karyotype or FISH:
		<input id='hyperdiploidy_by_karyotype' name="abstract[hyperdiploidy_by]" type="radio" value="karyotype" />
		<label for='hyperdiploidy_by_karyotype'>Karyotype</label>
		<input id='hyperdiploidy_by_fish'  name="abstract[hyperdiploidy_by]" type="radio" value="fish" />
		<label for='hyperdiploidy_by_fish'>FISH</label>
		</div>
	
	
	
	
		<div>Number of chromosomes (if karyotype)?
		<input id='hyperdiploidy_number_of_chromosomes' name="abstract[hyperdiploidy_number_of_chromosomes]" type="text" /></div>
	
		<p>Please indicate the presence or absence of the following translocations. Leave no blanks.</p>
	
		<table><thead><tr>
		<th>Translocation</th><th>Present</th><th>Absent</th><th>Don't Know</th>
		</tr></thead><tbody>
		<tr><td>t(12:21)</td>
		<td><input name='abstract[translocation_t12_21]' type='radio' value='present' /></td>
		<td><input name='abstract[translocation_t12_21]' type='radio' value='absent' /></td>
		<td><input name='abstract[translocation_t12_21]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>inv(16)</td>
		<td><input name='abstract[translocation_inv16]' type='radio' value='present' /></td>
		<td><input name='abstract[translocation_inv16]' type='radio' value='absent' /></td>
		<td><input name='abstract[translocation_inv16]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>t(1;19)</td>
		<td><input name='abstract[translocation_t1_19]' type='radio' value='present' /></td>
		<td><input name='abstract[translocation_t1_19]' type='radio' value='absent' /></td>
		<td><input name='abstract[translocation_t1_19]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>t(8;21)</td>
		<td><input name='abstract[translocation_t8_21]' type='radio' value='present' /></td>
		<td><input name='abstract[translocation_t8_21]' type='radio' value='absent' /></td>
		<td><input name='abstract[translocation_t8_21]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>t(9;22)</td>
		<td><input name='abstract[translocation_t9_22]' type='radio' value='present' /></td>
		<td><input name='abstract[translocation_t9_22]' type='radio' value='absent' /></td>
		<td><input name='abstract[translocation_t9_22]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>t(15;17)</td>
		<td><input name='abstract[translocation_t15_17]' type='radio' value='present' /></td>
		<td><input name='abstract[translocation_t15_17]' type='radio' value='absent' /></td>
		<td><input name='abstract[translocation_t15_17]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>Other:</td>
		</tr>
		<tr><td>Other:</td>
		</tr>
		<tr><td>Other:</td>
		</tr>
		</tbody></table>
	
	
	
	
	
	
		<h1>NOTE:  How to do these "Other" fields?</h1>
	
	
	
	
	
	
		<p>Please indicate the presence of absence of the following trisomies</p>
	
		<table><thead><tr>
		<th>Trisomy</th><th>Present</th><th>Absent</th><th>Don't Know</th>
		</tr></thead><tbody>
		<tr><td>Trisomy 4</td>
		<td><input name='abstract[trisomy_4]' type='radio' value='present' /></td>
		<td><input name='abstract[trisomy_4]' type='radio' value='absent' /></td>
		<td><input name='abstract[trisomy_4]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>Trisomy 5</td>
		<td><input name='abstract[trisomy_5]' type='radio' value='present' /></td>
		<td><input name='abstract[trisomy_5]' type='radio' value='absent' /></td>
		<td><input name='abstract[trisomy_5]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>Trisomy 10</td>
		<td><input name='abstract[trisomy_10]' type='radio' value='present' /></td>
		<td><input name='abstract[trisomy_10]' type='radio' value='absent' /></td>
		<td><input name='abstract[trisomy_10]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>Trisomy 17</td>
		<td><input name='abstract[trisomy_17]' type='radio' value='present' /></td>
		<td><input name='abstract[trisomy_17]' type='radio' value='absent' /></td>
		<td><input name='abstract[trisomy_17]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>Trisomy 21</td>
		<td><input name='abstract[trisomy_21]' type='radio' value='present' /></td>
		<td><input name='abstract[trisomy_21]' type='radio' value='absent' /></td>
		<td><input name='abstract[trisomy_21]' type='radio' value='donotknow' /></td>
		</tr>
		<tr><td>Other:</td>
		</tr>
		<tr><td>Other:</td>
		</tr>
		<tr><td>Other:</td>
		</tr>
		</tbody></table>
	
	
		<div>Conventional Karyotyping Results [Numerical results &amp; Summary of findings]:<br/>
		<textarea name="abstract[conventional_karyotyping_results]" rows='3' cols='50'> </textarea></div>
	
		<div>Hospital FISH Results [Numerical results &amp; Summary of findings]:<br/>
		<textarea name="abstract[hospital_fish_results]" rows='3' cols='50'> </textarea></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>COMPLETE BLOOD COUNT (CBC)</h4>
		<%= f.found_not_found :cbc_found %>
		<div>
		<%= f.label :cbc_date_of_test, 'Date of Test:' %>
		<%= f.text_field :cbc_date_of_test %>
		</div>
	
		<div>Leukocyte Count (WBC) <input name='abstract[cbc_leukocyte_count]' type='text'/> K/mm3</div>
		<div>Percentage Blasts (aka atypical or abnormal cells) <input name='abstract[cbc_percentage_blasts]' type='text'/> %</div>
		<div>OR Number of Blasts <input name='abstract[cbc_number_of_blasts]' type='text'/></div>
		<div>Hemoglobin (or Hgb) <input name='abstract[cbc_hemoglobin]' type='text'/> GM/DL</div>
		<div>Platelet Count (or Plt ct) <input name='abstract[cbc_platelet_count]' type='text'/> K/mm3</div>
	
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CEREBROSPINAL FLUID (or CSF)</h4>
		<%= f.found_not_found :csf_found %>
		<div>
		<%= f.label :csf_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :csf_date_of_test %>
		</div>
	
		<div>WBC [#] <input type='text' name='abstract[csf_wbc]' /></div>
		<div>RBC [#] <input type='text' name='abstract[csf_rbc]' /></div>
		<div>Blasts present (yes/no) <input type='text' name='abstract[csf_blasts_present]' /> </div>
		<div>Number of Blasts <input type='text' name='abstract[csf_number_of_blasts]' /></div>
		<div>PB contamination (yes/no) <input type='text' name='abstract[csf_pb_contamination]' /></div>
	
		<div>Cytology (or CSF Pathology) <br/>
		<textarea name='abstract[csf_cytology]' rows='3' cols='50'></textarea></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CHEST IMAGING (Chest X-ray)</h4>
		<%= f.found_not_found :cxr_found %>
		<div>
		<%= f.label :cxr_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :cxr_date_of_test %>
		</div>
	
		<div>Check as appropriate: 
		<label for='cxr_result_normal'>Normal Chest</label>
		<input type='radio' name='abstract[cxr_result]' id='cxr_result_normal' />
		<label for='cxr_result_mass'>Mediastinal Mass Present</label>
		<input type='radio' name='abstract[cxr_result]' id='cxr_result_mass' />
		</div>
	
		<div>If mediastinal mass present, describe: <br/>
		<textarea name='abstract[cxr_mediastinal_mass_description]' rows='3' cols='50'></textarea></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>ADMITTING HISTORY AND PHYSICAL (H&amp;P) REPORT</h4>
		<%= f.found_not_found :hpr_found %>
		<div>
		<%= f.label :hpr_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :hpr_date_of_test %>
		</div>
	
		<div>1) ORGANOMEGALY</div>
		<div>Hepatomegaly?
		<label for='hepatomegaly_yes'>Yes</label>
		<input id='hepatomegaly_yes' name="abstract[hepatomegaly]" type="radio" value="yes" />
		<label for='hepatomegaly_no'>No</label>
		<input id='hepatomegaly_no'  name="abstract[hepatomegaly]" type="radio" value="no" />
		<label for='hepatomegaly_dk'>DK</label>
		<input id='hepatomegaly_dk'  name="abstract[hepatomegaly]" type="radio" value="dk" />
		</div>
		<div>Splenomegaly?
		<label for='splenomegaly_yes'>Yes</label>
		<input id='splenomegaly_yes' name="abstract[splenomegaly]" type="radio" value="yes" />
		<label for='splenomegaly_no'>No</label>
		<input id='splenomegaly_no'  name="abstract[splenomegaly]" type="radio" value="no" />
		<label for='splenomegaly_dk'>DK</label>
		<input id='splenomegaly_dk'  name="abstract[splenomegaly]" type="radio" value="dk" />
		</div>
	
	
		<div>2) DOWN SYNDROME PHENOTYPE (From Admitting H&amp;P Report)<br/>
		<label for='down_syndrome_phenotype_yes'>Yes</label>
		<input id='down_syndrome_phenotype_yes' name="abstract[down_syndrome_phenotype]" type="radio" value="yes" />
		<label for='down_syndrome_phenotype_no'>No</label>
		<input id='down_syndrome_phenotype_no'  name="abstract[down_syndrome_phenotype]" type="radio" value="no" />
		<label for='down_syndrome_phenotype_dk'>DK</label>
		<input id='down_syndrome_phenotype_dk'  name="abstract[down_syndrome_phenotype]" type="radio" value="dk" />
		</div>
	
	
		<div>3) PHYSICAL EXAM (from physical exam at diagnosis) (HAVE BOTH? OR COMPUTE ONE FROM OTHER? WHAT'S THE 'b' FOR?)</div>
		<div>Height at Diagnosis - in centimeters: <input type='text' name='abstract[height_in_cm]' /> in inches: <input type='text' name='abstract[height_in_in]' /></div>
		<div>Weight at diagnosis - in kilograms:<input type='text' name='abstract[weight_in_kg]' /> in pounds:<input type='text' name='abstract[weight_in_lb]' /> b</div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>DISCHARGE SUMMARY</h4>
		<%= f.found_not_found :ds_found %>
		<div>
		<%= f.label :ds_date_of_test, 'Date of Test:' %>
		<%= f.date_text_field :ds_date_of_test %>
		</div>
	
		<div>CLINICAL DIAGNOSIS (from Discharge Summary Report)<br/>
		<textarea name='abstract[clinical_diagnosis]' rows='3' cols='50'></textarea></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CHEMOTHERAPY PROTOCOL</h4>
		<%= f.found_not_found :cp_found %>
		<div>Was patient enrolled on a standardized induction protocol, such as COG?
		<label for='induction_protocol_yes'>Yes</label>
		<input id='induction_protocol_yes' name="abstract[induction_protocol]" type="radio" value="yes" />
		<label for='induction_protocol_no'>No</label>
		<input id='induction_protocol_no'  name="abstract[induction_protocol]" type="radio" value="no" />
		<label for='induction_protocol_dk'>DK</label>
		<input id='induction_protocol_dk'  name="abstract[induction_protocol]" type="radio" value="dk" />
		</div>
	
		<div>If yes, indicate protocol name and number used <input type='text' name='induction_protocol_name_and_number' /> (e.g. COG AALL0231)</div>
	
		<div>If no, specify any therapeutic agents (especially the first 3-4 induction agents) and if the patient was "treated per _____":<br/>
		<textarea name="abstract[therapeutic_agents]" rows='3' cols='50'></textarea></div>
	</div></li>
	</ol>
</div></li>


<li><div><h3>RESPONSE TO THERAPY</h3>


<h4>DAY 7 (8) Bone Marrow Aspirate</h4>
<%= f.found_not_found :bma07_found %>
<div>
<%= f.label :bma07_date_of_test, 'Date of Test:' %>
<%= f.date_text_field :bma07_date_of_test %>
</div>

<div>Classification 
<select name='abstract[bma07_classification]'>
<option value=""></option>
<option value="M1">&lt;5% Blasts</option>
<option value="M2">5-25% Blasts</option>
<option value="M3">&gt;25% Blasts</option></select>
</div>

<div>Percentage of blasts (if reported) <input type='text' name='abstract[bma07_percentage_of_blasts]' /></div>
<div>Inconclusive Results
<input type='hidden' name='abstract[bma07_inconclusive_results]' value='no' />
<input type='checkbox' name='abstract[bma07_inconclusive_results]' id='bma07_inconclusive_results' value='yes' />
<label for='bma07_inconclusive_results'>(check if inconclusive results are indicated on report)</label>
</div>


<h4>DAY 14 (15) Bone Marrow Aspirate</h4>
<%= f.found_not_found :bma14_found %>
<div>
<%= f.label :bma14_date_of_test, 'Date of Test:' %>
<%= f.date_text_field :bma14_date_of_test %>
</div>

<div>Classification 
<select name='abstract[bma14_classification]'>
<option value=""></option>
<option value="M1">&lt;5% Blasts</option>
<option value="M2">5-25% Blasts</option>
<option value="M3">&gt;25% Blasts</option></select>
</div>

<div>Percentage of blasts (if reported) <input type='text' name='abstract[bma14_percentage_of_blasts]' /></div>

<div>Inconclusive Results
<input type='hidden' name='abstract[bma14_inconclusive_results]' value='no' />
<input type='checkbox' name='abstract[bma14_inconclusive_results]' id='bma14_inconclusive_results' value='yes' />
<label for='bma14_inconclusive_results'>(check if inconclusive results are indicated on report)</label>
</div>

<h4>DAY 28 (29) Bone Marrow Aspirate</h4>
<%= f.found_not_found :bma28_found %>
<div>
<%= f.label :bma28_date_of_test, 'Date of Test:' %>
<%= f.date_text_field :bma28_date_of_test %>
</div>

<div>Classification 
<select name='abstract[bma28_classification]'>
<option value=""></option>
<option value="M1">&lt;5% Blasts</option>
<option value="M2">5-25% Blasts</option>
<option value="M3">&gt;25% Blasts</option></select>
</div>



<div>Percentage of blasts (if reported) <input type='text' name='abstract[bma28_percentage_of_blasts]' /></div>

<div>Inconclusive Results
<input type='hidden' name='abstract[bma28_inconclusive_results]' value='no' />
<input type='checkbox' name='abstract[bma28_inconclusive_results]' id='bma28_inconclusive_results' value='yes' />
<label for='bma28_inconclusive_results'>(check if inconclusive results are indicated on report)</label>
</div>




<div>At the end of induction (30 days), was the child in clinical remission?<br/>
<label for='clinical_remission_yes'>Yes</label>
<input id='clinical_remission_yes' name="abstract[clinical_remission]" type="radio" value="yes" />
<label for='clinical_remission_no'>No</label>
<input id='clinical_remission_no'  name="abstract[clinical_remission]" type="radio" value="no" />
<label for='clinical_remission_dk'>DK</label>
<input id='clinical_remission_dk'  name="abstract[clinical_remission]" type="radio" value="dk" />
</div>



</div></li>
<li><div><h3>DIAGNOSIS &amp; CLASSIFICATION</h3>

<div>Class of Leukemia:

<ul>
<li>ALL<ul style='list-style:none'>
<li><%= f.radio_button_with_label :leukemia_class, 'ALL L1' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'ALL L2' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'ALL L3' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'ALL Other' %><%= f.text_field :other_all_leukemia_class %></li>
</ul></li>

<li>AML<ul style='list-style:none'>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M0' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M1' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M2' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M3' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M4' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M4E' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M5' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M5A' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M5B' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M6' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML M7' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'AML Other' %><%= f.text_field :other_aml_leukemia_class %></li>
</ul></li>

<li><%= f.radio_button_with_label :leukemia_class, 'CML' %></li>
<li><%= f.radio_button_with_label :leukemia_class, 'CLL' %></li>
</ul>
</div>


3.
ICDO 2000 CLASSIFICATION NUMBER _____________________
4.
ICDO 2000 CLASSIFICATION DESCRIPTION
________________________________________________________________________


<div>LINEAGE: (check the appropriate box if lineage is indicated)</div>
<div><ul>
	<li><%= f.radio_button_with_label :leukemia_lineage, 'B-Cell Lineage' %></li>
	<li><%= f.radio_button_with_label :leukemia_lineage, 'T-Cell Lineage' %></li>
</ul></div>







</div></li>
<li><div><h3>NAME AND DATE OF ABSTRACTOR</h3><h1> (these will be computed values)</h1>
<pre>
Name _________________________________
Date __________________
NAME AND DATE OF REVIEWER
Name _________________________________
Date __________________
NAME AND DATE OF DATA ENTRY PERSONS
Entry 1 Name _________________________________
Date __________________
Entry 2 Name _________________________________
Date _________________
</pre>
</div></li>

</ol>
<p><%= f.submit( 'Save' ) %></p>
<% end %>
