<h4>Abstracts: (Found <%=  @abstracts.to_a.length %>)</h4>

<p>
<%= link_to "All Abstracts", 
	abstracts_path(), class: :button %>&nbsp;
<%= link_to "Abstracts awaiting merging", 
	to_merge_abstracts_path, class: :button %>&nbsp;
<%= link_to "Merged Abstracts", 
	merged_abstracts_path, class: :button %>
</p>

<% unless @abstracts.to_a.empty? %>
	<table id='abstracts'><thead>
		<tr><th><%= sort_link('id','ID') %></th>
		<th><%= sort_link('patid', 'Pat ID') %></th>
		<th><%= sort_link('entry_1_by_uid', 'Entry 1 By') %></th>
		<th><%= sort_link('entry_2_by_uid', 'Entry 2 By') %></th>
		<th><%= sort_link('merged_by_uid', 'Merged By') %></th>
		<th class='manage'>Manage</th></tr>
	</thead><tbody>
		<%= render @abstracts %>
	</tbody></table>
<% else %>
	<p>Sorry, no abstracts yet.</p>
<% end %>

<!--
<hr/>
<p>The following links are not valid yet.</p>

<ul>
<li><%= link_to "Subjects", 
	study_subjects_path() %></li>
<li><%= link_to "Subjects awaiting first entry", 
	study_subjects_path(:abstracts_count => 0) %></li>
<li><%= link_to "Subjects awaiting second entry", 
	study_subjects_path(:abstracts_count => 1) %></li>
<li><%= link_to "Subjects awaiting abstract merging", 
	study_subjects_path(:abstracts_count => 2) %></li>
<li><%= link_to "Merged Abstracts", 
	abstracts_path(:merged => true) %></li>
</ul>
-->
