<%= content_tag_for( :tr, document_type, :class => 'row' ) do %>
 <td class='key'><%= document_type.key -%></td>
 <td class='title'><%= document_type.title -%></td>
 <td class='description'><%= document_type.description -%></td>
 <td class='manage'>
<%= link_to( "View", document_type_path(document_type), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_document_type_path(document_type), :class => 'button' ) -%>&nbsp;
<%= form_tag document_type, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy document_type '#{document_type}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='document_type' -->
