<p>
  <b>Key:</b>
  <%=h @document_type.key %>
</p>

<p>
  <b>Title:</b>
  <%=h @document_type.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @document_type.description %>
</p>

<%= link_to( 'Edit', edit_document_type_path(@document_type), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', document_types_path, :class => 'button' ) %>
