<div class='consent raf_section'>

<%#
	radio_button(object_name, method, tag_value, options = {})
	label(object_name, method, content_or_options = nil, options = nil, &block)
	check_box(object_name, method, options = {}, checked_value = "1", unchecked_value = "0")
	text_area(object_name, method, options = {})
%>

<% @study_subject.enrollments.build if @study_subject.enrollments.empty? %>
<% f.fields_for :enrollments do |enrollment_fields| %>

<p>
<%= enrollment_fields.radio_button :consented, 1 %>
<%= enrollment_fields.label :consented, 
	'Yes -- Informed consent and authorization obtained.', 
	:value => 1 %>
</p>

<%#
Control Source: document_versions.title where document_type_id = document_types.id for document_types.title = "consent"

NOT ALL DOCUMENT VERSIONS?

 collection_select(object, method, collection, value_method, text_method, options = {}, html_options = {}) 
%>
<p class='subconsent'>consent date:
<%= enrollment_fields.date_text_field :consented_on  %>
&nbsp;consent version:
<%= enrollment_fields.collection_select :document_version_id,
	 DocumentVersion.all, :id, :to_s, :include_blank => true  %>
</p>
<p class='subconsent'>(from consent signature page, if available at RAF entry)</p>

<div class='table'><div class='tablerow'>
<div>
<%= enrollment_fields.radio_button :consented, 2 %>
<%= enrollment_fields.label :consented, 'No -- Specify who refused...', 
	:value => 2 %>
</div><div>
<span class='refused_by'><%= enrollment_fields.check_box :refused_by_family %>
<%= enrollment_fields.label :refused_by_family %></span>
<span class='refused_by'><%= enrollment_fields.check_box :refused_by_physician %>
<%= enrollment_fields.label :refused_by_physician %></span>
</div><div>
<%= enrollment_fields.label :refusal_reason_id %>
<%= enrollment_fields.collection_select :refusal_reason_id,
	 RefusalReason.all, :id, :to_s, :include_blank => true  %>
</div>
</div><!-- div class='tablerow' -->
</div><!-- div class='table' -->

<%= enrollment_fields.wrapped_text_field :other_refusal_reason, 
	:style => "width:99%", :label_text => 'Other Refusal Reason:' %>
<% end %><%# f.fields_for :enrollments do |enrollment_fields| %>

</div><!-- class='consent' -->
