<%# stylesheets('base/jquery.ui.all.css') %><%# for datepicker %>
<% stylesheets(:raf) %>

<h3>Rapid Ascertainment Form (RAF) - waiver version</h3>

<% form_for(@study_subject, :url => waivered_path,
	:html => { :class => 'waivered raf edit_study_subject' }) do |f| %>

<%= f.error_messages %>

<%= render( :partial => 'raf/duplicates', 
	:locals => {:f=>f} ) if @duplicates and !@duplicates.empty? %>

<h3>Section 1: Preliminary Information
<span><span class='required'>*</span>required fields</span>
</h3>
<%= render :partial => 'raf/prelim_form', :locals => {:f=>f} %>
<%= render :partial => 'prelim_addition', :locals => {:f=>f} %>
<h3>Section 2: Eligibility Criteria</h3>
<%= render :partial => 'eligibility_form', :locals => {:f=>f} %>
<h3>Section 3: Informed Consent</h3>
<%= render :partial => 'consent_form', :locals => {:f=>f} %>
<h3>Section 4: Child and Parent Information</h3>
<%= render :partial => 'study_subjects/child_parent_form', :locals => {:f=>f} %>
<%= render :partial => 'raf/current_address_form', :locals => {:f=>f} %>

<p class='submit_bar'><%= f.submit_link_to 'Submit' %></p>
<% end %>
