<div id='refine'>
<%= form_tag( sunspot_subjects_path, :method => :get ) do %>
<%= submit_tag "Search", :name => nil %><br/>
<%#= text_field_tag :q, params[:q] %>

  <div class='facets'>
   <% @search.facets.each do |facet| -%>
    <% next if facet.rows.empty? -%><%# don't show empty facets -%>

    <%= facet_for(facet,
       :multiselector => [:biospecimens,:genotypings].include?(facet.name),
       :facet_counts  => true ) %>
<%# 
	multiselector is for when a single subject could have many
	Either as an array in itself or perhaps some implementation
		of a has_many for enrollments or something
%>
   <% end -%><%# @search.facets.each do |facet| -%>
  </div><!-- class='facets' -->
<% end %>
<%= link_to 'Download ALL as CSV', params.merge(:format => :csv) %>

<div id='columns'>
<ul id="sortable1" class="connectedSortable">
	<li class="ui-state-default">Item 1</li>
	<li class="ui-state-default">Item 2</li>
	<li class="ui-state-default">Item 3</li>
	<li class="ui-state-default">Item 4</li>
	<li class="ui-state-default">Item 5</li>
</ul>

<ul id="sortable2" class="connectedSortable">
	<li class="ui-state-highlight">Item 1</li>
	<li class="ui-state-highlight">Item 2</li>
	<li class="ui-state-highlight">Item 3</li>
	<li class="ui-state-highlight">Item 4</li>
	<li class="ui-state-highlight">Item 5</li>
</ul>
</div>
</div>



<div id='results'>
<% unless @search.results.empty? %>
<table>
<thead>
<tr>
<th>&nbsp;</th>
<% columns.each do |column| %>
<th><%= column_header(column) %></th>
<% end %>
</tr>
</thead>
<tbody>
<% @search.results.each do |result| %>
<tr>
<td><%= link_to 'show', study_subject_path(result.id) %></td>
<% columns.each do |column| %>
<td><%= column_content(result,column) || '&nbsp;'.html_safe %></td>
<% end %>
</tr>
<% end %>
</tbody>
</table>
<p><%= will_paginate(@search.hits) %></p>
<p class='page_info'>Displaying page <%=@search.hits.current_page%> of <%=@search.hits.total_pages%> out of <%=@search.total%> results</p>
<% else %>
<p>No results</p>
<% end %>
</div>
