<div id='refine'>
	<%= form_tag( sunspot_subjects_path, :method => :get ) do %>
		<%= submit_tag "Search Subjects", :name => nil %><br/>
	
		<%#	preserve the order and direction on next search %>
		<%# could also save in session as do elsewhere? %>
		<%= hidden_field_tag :order, params[:order] %>
		<%= hidden_field_tag :dir, params[:dir] %>
	
		<div class='field_wrapper'><span>query</span>
			<%= text_field_tag :q, params[:q], :class => :autosize, :title => 'This text is searched for in the following fields: first_name, middle_name, maiden_name, last_name, studyid, icf_master_id, childid, patid, hospital_no, do_not_use_state_id_no, do_not_use_state_registrar_no, do_not_use_local_registrar_no, subjectid, cdcid, do_not_use_derived_local_file_no_last6, do_not_use_derived_state_file_no_last6' %>
		</div>
		<%= render 'facets' %>
		<%= render 'per_page' %>
	<% end %><%# form_tag -%>
	<%= render 'download_csv' %>
<% if @search.total < 5000 %>
	<p><a id='show_map' href="javascript:void(0)">Show Map</a></p>
<% else %>
	<p>More than 5000 samples.<br/>Map disabled.</p>
<% end %>
</div>
<%= render 'results' %>
<%= render 'map' %>
