<div id='refine'>
	<%= form_tag( sunspot_subjects_path, :method => :get ) do %>
		<%= submit_tag "Search Subjects", :name => nil %><br/>
	
		<%#	preserve the order and direction on next search %>
		<%# could also save in session as do elsewhere? %>
		<%= hidden_field_tag :order, params[:order] %>
		<%= hidden_field_tag :dir, params[:dir] %>
	
		<div class='field_wrapper'><span>query</span>
			<%= text_field_tag :q, params[:q], :class => :autosize, :title => 'This text is searched for in the following fields: first_name, middle_name, maiden_name, last_name, studyid, icf_master_id, childid, patid, hospital_no, state_id_no, state_registrar_no, local_registrar_no, subjectid, cdcid, derived_local_file_no_last6, derived_state_file_no_last6' %>
		</div>
		<%= render 'facets' %>
		<%= render 'per_page' %>
	<% end %><%# form_tag -%>
	<%= render 'download_csv' %>
</div>
<%= render 'results' %>
<%#= render 'map' %>
