<div id='refine'>
<%= form_tag( sunspot_subjects_path, :method => :get ) do %>
<%= submit_tag "Search", :name => nil %><br/>
<%#= text_field_tag :q, params[:q] %>

  <div class='facets'>
   <% @search.facets.each do |facet| -%>
    <% next if facet.rows.empty? -%><%# don't show empty facets -%>

    <%= facet_for(facet,
       :multiselector => [:biospecimens,:genotypings].include?(facet.name),
       :facet_counts  => true ) %>
<%# 
	multiselector is for when a single subject could have many
	Either as an array in itself or perhaps some implementation
		of a has_many for enrollments or something
%>
   <% end -%><%# @search.facets.each do |facet| -%>

<div class="facet_toggle"><span class="ui-icon ui-icon-triangle-1-e">&nbsp;</span><a href="javascript:void()">Column Selection</a></div>
<div id='columns' class='facet_field'>
<p>Used Columns</p>
<ul id="selected_columns" class="selectable_columns">
<% columns.each do |column| %>
<%# NEED to find a way to use the id, but already using id matching these column names in the facet selectors %>
<%= content_tag(:li, column )%>
<% end %>
</ul>
<p>Unused Columns</p>
<ul id="unselected_columns" class="selectable_columns">
<% (available_columns-columns).each do |column| %>
<%# NEED to find a way to use the id, but already using id matching these column names in the facet selectors %>
<%= content_tag(:li, column )%>
<% end %>
</ul>
</div>

  </div><!-- class='facets' -->
<% end %>
<% if @search.total < 1000 %>
<%= link_to 'Download ALL as CSV', params.merge(:format => :csv) %>
<% else %>
<p>More than 1000 subjects.<br/>CSV download disabled.</p>
<% end %>
</div>


<div id='results'>
<% unless @search.results.empty? %>
<table><thead><tr>
<th>&nbsp;</th>
<% columns.each do |column| %>
<th><%= column_header(column) %></th>
<% end %>
</tr></thead><tbody>
<% @search.results.each do |result| %>
<tr>
<td><%= link_to 'show', study_subject_path(result.id) %></td>
<% columns.each do |column| %>
<td><%= column_content(result,column).to_s.gsub(/\s+/,'&nbsp;').html_safe || '&nbsp;'.html_safe %></td>
<% end %>
</tr>
<% end %>
</tbody></table>
<p><%= will_paginate(@search.hits) %></p>
<p class='page_info'>Displaying page <%=@search.hits.current_page%> of <%=@search.hits.total_pages%> out of <%=@search.total%> results</p>
<% else %>
<p>No results</p>
<% end %>
</div>
