<h4><%= ( (@refusal_reason.new_record?)?'Creating':'Editting' ) %> refusal_reason</h4>

<%= form_for(@refusal_reason) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :description %>
<p><%= f.submit( (@refusal_reason.new_record?)?'Create':'Update' ) %></p>
<% end %>
