<% sub_menu_for(@study_subject) %>

<%= form_for(@abstract,
	:url => abstract_cbc_path(@abstract),
	:html => { :class => "edit_abstract cbc" } ) do |f| %>

<%= f.error_messages %>

<fieldset><legend><%= @page_title %></legend>

<%= f.wrapped_yndk_select(:cbc_report_found,
	:label_text => "Found" ) %>
<%= f.wrapped_date_text_field(:cbc_report_on,
	:label_text => "Date" ) %>
<%= f.wrapped_text_field(:cbc_white_blood_count,
	:label_text => "Leukocyte count (WBC)" ) do %>
<span>K/mm<span class='superscript'>3</span></span>
<% end %>

<div>
<%= f.wrapped_check_box(:cbc_percent_blasts_unknown,
	:label_text => "% Blasts Unknown?" ) %>
<%= f.wrapped_text_field(:cbc_percent_blasts,
	:label_text => "% Blasts" ) do %>
<span>%</span>
<% end %>
<h4>OR</h4>
<%= f.wrapped_text_field(:cbc_number_blasts,
	:label_text => "Number of Blasts" ) %>
</div>

<%= f.wrapped_text_field(:cbc_hemoglobin_level,
	:label_text => "Hemoglobin" ) do %>
<span>GM/DL</span>
<% end %>
<% f.wrapped_text_field(:cbc_platelet_count,
	:label_text => "Platelet count" ) do %>
<span>K/mm<span class='superscript'>3</span></span>
<% end %>

</fieldset>

<%#= f.submit_bar(controller.class.name) %>
<%= f.submit_bar() %>
<% end %>
