<div class='addressing_wrapper contact_wrapper'>
<%#

What is 'dates' ?

	'dates' is a boolean variable sometimes passed
	to this partial to flag whether or not to show 
	the dates.

%>
<%= render( :partial => 'addressing_dates', :locals => {
	:addressing => addressing
}) if defined?(dates) and dates %>

<%= div_for addressing do %>
<span class='line_1'><%= addressing.line_1 %></span>
<%= "<span class='unit'>Apt. #{h(addressing.unit)}</span>".html_safe unless addressing.unit.blank? %>
<%= "<span class='line_2'>#{h(addressing.line_2)}</span>".html_safe  unless addressing.line_2.blank? %>
<span class='csz'><%= addressing.csz %></span>
<%= "<span class='county'>#{h(addressing.county)} County</span>".html_safe unless addressing.county.blank?  %>
<% end %><!-- class='addressing' -->

<div class='addressing_meta contact_meta'>
<span class='type'>type:&nbsp;<%= addressing.address_type %></span>
</div><!-- class='addressing_meta' -->

<%#

What are 'details' and 'edit' ?

	'details' and 'edit' are a boolean variables sometimes passed
	to this partial to flag whether or not to show things.

%>
<%= render :partial => 'addressing_details', :locals => {
	:details => ( ( defined?(details) ) ? details : false ),
	:edit    => ( ( defined?(edit)    ) ? edit    : false ),
	:addressing => addressing
} %>
</div><!-- class='addressing_wrapper contact_wrapper' -->
