<% stylesheets('consent') %>
<% javascripts('consent') %>
<% sub_menu_for(@enrollment.study_subject) %>

<% content_for :id_bar do %>
<%= link_to( 'Save', nil, {
	:id => "for_#{dom_id(@enrollment,:edit)}",	#	for_FORM_ID
	:class => :submitter
}) %>
<% end if current_user.may_edit_enrollments? %>

<% id_bar_for(@enrollment.study_subject) %>

<h3>Study Consent Info</h3>

<% form_for(@enrollment,
	:url => study_subject_consent_path(@study_subject),
	:html => { :class => 'enrollment confirm' }) do |f| %>

<%= f.error_messages %>

<%= f.wrapped_y_n_dk_select :is_eligible,
	:label_text => 'is eligible?' %>

<%= f.wrapped_collection_select :ineligible_reason_id,
	IneligibleReason.all, :id, :to_s, :include_blank => true,
	:label_text => 'reason ineligible:' %>

<%= f.wrapped_text_field :ineligible_reason_specify,
	:label_text => 'specify reason:' %>

<p><%= link_to "show/hide eligibility criteria", 
	edit_study_subject_consent_path(@study_subject),
	:class => 'toggle_eligibility_criteria' %></p>

<div style='display:none' class='eligibility_criteria'>
<p>Is this patient under age 15? Yes / No</p>

<p>Language of parent or caretaker: </p>
<p>English (eligible)</p>
<p>Spanish (eligible)</p>
<p>Other (not eligible)</p>
<p>specify: </p>

<p>Has this patient received previous treatment for leukemia or another cancer at any institution? Yes / No</p>

<p>Does the patient currently reside in California? Yes / No</p>

</div>


<%= f.wrapped_y_n_dk_select :consented,
	:label_text => 'consented?' %>

<div>
<p>javascript triggered subject did not consent fields...</p>
<%= f.wrapped_collection_select :refusal_reason_id,
	RefusalReason.all, :id, :to_s, :include_blank => true,
	:label_text => 'reason for refusal:' %>
<%= f.wrapped_text_field :other_refusal_reason,
	:label_text => 'specify reason:' %>
</div>

<div>
<p>javascript triggered subject consented fields...</p>
<%= f.wrapped_date_text_field :consented_on,
	:size => 20,
	:class => 'datepicker',
	:label_text => 'consent date:' %>
<%= f.wrapped_collection_select :document_version_id,
	DocumentVersion.type1, :id, :to_s, :include_blank => true,
	:label_text => 'consent version:' %>
</div>





<br/>
<br/>
<br/>
<p>these appear to be all new fields ...</p>
<hr/>
<div>
<p>Hospital Consent Opt-Outs</p>
<hr/>
<p>May CCLS use samples ...</p>
<p>... in future research? agree / disagree / n/a</p>
<p>... in future cancer research? agree / disagree / n/a</p>
<p>... in future research of other diseases? agree / disagree / n/a</p>

<p>I agree to have my data and tissue/fluid samples shared with other researchers for projects related to childhood leukemia and genetic markers.  agree / disagree / n/a</p>

<p>I agree to be contacted for additional research studies related to this project at a later date.  agree / disagree / n/a</p>

<p>I agree to provide a salive sample for this research study.  agree / disagree / n/a</p>

<p>I want to receive general information about what the study found.  agree / disagree / n/a</p>
</div>

<% end %>
