<% stylesheets('consent') %>
<% javascripts('consent') %>
<% sub_menu_for(@enrollment.study_subject) %>

<% id_bar_for(@enrollment.study_subject) %>

<% form_for(@enrollment,
	:url => study_subject_consent_path(@study_subject),
	:html => { :class => 'enrollment confirm' }) do |f| %>

<div id='subject_control_bar'>
<h3>Study Consent Info</h3>
<div class='buttons'>
<%= link_to( 'Cancel', study_subject_consent_path(@study_subject),
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %>
</div><!-- class='buttons' -->
</div>

<%= f.error_messages %>

<%= f.wrapped_y_n_dk_select :is_eligible,
	:label_text => 'is eligible?' %>
<div id='subject_is_eligible'>
<%= f.wrapped_collection_select :ineligible_reason_id,
	IneligibleReason.all, :id, :to_s, :include_blank => true,
	:label_text => 'reason ineligible:' %>
<%= f.wrapped_text_field :ineligible_reason_specify,
	:label_text => 'specify reason:' %>
</div><!-- id='subject_is_eligible' -->




<% if @study_subject.is_case? %>
<p><%= link_to "show/hide RAF eligibility criteria", 
	edit_study_subject_consent_path(@study_subject),
	:class => 'toggle_eligibility_criteria' %></p>

<div style='display:none' class='eligibility_criteria'>
<%#

	It is possible for me to include the nested patient attributes here.
	Then I wouldn't need to explicitly update the patient.
	Good idea?

%>
<%# patient cannot be nil here %>
<% @study_subject.build_patient if @study_subject.patient.nil? %>
<% @patient = @study_subject.patient %>
<% fields_for @patient do |p| %>

<p>This is an auto-updated field.  Should it really be editable? No. Readonly.</p>
<p>Also, the text seems incorrect.  This field is was_under_15_at_dx, which does not correspond correctly. It should be something like "Was this patient under age 15 at diagnosis?"</p>

<%#= p.wrapped_y_n_dk_select( :was_under_15_at_dx,
	:label_text => 'Is this patient under age 15?'
	) %>

<%= wrapped_yndk_spans( :patient, :was_under_15_at_dx,
	:label_text => 'Is this patient under age 15?'
	) %>


<% fields_for @study_subject do |s| %>
<%= s.subject_languages_select( [ Language['english'], Language['spanish'], Language['other'] ]) %>
<% end %>
<%= p.wrapped_y_n_dk_select( :was_previously_treated,
	:label_text => 'Has this patient received previous treatment for leukemia or another cancer at any institution?'
	) %>
<%= p.wrapped_y_n_dk_select( :was_ca_resident_at_diagnosis,
	:label_text => 'Does the patient currently reside in California?'
	) %>
<% end %><%# fields_for @patient do |p| %>
</div><!-- class='eligibility_criteria' -->
<% end %><%# if @study_subject.is_case? %>






<%= f.wrapped_y_n_dk_select :consented,
	:label_text => 'consented?' %>

<div id='subject_refused'>
<%= f.wrapped_collection_select :refusal_reason_id,
	RefusalReason.all, :id, :to_s, :include_blank => true,
	:label_text => 'reason for refusal:' %>
<%= f.wrapped_text_field :other_refusal_reason,
	:label_text => 'specify reason:' %>
</div><!-- id='subject_refused' -->

<div id='subject_consented'>
<%= f.wrapped_date_text_field :consented_on,
	:size => 20,
	:class => 'datepicker',
	:label_text => 'consent date:' %>
<%= f.wrapped_collection_select :document_version_id,
	DocumentVersion.type1, :id, :to_s, :include_blank => true,
	:label_text => 'consent version:' %>
</div><!-- id='subject_consented' -->

<hr/>
<div id='consent_opt_outs'>
<p>Hospital Consent Opt-Outs</p>
<hr/>
<p>May CCLS use samples ...</p>
<p>... in future research? <%= f.adna_select :use_smp_future_rsrch %></p>
<p>... in future cancer research? <%= f.adna_select :use_smp_future_cancer_rsrch %></p>
<p>... in future research of other diseases? <%= f.adna_select :use_smp_future_other_rsrch %></p>

<p>I agree to have my data and tissue/fluid samples shared with other researchers for projects related to childhood leukemia and genetic markers.  <%= f.adna_select :share_smp_with_others %></p>

<p>I agree to be contacted for additional research studies related to this project at a later date.  <%= f.adna_select :contact_for_related_study %></p>

<p>I agree to provide a salive sample for this research study.  <%= f.adna_select :provide_saliva_smp %></p>

<p>I want to receive general information about what the study found.  <%= f.adna_select :receive_study_findings %></p>
</div>

<% end %>
