<h4>ODMS Exceptions</h4>

<% unless @odms_exceptions.empty? %>
<p>This is all a bit much. name/description.  links to edit, resolve, add notes. link to the exceptables.</p>
<table id='odms_exceptions'><thead><tr>
<th>name</th>
<th>description</th>
<th>resolved?</th>
<th>exceptable</th>
<th></th>
</tr></thead><tbody>
<% @odms_exceptions.each do |odms_exception| %>
<tr class='row'>
<td><%= odms_exception.name %></td>
<td><%= odms_exception.description %></td>
<td><%= odms_exception.is_resolved %></td>
<td>
<% if odms_exception.exceptable %>
<%= odms_exception.exceptable.class %>(<%= odms_exception.exceptable.attributes['id'] %>)
<% end %>
</td>
<td class='manage'>
<%= link_to 'View', odms_exception, :class => :button %>
<%= link_to 'Edit', edit_odms_exception_path(odms_exception), :class => :button %>
</td>
</tr>
<% end %>
</tbody></table><!-- id='odms_exceptions' -->
<% else %>
<p>Sorry, but no OdmsExceptions exist.</p>
<% end %>
