<h4>Odms Exception</h4>

<%= wrapped_spans(:odms_exception,:name) %>
<%= wrapped_spans(:odms_exception,:description) %>
<%= wrapped_spans(:odms_exception,:is_resolved) %>
<%= wrapped_spans(:odms_exception,:notes) %>

<div class='exceptable field_wrapper'>
<span class='label'>Exceptable(s)</span>
<span class='value'>
<% if @odms_exception.exceptable %>
<%= link_to "#{@odms_exception.exceptable.class}(#{@odms_exception.exceptable.attributes['id']})", @odms_exception.exceptable %>
<%# MUST HAVE STANDARD RESTFUL ROUTE TO ALL THINGS EXCEPTABLE %>
<% end %>
</span>
</div><!-- class='exceptable field_wrapper' -->

<p>
<%= link_to 'Edit', edit_odms_exception_path(@odms_exception), 
	:class => :button %>&nbsp;
<%= link_to 'Back', odms_exceptions_path, :class => 'button' %>
</p>
