<%= content_tag_for( :tr, section, :class => 'row' ) do %>
 <td class='key'><%= section.key -%></td>
 <td class='description'><%= section.description -%></td>
 <td class='manage'>
<%= link_to( "View", section_path(section), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_section_path(section), :class => 'button' ) -%>&nbsp;
<%= form_tag section, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy section '#{section}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='section' -->
