<% stylesheets(:patient) %>
<%# sub_menu_for(@study_subject) %>
<%# id_bar_for(@study_subject) %>

<div id='subject_control_bar'>
<h3>Patient</h3>
<div class='buttons'>
<%= link_to( 'Edit', edit_study_subject_patient_path(@study_subject),
	:class => 'button' ) if current_user.may_edit_patients? %>
</div><!-- class='buttons' -->
</div>

<div id='patient'>
<div class='admit_date field_wrapper'>
<span class='label'>admit (reference) date:</span>
<span class='value'><%=mdy @patient.admit_date %></span>
</div><!-- class='admit_date' -->
<%= wrapped_date_spans(:patient,:diagnosis_date,
	:label_text => 'diagnosis date:' ) %>
<%= wrapped_spans(:patient,:diagnosis,
	:label_text => 'diagnosis:' ) %>
<%= wrapped_spans(:patient,:other_diagnosis,
	:label_text => 'other diagnosis:' ) if( @patient.diagnosis == Diagnosis['other'] ) %>
<%= wrapped_date_spans(:patient,:treatment_began_on,
	:label_text => 'treatment began:' ) %>
<%= wrapped_spans(:patient,:organization,
	:label_text => 'diagnosing hospital:') %>
<%= wrapped_spans(:patient,:hospital_no,
	:label_text => 'hospital number:') %>
</div><!-- id='patient' -->
