<h4><%= ( (@context.new_record?)?'Creating':'Editting' ) %> context</h4>

<%= form_for(@context, :html => { :class => 'edit_context'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :description %>
<%= f.wrapped_text_area :notes %>

<%#

	This is getting kinda heavy and I'd like to clean it up if its gonna
	ever actually be used.

%>

<p>Diagnoses:</p>
<ul>
<% Diagnosis.all.each do |diagnosis| %>
<li>
<%= f.check_box 'diagnosis_ids', { 
	:id => "diagnosis_id_#{diagnosis.id}",
	:multiple => true,
	:checked => ( @context.diagnosis_ids.include?(diagnosis.id) )
	 }, diagnosis.id, nil %>
<label for="diagnosis_id_<%=diagnosis.id-%>"><%=diagnosis.to_s-%></label></li>
<% end %>
</ul>

<p>Data Sources:</p>
<ul>
<% DataSource.all.each do |data_source| %>
<li>
<%= f.check_box 'data_source_ids', { 
	:id => "data_source_id_#{data_source.id}",
	:multiple => true,
	:checked => ( @context.data_source_ids.include?(data_source.id) )
	 }, data_source.id, nil %>
<label for="data_source_id_<%=data_source.id-%>"><%=data_source.to_s-%></label></li>
<% end %>
</ul>

<p>Languages:</p>
<ul>
<% Language.all.each do |language| %>
<li>
<%= f.check_box 'language_ids', { 
	:id => "language_id_#{language.id}",
	:multiple => true,
	:checked => ( @context.language_ids.include?(language.id) )
	 }, language.id, nil %>
<label for="language_id_<%=language.id-%>"><%=language.to_s-%></label></li>
<% end %>
</ul>


<p>Sample Temperatures:</p>
<ul>
<% SampleTemperature.all.each do |temperature| %>
<li>
<%= f.check_box 'sample_temperature_ids', { 
	:id => "sample_temperature_id_#{temperature.id}",
	:multiple => true,
	:checked => ( @context.sample_temperature_ids.include?(temperature.id) )
	 }, temperature.id, nil %>
<label for="sample_temperature_id_<%=temperature.id-%>"><%=temperature.to_s-%></label></li>
<% end %>
</ul>


<p>
<%= f.submit( (@context.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', contexts_path, :class => 'button' %>
</p>
<% end %>
