<p>
  <b>Key:</b>
  <%=h @context.key %>
</p>

<p>
  <b>Description:</b>
  <%=h @context.description %>
</p>

<p>
  <b>Notes:</b>
  <%=h @context.notes %>
</p>

<p>
  <b>Contextables:</b>
</p>
<% if @context.context_contextables.length > 0 %>
<ul>
<% @context.context_contextables.each do |context_contextable| %>
<li><%= context_contextable.contextable_type %>:<%= context_contextable.contextable %></li>
<% end %>
</ul>
<% end %>

<%= link_to( 'Edit', edit_context_path(@context), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', contexts_path, :class => 'button' ) %>
