<% stylesheets('base/jquery.ui.all.css') %><%# for datepicker %>
<h3>New Subject</h3>

<% form_for(@subject, :url => subjects_path,
	:html => { :class => 'edit_subject' }) do |f| %>
<%#= render 'form', :f => f %>

<%= f.error_messages %>

<div class='do_not_contact field_wrapper'>
<%= f.label :do_not_contact, "Contact Status:" %>
<%= f.check_box :do_not_contact %>
<%= f.label :do_not_contact, "do not contact subject?" %>
</div><!-- class='do_not_contact' -->

<%= render :partial => 'raf_type_form', :locals => {:f=>f} %>
<%= render :partial => 'prelim_form', :locals => {:f=>f} %>
<%= render :partial => 'child_parent_form', :locals => {:f=>f} %>
<%= render :partial => 'eligibility_form', :locals => {:f=>f} %>
<%= render :partial => 'consent_form', :locals => {:f=>f} %>


<%= f.submit_link_to 'Create new subject' %>
<% end %>
