<% javascripts('edit_address') %>
<% stylesheets(:address_edit) %>

<div class='control'><div class='control_row'>
<h3><%= ( @address.new_record? ) ? 'New' : 'Edit' %> Address</h3>
<div><%= link_to( 'Cancel', study_subject_contacts_path( @study_subject ),
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %></div>
</div></div>

<%= f.error_messages %>

<div class='fields_for_address'>
<%= f.wrapped_select :address_type, 
	@address.address_types, :include_blank => true, :label_text => 'Type' %>

<%#

This selector will uniquely include the existing data source
even if it is NOT included in the normal/new list

-%>
<div class='source'>
<%= f.wrapped_select :data_source, 
		@address.data_sources, :include_blank => true, :label_text => 'Source:' %>
<%= f.wrapped_text_field :other_data_source, 
	:label_text => 'Specify if other:' %>
</div><!-- class='source' -->
<hr/>

<%= f.wrapped_text_field :line_1 %>
<%= f.wrapped_text_field :unit, :label_text => 'Apt.' %>
<%= f.wrapped_text_field :line_2 %>
<div class='field_wrapper'>
<%= f.label :city, 'City, State Zip' -%>
<%= f.text_field :city %>
<%= f.select :state, State.abbreviations, 
	{ :include_blank => true }, :class => 'state' %>
<%= f.text_field :zip, :class => :zip %>
</div>
<%= f.wrapped_text_field :county %>
<%= f.wrapped_country_select :country %>
</div>

<hr/>

<div class='moved'>
<%= f.wrapped_yndk_select :current_address,
	:label_text => 'Current Address?' %>
<%= f.wrapped_check_box(:subject_moved,
	:label_text => 'check here if this change indicates the subject has moved (may create operational event if type is residence and current changed to no)') %>
</div><!-- class='moved' -->

<%= f.wrapped_yndk_select :address_at_diagnosis,
	:label_text => 'Address at diagnosis?' %>

<%= f.wrapped_text_area :notes, :class => 'autosize', :rows => 3, :cols => 50 %>

