<% stylesheets(:contacts) %>

<div class='control'><div class='control_row'>
<h3>Address</h3>
<div><%= link_to( 'Contacts', study_subject_contacts_path( @study_subject ),
	:class => 'button' ) %>&nbsp;<%= link_to 'Edit',
	edit_study_subject_address_path(@address.study_subject_id,@address.id),
	:class => 'button' %>
</div>
</div></div>

<%= div_for @address do %>
<span class='line_1'><%= @address.line_1 %></span>
<%= "<span class='unit'>Apt. #{h(@address.unit)}</span>".html_safe unless @address.unit.blank? %>
<%= "<span class='line_2'>#{h(@address.line_2)}</span>".html_safe  unless @address.line_2.blank? %>
<span class='csz'><%= @address.csz %></span>
<%= "<span class='county'>#{h(@address.county)} County</span>".html_safe unless @address.county.blank?  %>
<% end %><!-- class='address' -->

<%= render 'map' %>

