<%= form_for(@abstract,
	:url => abstract_checklist_path(@abstract),
	:html => { :class => 'edit_abstract checklist' }) do |f| %>

<%= f.error_messages %>

<fieldset><legend><%= @page_title %></legend>

<div class='table'>
<div class='columns'>
<div class='column'>
<%= f.wrapped_yndk_select(:received_bone_marrow_biopsy,
	:label_text => "Bone Marrow Biopsy" ) %>
<%= f.wrapped_yndk_select(:received_bone_marrow_aspirate,
	:label_text => "Bone Marrow Aspirate" ) %>
<%= f.wrapped_yndk_select(:received_flow_cytometry,
	:label_text => "Flow Cytometry" ) %>
<%#= f.wrapped_yndk_select(:received_hla_typing,
	:label_text => "HLA-Typing" ) %>
<%= f.wrapped_yndk_select(:received_cytogenetics,
	:label_text => "Cytogenetics" ) %>
<%= f.wrapped_yndk_select(:received_cbc,
	:label_text => "CBC" ) %>
<%= f.wrapped_yndk_select(:received_csf,
	:label_text => "CSF" ) %>
</div><!-- class='column' -->
<div class='column'>
<%= f.wrapped_yndk_select(:received_chest_xray,
	:label_text => "Chest X-Ray") %>
<%= f.wrapped_yndk_select(:received_h_and_p,
	:label_text => "Admitting H&amp;P") %>
<%= f.wrapped_yndk_select(:received_chemo_protocol,
	:label_text => "Clinical Chemo Protocol") %>
<%= f.wrapped_yndk_select(:received_discharge_summary,
	:label_text => "Discharge Summary") %>
<%= f.wrapped_yndk_select(:received_resp_to_therapy,
	:label_text => "Response to Therapy") %>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->
<%= f.wrapped_yndk_select(:received_other_reports,
	:label_text => "Other Reports") %>
<%= f.wrapped_text_area(:received_specify_other_reports,
	:class => 'autosize',
	:label_text => 'Specify:') %>

</fieldset>

<%= f.submit_bar() %>
<% end %>
