<%= edit_link() %>
<div class='checklist'>
<div class='table'>
<div class='columns'>
<div class='column'>
<%= wrapped_yndk_spans(:abstract,:received_bone_marrow_biopsy,
	:label_text => 'Bone Marrow Biopsy') %>
<%= wrapped_yndk_spans(:abstract,:received_bone_marrow_aspirate,
	:label_text => 'Bone Marrow Aspirate') %>
<%= wrapped_yndk_spans(:abstract,:received_flow_cytometry,
	:label_text => 'Flow Cytometry') %>
<%#= wrapped_yndk_spans(:abstract,:received_hla_typing,
	:label_text => 'HLA-Typing') %>
<%= wrapped_yndk_spans(:abstract,:received_cytogenetics,
	:label_text => 'Cytogenetics') %>
<%= wrapped_yndk_spans(:abstract,:received_cbc,
	:label_text => 'CBC') %>
<%= wrapped_yndk_spans(:abstract,:received_csf,
	:label_text => 'CSF') %>
</div><!-- class='column' -->
<div class='column'>
<%= wrapped_yndk_spans(:abstract,:received_chest_xray,
	:label_text => 'Chest X-Ray') %>
<%= wrapped_yndk_spans(:abstract,:received_h_and_p,
	:label_text => 'Admitting H&amp;P') %>
<%= wrapped_yndk_spans(:abstract,:received_chemo_protocol,
	:label_text => 'Clinical Chemo Protocol') %>
<%= wrapped_yndk_spans(:abstract,:received_discharge_summary,
	:label_text => 'Discharge Summary') %>
<%= wrapped_yndk_spans(:abstract,:received_resp_to_therapy,
	:label_text => 'Response to Therapy') %>
</div><!-- class='column' -->
</div><!-- class='columns' -->
</div><!-- class='table' -->
<%= wrapped_yndk_spans(:abstract,:received_other_reports,
	:label_text => 'Other Reports') %>
<%= wrapped_spans(:abstract,:received_specify_other_reports,
	:label_text => 'Specify') %>

</div><!-- class='checklist' -->
<%= abstract_pages(@abstract) %>
