<%= form_for(@instrument_type, :html => { :class => 'edit_instrument_type'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :description %>
<p>
<%= f.submit( (@instrument_type.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', instrument_types_path, :class => 'button' %>
</p>
<% end %>
