<%= content_tag_for( :tr, instrument_type, :class => 'row' ) do %>
 <td class='key'><%= instrument_type.key -%></td>
 <td class='description'><%= instrument_type.description -%></td>
 <td class='project'><%= instrument_type.project -%></td>
 <td class='manage'>
<%= link_to( "View", instrument_type_path(instrument_type), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_instrument_type_path(instrument_type), :class => 'button' ) -%>&nbsp;
<%= form_tag instrument_type, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy instrument_type '#{instrument_type}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='instrument_type' -->
