<p>
  <b>Key:</b>
  <%=h @instrument_type.key %>
</p>

<p>
  <b>Description:</b>
  <%=h @instrument_type.description %>
</p>

<p>
  <b>Project:</b>
  <%=h @instrument_type.project %>
</p>

<%= link_to( 'Edit', edit_instrument_type_path(@instrument_type), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', instrument_types_path, :class => 'button' ) %>
