<h4><%= ( (@sample_temperature.new_record?)?'Creating':'Editting' ) %> sample_temperature</h4>

<%= form_for(@sample_temperature, :html => { :class => 'edit_sample_temperature'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :description %>
<p>
<%= f.submit( (@sample_temperature.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', sample_temperatures_path, :class => 'button' %>
</p>
<% end %>
