<%= content_tag_for( :tr, instrument_version, :class => 'row' ) do %>
 <td class='key'><%= instrument_version.key -%></td>
 <td class='description'><%= instrument_version.description -%></td>
 <td class='instrument_type'><%= instrument_version.instrument_type -%></td>
 <td class='manage'>
<%= link_to( "View", instrument_version_path(instrument_version), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_instrument_version_path(instrument_version), :class => 'button' ) -%>&nbsp;
<%= form_tag instrument_version, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy instrument_version '#{instrument_version}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='instrument_version' -->
