<%= f.error_messages %>

<h2>CALIFORNIA CHILDHOOD LEUKEMIA STUDY MEDICAL ABSTRACT FORM</h2>

<ol type='I'>
<li><div><h3>PARTICIPANT INFORMATION</h3>
	<ul>
	<li><%= wrapped_spans :study_subject, :full_name,
        :label_text => "Patient's Name:" %></li>
	<li><%= wrapped_spans :study_subject, :initials,
        :label_text => "Patient's Initials:" %></li>
	<li><%= wrapped_spans :study_subject, :organization %></li>
	<li><%= wrapped_date_spans :study_subject, :dob %></li>
	<li><%= wrapped_date_spans :study_subject, :diagnosis_date %></li>
	<li><%= wrapped_spans :study_subject, :hospital_no %></li>
	</ul>
	</div></li>

<li><div><h3>DIAGNOSTIC STUDIES</h3>
	<ol type='A'>
	<li><div><h4>BONE MARROW BIOPSY</h4>
		<%= f.wrapped_yndk_select :bmb_report_found %>
		<%= f.wrapped_date_text_field :bmb_test_date %>
		<%= f.wrapped_yndk_select :bmb_percentage_blasts_known %>
		<%= f.wrapped_text_field :bmb_percentage_blasts %>
		
		<div><%= f.label :bmb_comments %><br/>
		<%= f.text_area :bmb_comments, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>
	
	<!-- ################################################################# -->
	
	<li><div><h4>BONE MARROW ASPIRATE (or SMEARS)</h4>
		<%= f.wrapped_yndk_select :bma_report_found %>
		<%= f.wrapped_date_text_field :bma_test_date %>
		<%= f.wrapped_yndk_select :bma_percentage_blasts_known %>
		<%= f.wrapped_text_field :bma_percentage_blasts %>

		<div><%= f.label :bma_comments %>:<br/>
		<%= f.text_area :bma_comments, :class => :autosize, :rows => 3, :cols => 50 %>
		</div>
	</div></li>

	<!-- ################################################################# -->
	
	<li><div><h4>CYTOCHEMICAL STAINS (or HISTOCHEMISTRY)</h4>
		<%= f.wrapped_yndk_select :ccs_report_found %>
		<%= f.wrapped_date_text_field :ccs_test_date %>
		<%= f.wrapped_select :ccs_peroxidase, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_sudan_black, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_periodic_acid_schiff, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_chloroacetate_esterase, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_non_specific_esterase, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_alpha_naphthyl_butyrate_esterase, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_toluidine_blue, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_bcl_2, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>
		<%= f.wrapped_select :ccs_other, [
			"Positive", "Negative", "Not Done"], :include_blank => true %>

	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>DIAGNOSTIC FLOW CYTOMETRY (or IMMUNOPHENOTYPING)</h4>
		<%= f.wrapped_yndk_select :dfc_report_found %>
		<%= f.wrapped_date_text_field :dfc_test_date %>
		<%= f.wrapped_yndk_select :dfc_numerical_data_available %>
	
		<ul>
			<li><div>B Cell Markers:
				<%= f.wrapped_text_field :marker_cd10 %>
				<%= f.wrapped_text_field :marker_cd19 %>
				<%= f.wrapped_text_field :marker_cd20 %>
				<%= f.wrapped_text_field :marker_cd21 %>
				<%= f.wrapped_text_field :marker_cd22 %>
				<%= f.wrapped_text_field :marker_cd23 %>
				<%= f.wrapped_text_field :marker_cd24 %>
				<%= f.wrapped_text_field :marker_cd40 %>
				<%= f.wrapped_text_field :marker_sig %>
				<%= f.wrapped_text_field :marker_igm %>
				<%= f.wrapped_text_field :marker_bmk %>
				<%= f.wrapped_text_field :marker_bml %>
				<%= f.wrapped_text_field :marker_cd19_cd10 %>
			</div></li>

			<li><div>T Cell Markers:
				<%= f.wrapped_text_field :marker_cd1a %>
				<%= f.wrapped_text_field :marker_cd2 %>
				<%= f.wrapped_text_field :marker_cd3 %>
				<%= f.wrapped_text_field :marker_cd4 %>
				<%= f.wrapped_text_field :marker_cd5 %>
				<%= f.wrapped_text_field :marker_cd7 %>
				<%= f.wrapped_text_field :marker_cd8 %>
				<%= f.wrapped_text_field :marker_cd3_cd4 %>
				<%= f.wrapped_text_field :marker_cd3_cd8 %>
			</div></li>
	
			<li><div>Myeloid markers:
				<%= f.wrapped_text_field :marker_cd11b %>
				<%= f.wrapped_text_field :marker_cd11c %>
				<%= f.wrapped_text_field :marker_cd13 %>
				<%= f.wrapped_text_field :marker_cd15 %>
				<%= f.wrapped_text_field :marker_cd33 %>
				<%= f.wrapped_text_field :marker_cd41 %>
				<%= f.wrapped_text_field :marker_cdw65 %>
			</div></li>
	
			<li><div>Stem Cell Marker:
				<%= f.wrapped_text_field :marker_cd34 %>
			</div></li>
	
			<li><div>Megakaryocyte Marker:
				<%= f.wrapped_text_field :marker_cd61 %>
			</div></li>
	
			<li><div>Mono Marker:
				<%= f.wrapped_text_field :marker_cd14 %>
			</div></li>
	
			<li><div>Erythroid Marker:
				<%= f.wrapped_text_field :marker_glycophorin_a %>
			</div></li>
	
			<li><div>Natural Killer associated markers:
				<%= f.wrapped_text_field :marker_cd16 %>
				<%= f.wrapped_text_field :marker_cd56 %>
				<%= f.wrapped_text_field :marker_cd57 %>
			</div></li>
	
			<li><div>Non-Specific Markers:
				<%= f.wrapped_text_field :marker_cd9 %>
				<%= f.wrapped_text_field :marker_cd25 %>
				<%= f.wrapped_text_field :marker_cd38 %>
				<%= f.wrapped_text_field :marker_cd45 %>
				<%= f.wrapped_text_field :marker_cd71 %>
				<%= f.wrapped_text_field :marker_hla_dr %>
				<%= f.wrapped_text_field :marker_tdt %>
			</div></li>
		</ul>

		<div><%= f.label :other_markers %><br/>
		<%= f.text_area :other_markers, :class => :autosize, :rows => 3, :cols => 50 %></div>

		<div><%= f.label :marker_comments %><br/>
		<%= f.text_area :marker_comments, :class => :autosize, :rows => 3, :cols => 50 %></div>
	
	</div></li>
	
	<!-- ################################################################# -->

	<li><div><h4>TDT (or TERMINAL DEOXYNUCLEOTYDYL TRANSFERASE)</h4>
		<%= f.wrapped_yndk_select :tdt_report_found %>
		<%= f.wrapped_date_text_field :tdt_test_date %>
	
		<%= f.wrapped_select :tdt_found_where, [
			"in Flow Cytometry", "separately"], :include_blank => true %>

		<%= f.wrapped_select :tdt_result, [
			"Positive", "Negative"], :include_blank => true %>
		<%= f.wrapped_text_field :tdt_numerical_result %>
	
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>PLOIDY (or DNA CONTENT)</h4>
		<%= f.wrapped_yndk_select :ploidy_report_found %>
		<%= f.wrapped_date_text_field :ploidy_test_date %>

		<%= f.wrapped_select :ploidy_found_where, [
			"in Flow Cytometry", "separately"], :include_blank => true %>

		<%= f.wrapped_text_field :ploidy_hypodiploid %>
		<%= f.wrapped_text_field :ploidy_pseudodiploid %>
		<%= f.wrapped_text_field :ploidy_hyperdiploid %>
		<%= f.wrapped_text_field :ploidy_diploid %>
		<%= f.wrapped_text_field :ploidy_dna_index %>

		<div><%= f.label :ploidy_other_dna_measurement %><br/>
		<%= f.text_area :ploidy_other_dna_measurement, :class => :autosize, :rows => 3, :cols => 50 %></div>
		<div><%= f.label :ploidy_notes %><br/>
		<%= f.text_area :ploidy_notes, :class => :autosize, :rows => 3, :cols => 50 %></div>

	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>HISTOCOMPATIBILITY STUDIES (or HLA-TYPING)</h4>
		<%= f.wrapped_yndk_select :hla_report_found %>
		<%= f.wrapped_date_text_field :hla_test_date %>

		<div><%= f.label :hla_results %>:<br/>
		<%= f.text_area :hla_results, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CYTOGENETIC STUDIES</h4>
		<%= f.wrapped_yndk_select :cgs_report_found %>
		<%= f.wrapped_date_text_field :cgs_test_date %>
		<%= f.wrapped_yndk_select :cgs_normal %>

		<%= f.wrapped_yndk_select :cgs_conventional_karyotype_done %>
		<%= f.wrapped_yndk_select :cgs_hospital_fish_done %>
		<%= f.wrapped_yndk_select :cgs_hyperdiploidy_detected %>
	
		<div>If yes, hyperdiploidy by karyotype or FISH:
		<%= f.radio_button_with_label :cgs_hyperdiploidy_by, 'Karyotype' %>
		<%= f.radio_button_with_label :cgs_hyperdiploidy_by, 'FISH' %>
		</div>
	
		<%= f.wrapped_text_field :cgs_hyperdiploidy_number_of_chromosomes,
			:post_text => "(if karyotype)" %>
	
		<p>Please indicate the presence or absence of the following translocations.</p>
	
		<%= f.wrapped_padk_select :cgs_t12_21 %>
		<%= f.wrapped_padk_select :cgs_inv16 %>
		<%= f.wrapped_padk_select :cgs_t1_19 %>
		<%= f.wrapped_padk_select :cgs_t4_11_q21_q23 %>
		<%= f.wrapped_padk_select :cgs_t8_21 %>
		<%= f.wrapped_padk_select :cgs_t9_22 %>
		<%= f.wrapped_padk_select :cgs_t15_17 %>
		<%= f.wrapped_padk_select :cgs_t16_16_p13_q22 %>

		<p>Please indicate the presence or absence of the following trisomies.</p>
		<%= f.wrapped_padk_select :cgs_trisomy_x %>
		<%= f.wrapped_padk_select :cgs_trisomy_4 %>
		<%= f.wrapped_padk_select :cgs_trisomy_5 %>
		<%= f.wrapped_padk_select :cgs_trisomy_6 %>
		<%= f.wrapped_padk_select :cgs_trisomy_8 %>
		<%= f.wrapped_padk_select :cgs_trisomy_10 %>
		<%= f.wrapped_padk_select :cgs_trisomy_14 %>
		<%= f.wrapped_padk_select :cgs_trisomy_17 %>
		<%= f.wrapped_padk_select :cgs_trisomy_18 %>
		<%= f.wrapped_padk_select :cgs_trisomy_21 %>
		<%= f.wrapped_padk_select :cgs_monosomy_7 %>
		<%= f.wrapped_padk_select :cgs_deletion_6q %>
		<%= f.wrapped_padk_select :cgs_deletion_9p %>
		<%= f.wrapped_padk_select :cgs_deletion_16_q22 %>
	
		<div><%= f.label :cgs_others %><br/>
		<%= f.text_area :cgs_others, :class => :autosize, :rows => 3, :cols => 50 %></div>
	
		<div>Conventional Karyotyping Results [Numerical results &amp; Summary of findings]:<br/>
		<%= f.text_area :cgs_conventional_karyotyping_results, :class => :autosize, :rows => 3, :cols => 50 %></div>
	
		<div>Hospital FISH Results [Numerical results &amp; Summary of findings]:<br/>
		<%= f.text_area :cgs_hospital_fish_results, :class => :autosize, :rows => 3, :cols => 50 %></div>

		<div><%= f.label :cgs_comments %><br/>
		<%= f.text_area :cgs_comments, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>OTHER MOLECULAR / GENETIC ABNORMALITIES (or OMG)</h4>
		<%= f.wrapped_yndk_select :omg_abnormalities_found %>
		<%= f.wrapped_date_text_field :omg_test_date %>
		<%= f.wrapped_select :omg_p16, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_p15, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_p53, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_ras, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_all1, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_wt1, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_bcr, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_etv6, [
			"Positive", "Negative", "Other"], :include_blank => true %>
		<%= f.wrapped_select :omg_fish, [
			"Positive", "Negative", "Other"], :include_blank => true %>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>ELECTRON MICROSCOPY (or EM)</h4>
		<%= f.wrapped_yndk_select :em_report_found %>
		<%= f.wrapped_date_text_field :em_test_date %>
		<div><%= f.label :em_comments %><br/>
		<%= f.text_area :em_comments, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>COMPLETE BLOOD COUNT (CBC)</h4>
		<%= f.wrapped_yndk_select :cbc_report_found %>
		<%= f.wrapped_date_text_field :cbc_test_date %>
		<%= f.wrapped_text_field :cbc_leukocyte_count, :post_text => "K/mm3" %>
		<%= f.wrapped_text_field :cbc_percentage_blasts, :post_text => '%' %>
		<%= f.wrapped_text_field :cbc_number_of_blasts %>
		<%= f.wrapped_text_field :cbc_hemoglobin, :post_text => 'GM/DL' %>
		<%= f.wrapped_text_field :cbc_platelet_count, :post_text => 'K/mm3' %>
	
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CEREBROSPINAL FLUID (or CSF)</h4>
		<%= f.wrapped_yndk_select :csf_report_found %>
		<%= f.wrapped_date_text_field :csf_test_date %>
		<%= f.wrapped_text_field :csf_wbc %>
		<%= f.wrapped_text_field :csf_rbc %>
		<%= f.wrapped_yndk_select :csf_blasts_present %>
		<%= f.wrapped_text_field :csf_number_of_blasts %>
		<%= f.wrapped_yndk_select :csf_pb_contamination %>
	
		<div>Cytology (or CSF Pathology) <br/>
		<%= f.text_area :csf_cytology, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>OTHER BIOPSIES</h4>

		<%= f.wrapped_yndk_select :ob_skin_report_found %>
		<%= f.wrapped_date_text_field :ob_skin_date %>
		<%= f.wrapped_yndk_select :ob_skin_leukemic_cells_present %>

		<%= f.wrapped_yndk_select :ob_lymph_node_report_found %>
		<%= f.wrapped_date_text_field :ob_lymph_node_date %>
		<%= f.wrapped_yndk_select :ob_lymph_node_leukemic_cells_present %>

		<%= f.wrapped_yndk_select :ob_liver_report_found %>
		<%= f.wrapped_date_text_field :ob_liver_date %>
		<%= f.wrapped_yndk_select :ob_liver_leukemic_cells_present %>

		<%= f.wrapped_yndk_select :ob_other_report_found %>
		<%= f.wrapped_date_text_field :ob_other_date %>
		<%= f.wrapped_text_field :ob_other_site_organ, :class => :autosize %>
		<%= f.wrapped_yndk_select :ob_other_leukemic_cells_present %>

	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CHEST IMAGING AT PRESENTATION</h4>
		<ul>
			<li><div>Chest X-Ray
				<%= f.wrapped_yndk_select :cxr_report_found %>
				<%= f.wrapped_date_text_field :cxr_test_date %>
	
<h1>Are these radio button / exclusive option?</h1>

				<div>Check as appropriate: 
					<%= f.label :cxr_result, 'Normal Chest', :value => 'normal' %>
					<%= f.radio_button :cxr_result, 'normal' %>
					<%= f.label :cxr_result, 'Mediastinal Mass Present', :value => 'mass' %>
					<%= f.radio_button :cxr_result, 'mass' %>
				</div>
	
				<div>If mediastinal mass present, describe: <br/>
					<%= f.text_area :cxr_mediastinal_mass_description, 
						:class => :autosize, :rows => 3, :cols => 50 %></div>
			</div></li>
			<li><div>Chest CT Scan
				<%= f.wrapped_yndk_select :cct_report_found %>
				<%= f.wrapped_date_text_field :cct_test_date %>
	
<h1>Are these radio button / exclusive option?</h1>

				<div>Check as appropriate: 
					<%= f.label :cct_result, 'Normal Chest', :value => 'normal' %>
					<%= f.radio_button :cct_result, 'normal' %>
					<%= f.label :cct_result, 'Mediastinal Mass Present', :value => 'mass' %>
					<%= f.radio_button :cct_result, 'mass' %>
				</div>
	
				<div>If mediastinal mass present, describe: <br/>
					<%= f.text_area :cct_mediastinal_mass_description, 
						:class => :autosize, :rows => 3, :cols => 50 %></div>
			</div></li>
		</ul>

	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>ABDOMINAL SONOGRAM, CT SCAN or MRI BEFORE TREATMENT</h4>
		<%= f.wrapped_yndk_select :as_report_found %>
		<%= f.wrapped_date_text_field :as_test_date %>
		<%= f.wrapped_yndk_select :as_normal %>
		<%= f.wrapped_yndk_select :as_sphenomegaly %>
		<%= f.wrapped_yndk_select :as_hepatomegaly %>
		<%= f.wrapped_yndk_select :as_lymphadenopathy %>
		<%= f.wrapped_yndk_select :as_other_abdominal_masses %>
		<%= f.wrapped_yndk_select :as_ascities %>
		<div><%= f.label :as_other_abnormal_findings %><br/>
			<%= f.text_area :as_other_abnormal_findings, 
				:class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>TESTICULAR SONOGRAM BEFORE TREATMENT</h4>
		<%= f.wrapped_yndk_select :ts_report_found %>
		<%= f.wrapped_date_text_field :ts_test_date %>
		<div><%= f.label :ts_findings %><br/>
			<%= f.text_area :ts_findings, 
				:class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>ADMITTING HISTORY AND PHYSICAL (H&amp;P) REPORT</h4>
		<%= f.wrapped_yndk_select :hpr_report_found %>
		<%= f.wrapped_date_text_field :hpr_test_date %>
		<div>1) ORGANOMEGALY<br/>
		<%= f.wrapped_yndk_select :hpr_hepatomegaly %>
		<%= f.wrapped_yndk_select :hpr_splenomegaly %>
		</div>
		<div>2) DOWN SYNDROME PHENOTYPE (From Admitting H&amp;P Report)<br/>
		<%= f.wrapped_yndk_select :hpr_down_syndrome_phenotype %>
		</div>
	
		<div>3) PHYSICAL EXAM (from physical exam at diagnosis)</div>

		<div>Height at Diagnosis:
			<%= f.text_field :height %> in :<%= f.select :height_units, ['in','cm'], :include_blank => true %></div>
		<div>Weight at Diagnosis:
			<%= f.text_field :weight %> in :<%= f.select :weight_units, ['lb','kg'], :include_blank => true %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>DISCHARGE SUMMARY</h4>
		<%= f.wrapped_yndk_select :ds_report_found %>
		<%= f.wrapped_date_text_field :ds_test_date %>
	
		<div>CLINICAL DIAGNOSIS (from Discharge Summary Report)<br/>
		<%= f.text_area :ds_clinical_diagnosis, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CHEMOTHERAPY PROTOCOL</h4>
		<%= f.wrapped_yndk_select :cp_report_found %>

		<div>Was patient enrolled on a standardized induction protocol, such as COG?
		<%= f.wrapped_yndk_select :cp_induction_protocol_used %>
		</div>
<h1>fix this area</h1>
		<div>If yes, indicate protocol name and number used <%= f.text_field :cp_induction_protocol_name_and_number %> (e.g. COG AALL0231)</div>
	
		<div>If no, specify any therapeutic agents (especially the first 3-4 induction agents) and if the patient was "treated per _____":<br/>
		<%= f.text_area :cp_therapeutic_agents, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>
	</ol>
</div></li>

<!-- ################################################################# -->

<li><div><h3>RESPONSE TO THERAPY</h3>

	<h4>DAY 7 (8) Bone Marrow Aspirate</h4>
	<%= f.wrapped_yndk_select :bma07_report_found %>
	<%= f.wrapped_date_text_field :bma07_test_date %>
	<%= f.wrapped_select :bma07_classification, [["<5% Blasts", "M1"],
		["5-25% Blasts", "M2"], [">25% Blasts", "M3"]], :include_blank => true %>
	<%= f.wrapped_text_field :bma07_percentage_of_blasts, :post_text => "(if reported)" %>
	<div><%= f.label :bma07_inconclusive_results %>
	<%= f.check_box :bma07_inconclusive_results, {}, true, false %>
	<span>(check if inconclusive results are indicated on report)</span>
	</div>

	<h4>DAY 14 (15) Bone Marrow Aspirate</h4>
	<%= f.wrapped_yndk_select :bma14_report_found %>
	<%= f.wrapped_date_text_field :bma14_test_date %>
	<%= f.wrapped_select :bma14_classification, [["<5% Blasts", "M1"],
		["5-25% Blasts", "M2"], [">25% Blasts", "M3"]], :include_blank => true %>
	<%= f.wrapped_text_field :bma14_percentage_of_blasts, :post_text => "(if reported)" %>
	<div><%= f.label :bma14_inconclusive_results %>
	<%= f.check_box :bma14_inconclusive_results, {}, true, false %>
	<span>(check if inconclusive results are indicated on report)</span>
	</div>

	<h4>DAY 28 (29) Bone Marrow Aspirate</h4>
	<%= f.wrapped_yndk_select :bma28_report_found %>
	<%= f.wrapped_date_text_field :bma28_test_date %>
	<%= f.wrapped_select :bma28_classification, [["<5% Blasts", "M1"],
		["5-25% Blasts", "M2"], [">25% Blasts", "M3"]], :include_blank => true %>
	<%= f.wrapped_text_field :bma28_percentage_of_blasts, :post_text => "(if reported)" %>
	<div><%= f.label :bma28_inconclusive_results %>
	<%= f.check_box :bma28_inconclusive_results, {}, true, false %>
	<span>(check if inconclusive results are indicated on report)</span>
	</div>

	<br/><br/>

	<div>At the end of induction (30 days), was the child in clinical remission?<br/>
	<%= f.wrapped_yndk_select :clinical_remission %>
	</div>

</div></li>

<!-- ################################################################# -->

<li><div><h3>DIAGNOSIS &amp; CLASSIFICATION</h3>

	<%= f.wrapped_select :leukemia_class, grouped_options_for_select({ 
		'ALL' => [ 'ALL L1', 'ALL L2', 'ALL L3', 'ALL Other'], 
		'AML' => [ 'AML M0', 'AML M1', 'AML M2', 'AML M3', 'AML M4', 'AML M4e',
			'AML M5', 'AML M5A', 'AML M5B', 'AML M6', 'AML M7', 'AML Other' ],
		'CML' => ['CML'], 'CLL' => ['CLL']
	}),:include_blank => true %>

	<%= f.wrapped_text_field :other_all_leukemia_class,
		:post_text => "(if is Other ALL)" %>
	<%= f.wrapped_text_field :other_aml_leukemia_class,
		:post_text => "(if is Other AML)" %>

	<%= f.wrapped_text_field :icdo_classification_number %>
	<div><%= f.label :icdo_classification_description %><br/>
	<%= f.text_area :icdo_classification_description, :class => :autosize, :rows => 3, :cols => 50 %></div>

	<div>LINEAGE: (check the appropriate box if lineage is indicated)</div>
	<div><ul>
		<li><%= f.radio_button_with_label :leukemia_lineage, 'B-Cell Lineage' %></li>
		<li><%= f.radio_button_with_label :leukemia_lineage, 'T-Cell Lineage' %></li>
	</ul></div>

</div></li>

<!-- ################################################################# -->

<li><div><h3>PHYSICAL EXAM BEFORE TREATMENT</h3>
	<%= f.wrapped_yndk_select :pe_report_found %>
	<%= f.wrapped_date_text_field :pe_test_date %>
	<%= f.wrapped_yndk_select :pe_gingival_infiltrates %>
	<%= f.wrapped_yndk_select :pe_leukemic_skin_infiltrates %>
	<%= f.wrapped_yndk_select :pe_lymphadenopathy %>
	<div><%= f.label :pe_lymphadenopathy_description %><br/>
	<%= f.text_area :pe_lymphadenopathy_description, :class => :autosize, :rows => 3, :cols => 50 %></div>
	<%= f.wrapped_yndk_select :pe_splenomegaly %>
	<%= f.wrapped_text_field  :pe_splenomegaly_size, :class => :autosize %>
	<%= f.wrapped_yndk_select :pe_hepatomegaly %>
	<%= f.wrapped_text_field  :pe_hepatomegaly_size, :class => :autosize %>
	<%= f.wrapped_yndk_select :pe_testicular_mass %>
	<%= f.wrapped_yndk_select :pe_other_soft_tissue %>
	<%= f.wrapped_text_field  :pe_other_soft_tissue_location, :class => :autosize %>
	<%= f.wrapped_text_field  :pe_other_soft_tissue_size, :class => :autosize %>
	<div><%= f.label :pe_neurological_abnormalities %><br/>
	<%= f.text_area :pe_neurological_abnormalities, :class => :autosize, :rows => 3, :cols => 50 %></div>
	<div><%= f.label :pe_other_abnormal_findings %><br/>
	<%= f.text_area :pe_other_abnormal_findings, :class => :autosize, :rows => 3, :cols => 50 %></div>
</div></li>

<!-- ################################################################# -->

<li><div><h3>NAME AND DATE OF ABSTRACTOR</h3>

	<%= f.wrapped_text_field       :abstracted_by, :class => :autosize %>
	<%= f.wrapped_date_text_field  :abstracted_on %>
	<%= f.wrapped_text_field       :reviewed_by, :class => :autosize %>
	<%= f.wrapped_date_text_field  :reviewed_on %>

</div></li>

</ol>
<p><%= f.submit( 'Save' ) %></p>
