<% stylesheets(:abstract__form) %>

<h2>CALIFORNIA CHILDHOOD LEUKEMIA STUDY MEDICAL ABSTRACT FORM</h2>

<ol type='I'>
<li><div><h3>PARTICIPANT INFORMATION</h3>
	<ul>
	<li><%= wrapped_spans :study_subject, :full_name,
        :label_text => "Patient's Name:" %></li>
	<li><%= wrapped_spans :study_subject, :initials,
        :label_text => "Patient's Initials:" %></li>
	<li><%= wrapped_spans :study_subject, :organization %></li>
	<li><%= wrapped_date_spans :study_subject, :dob %></li>
	<li><%= wrapped_date_spans :study_subject, :diagnosis_date %></li>
	<li><%= wrapped_date_spans :study_subject, :treatment_began_on %></li>
	<li><%= wrapped_spans :study_subject, :hospital_no %></li>
	</ul>
	</div></li>

<li><div><h3>DIAGNOSTIC STUDIES</h3>
	<ol type='A'>
	<li><div><h4>BONE MARROW BIOPSY</h4>
		<%= f.wrapped_yndk_select :bmb_report_found %>
		<%= f.wrapped_date_text_field :bmb_test_date %>
		<%= f.wrapped_yndk_select :bmb_percentage_blasts_known %>
		<%= f.wrapped_text_field :bmb_percentage_blasts %>
		
		<div><%= f.label :bmb_comments %><br/>
		<%= f.text_area :bmb_comments, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>
	
	<!-- ################################################################# -->
	
	<li><div><h4>BONE MARROW ASPIRATE</h4>
		<%= f.wrapped_yndk_select :bma_report_found %>
		<%= f.wrapped_date_text_field :bma_test_date %>
		<%= f.wrapped_yndk_select :bma_percentage_blasts_known %>
		<%= f.wrapped_text_field :bma_percentage_blasts %>

		<div><%= f.label :bma_comments %>:<br/>
		<%= f.text_area :bma_comments, :class => :autosize, :rows => 3, :cols => 50 %>
		</div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>DIAGNOSTIC FLOW CYTOMETRY (or IMMUNOPHENOTYPING)</h4>
		<%= f.wrapped_yndk_select :dfc_report_found %>
		<%= f.wrapped_date_text_field :dfc_test_date %>
		<%= f.wrapped_yndk_select :dfc_numerical_data_available %>
	
		<ul>
			<li><div>B Cell Markers:
				<%= f.wrapped_text_field :marker_cd10 %>
				<%= f.wrapped_text_field :marker_cd19 %>
				<%= f.wrapped_text_field :marker_cd20 %>
				<%= f.wrapped_text_field :marker_cd21 %>
				<%= f.wrapped_text_field :marker_cd22 %>
				<%= f.wrapped_text_field :marker_cd23 %>
				<%= f.wrapped_text_field :marker_cd24 %>
				<%= f.wrapped_text_field :marker_cd40 %>
				<%= f.wrapped_text_field :marker_sig %>
				<%= f.wrapped_text_field :marker_igm %>
				<%= f.wrapped_text_field :marker_bmk %>
				<%= f.wrapped_text_field :marker_bml %>
				<%= f.wrapped_text_field :marker_cd19_cd10 %>
			</div></li>

			<li><div>T Cell Markers:
				<%= f.wrapped_text_field :marker_cd1a %>
				<%= f.wrapped_text_field :marker_cd2 %>
				<%= f.wrapped_text_field :marker_cd3 %>
				<%= f.wrapped_text_field :marker_cd4 %>
				<%= f.wrapped_text_field :marker_cd5 %>
				<%= f.wrapped_text_field :marker_cd7 %>
				<%= f.wrapped_text_field :marker_cd8 %>
				<%= f.wrapped_text_field :marker_cd3_cd4 %>
				<%= f.wrapped_text_field :marker_cd3_cd8 %>
			</div></li>
	
	
			<li><div>Myeloid markers:
				<%= f.wrapped_text_field :marker_cd11b %>
				<%= f.wrapped_text_field :marker_cd11c %>
				<%= f.wrapped_text_field :marker_cd13 %>
				<%= f.wrapped_text_field :marker_cd15 %>
				<%= f.wrapped_text_field :marker_cd33 %>
				<%= f.wrapped_text_field :marker_cd41 %>
				<%= f.wrapped_text_field :marker_cdw65 %>
			</div></li>
	
	
			<li><div>Stem Cell Marker:
				<%= f.wrapped_text_field :marker_cd34 %>
			</div></li>
	
			<li><div>Megakaryocyte Marker:
				<%= f.wrapped_text_field :marker_cd61 %>
			</div></li>
	
			<li><div>Mono Marker:
				<%= f.wrapped_text_field :marker_cd14 %>
			</div></li>
	
			<li><div>Erythroid Marker:
				<%= f.wrapped_text_field :marker_glycophorin_a %>
			</div></li>
	
			<li><div>Natural Killer associated markers:
				<%= f.wrapped_text_field :marker_cd16 %>
				<%= f.wrapped_text_field :marker_cd56 %>
				<%= f.wrapped_text_field :marker_cd57 %>
			</div></li>
	
			<li><div>Non-Specific Markers:
				<%= f.wrapped_text_field :marker_cd9 %>
				<%= f.wrapped_text_field :marker_cd25 %>
				<%= f.wrapped_text_field :marker_cd38 %>
				<%= f.wrapped_text_field :marker_cd45 %>
				<%= f.wrapped_text_field :marker_cd71 %>
				<%= f.wrapped_text_field :marker_hla_dr %>
				<%= f.wrapped_text_field :marker_tdt %>
			</div></li>
		</ul>
	
		<div><%= f.label :other_markers %><br/>
		<%= f.text_area :other_markers, :class => :autosize, :rows => 3, :cols => 50 %></div>

		<div><%= f.label :marker_comments %><br/>
		<%= f.text_area :marker_comments, :class => :autosize, :rows => 3, :cols => 50 %></div>
	
	</div></li>
	
	
	
<li><h1>NOTE:  How to do these "Other" fields?</h1></li>
	
	
	

	<!-- ################################################################# -->

	<li><div><h4>TDT (or TERMINAL DEOXYNUCLEOTYDYL TRANSFERASE)</h4>
		<%= f.wrapped_yndk_select :tdt_report_found %>
		<%= f.wrapped_date_text_field :tdt_test_date %>
	
		<%= f.wrapped_select :tdt_found_where, [
			"in Flow Cytometry", "separately"], :include_blank => true %>

		<%= f.wrapped_select :tdt_result, [
			"Positive", "Negative"], :include_blank => true %>
		<%= f.wrapped_text_field :tdt_numerical_result %>
	
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>PLOIDY (or DNA CONTENT)</h4>
		<%= f.wrapped_yndk_select :ploidy_report_found %>
		<%= f.wrapped_date_text_field :ploidy_test_date %>

		<%= f.wrapped_select :ploidy_found_where, [
			"in Flow Cytometry", "separately"], :include_blank => true %>

		<%= f.wrapped_text_field :ploidy_hypodiploid %>
		<%= f.wrapped_text_field :ploidy_pseudodiploid %>
		<%= f.wrapped_text_field :ploidy_hyperdiploid %>
		<%= f.wrapped_text_field :ploidy_diploid %>
		<%= f.wrapped_text_field :ploidy_dna_index %>

		<div><%= f.label :ploidy_other_dna_measurement %><br/>
		<%= f.text_area :ploidy_other_dna_measurement, :class => :autosize, :rows => 3, :cols => 50 %></div>
		<div><%= f.label :ploidy_notes %><br/>
		<%= f.text_area :ploidy_notes, :class => :autosize, :rows => 3, :cols => 50 %></div>



	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>HISTOCOMPATIBILITY STUDIES (or HLA-TYPING)</h4>
		<%= f.wrapped_yndk_select :hla_report_found %>
		<%= f.wrapped_date_text_field :hla_test_date %>

		<div><%= f.label :hla_results %>:<br/>
		<%= f.text_area :hla_results, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CYTOGENETIC STUDIES</h4>
		<%= f.wrapped_yndk_select :cs_report_found %>
		<%= f.wrapped_date_text_field :cs_test_date %>

		<%= f.wrapped_yndk_select :cs_conventional_karyotype_done %>
		<%= f.wrapped_yndk_select :cs_hospital_fish_done %>
		<%= f.wrapped_yndk_select :cs_hyperdiploidy_detected %>
	
		<div>If yes, hyperdiploidy by karyotype or FISH:
		<%= f.radio_button_with_label :cs_hyperdiploidy_by, 'Karyotype' %>
		<%= f.radio_button_with_label :cs_hyperdiploidy_by, 'FISH' %>
		</div>
	
		<%= f.wrapped_text_field :cs_hyperdiploidy_number_of_chromosomes,
			:post_text => "(if karyotype)" %>
	
		<p>Please indicate the presence or absence of the following translocations. Leave no blanks.</p>
	
		<%= f.wrapped_yndk_select :translocation_t12_21 %>
		<%= f.wrapped_yndk_select :translocation_inv16 %>
		<%= f.wrapped_yndk_select :translocation_t1_19 %>
		<%= f.wrapped_yndk_select :translocation_t8_21 %>
		<%= f.wrapped_yndk_select :translocation_t9_22 %>
		<%= f.wrapped_yndk_select :translocation_t15_17 %>

<h1>NOTE:  How to do these "Other" fields?</h1>
	
	
		<p>Please indicate the presence of absence of the following trisomies</p>
		<%= f.wrapped_yndk_select :trisomy_4 %>
		<%= f.wrapped_yndk_select :trisomy_5 %>
		<%= f.wrapped_yndk_select :trisomy_10 %>
		<%= f.wrapped_yndk_select :trisomy_17 %>
		<%= f.wrapped_yndk_select :trisomy_21 %>
	
	
		<div>Conventional Karyotyping Results [Numerical results &amp; Summary of findings]:<br/>
		<%= f.text_area :cs_conventional_karyotyping_results, :class => :autosize, :rows => 3, :cols => 50 %></div>
	
		<div>Hospital FISH Results [Numerical results &amp; Summary of findings]:<br/>
		<%= f.text_area :cs_hospital_fish_results, :class => :autosize, :rows => 3, :cols => 50 %></div>

		<div><%= f.label :cs_comments %><br/>
		<%= f.text_area :cs_comments, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>COMPLETE BLOOD COUNT (CBC)</h4>
		<%= f.wrapped_yndk_select :cbc_report_found %>
		<%= f.wrapped_date_text_field :cbc_test_date %>
		<%= f.wrapped_text_field :cbc_leukocyte_count, :post_text => "K/mm3" %>
		<%= f.wrapped_text_field :cbc_percentage_blasts, :post_text => '%' %>
		<%= f.wrapped_text_field :cbc_number_of_blasts %>
		<%= f.wrapped_text_field :cbc_hemoglobin, :post_text => 'GM/DL' %>
		<%= f.wrapped_text_field :cbc_platelet_count, :post_text => 'K/mm3' %>
	
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CEREBROSPINAL FLUID (or CSF)</h4>
		<%= f.wrapped_yndk_select :csf_report_found %>
		<%= f.wrapped_date_text_field :csf_test_date %>
		<%= f.wrapped_text_field :csf_wbc %>
		<%= f.wrapped_text_field :csf_rbc %>
		<%= f.wrapped_yndk_select :csf_blasts_present %>
		<%= f.wrapped_text_field :csf_number_of_blasts %>
		<%= f.wrapped_yndk_select :csf_pb_contamination %>
	
		<div>Cytology (or CSF Pathology) <br/>
		<%= f.text_area :csf_cytology, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CHEST IMAGING (Chest X-ray)</h4>
		<%= f.wrapped_yndk_select :cxr_report_found %>
		<%= f.wrapped_date_text_field :cxr_test_date %>
	
<h1>Are these radio button / exclusive option?</h1>
		<div>Check as appropriate: 
		<%= f.label :cxr_result, 'Normal Chest', :value => 'normal' %>
		<%= f.radio_button :cxr_result, 'normal' %>
		<%= f.label :cxr_result, 'Mediastinal Mass Present', :value => 'mass' %>
		<%= f.radio_button :cxr_result, 'mass' %>
		</div>
	
		<div>If mediastinal mass present, describe: <br/>
		<%= f.text_area :cxr_mediastinal_mass_description, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>ADMITTING HISTORY AND PHYSICAL (H&amp;P) REPORT</h4>
		<%= f.wrapped_yndk_select :hpr_report_found %>
		<%= f.wrapped_date_text_field :hpr_test_date %>
		<div>1) ORGANOMEGALY<br/>
		<%= f.wrapped_yndk_select :hpr_hepatomegaly %>
		<%= f.wrapped_yndk_select :hpr_splenomegaly %>
		</div>
		<div>2) DOWN SYNDROME PHENOTYPE (From Admitting H&amp;P Report)<br/>
		<%= f.wrapped_yndk_select :hpr_down_syndrome_phenotype %>
		</div>
	
	
		<div>3) PHYSICAL EXAM (from physical exam at diagnosis) (HAVE BOTH? OR COMPUTE ONE FROM OTHER? WHAT'S THE 'b' FOR?)</div>
		<div>Height at Diagnosis - in centimeters: <%= f.text_field :height_in_cm %> in inches: <%= f.text_field :height_in_in %></div>
		<div>Weight at diagnosis - in kilograms:<%= f.text_field :weight_in_kg %> in pounds:<%= f.text_field :weight_in_lb %> b</div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>DISCHARGE SUMMARY</h4>
		<%= f.wrapped_yndk_select :ds_report_found %>
		<%= f.wrapped_date_text_field :ds_test_date %>
	
		<div>CLINICAL DIAGNOSIS (from Discharge Summary Report)<br/>
		<%= f.text_area :ds_clinical_diagnosis, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>

	<!-- ################################################################# -->

	<li><div><h4>CHEMOTHERAPY PROTOCOL</h4>
		<%= f.wrapped_yndk_select :cp_report_found %>

		<div>Was patient enrolled on a standardized induction protocol, such as COG?
		<%= f.wrapped_yndk_select :cp_induction_protocol_used %>
		</div>
<h1>fix this area</h1>
		<div>If yes, indicate protocol name and number used <%= f.text_field :cp_induction_protocol_name_and_number %> (e.g. COG AALL0231)</div>
	
		<div>If no, specify any therapeutic agents (especially the first 3-4 induction agents) and if the patient was "treated per _____":<br/>
		<%= f.text_area :cp_therapeutic_agents, :class => :autosize, :rows => 3, :cols => 50 %></div>
	</div></li>
	</ol>
</div></li>


<li><div><h3>RESPONSE TO THERAPY</h3>


	<h4>DAY 7 (8) Bone Marrow Aspirate</h4>
	<%= f.wrapped_yndk_select :bma07_report_found %>
	<%= f.wrapped_date_text_field :bma07_test_date %>
	<%= f.wrapped_select :bma07_classification, [["<5% Blasts", "M1"],
		["5-25% Blasts", "M2"], [">25% Blasts", "M3"]], :include_blank => true %>
	<%= f.wrapped_text_field :bma07_percentage_of_blasts, :post_text => "(if reported)" %>
	<div><%= f.label :bma07_inconclusive_results %>
	<%= f.check_box :bma07_inconclusive_results, {}, true, false %>
	<span>(check if inconclusive results are indicated on report)</span>
	</div>

	<h4>DAY 14 (15) Bone Marrow Aspirate</h4>
	<%= f.wrapped_yndk_select :bma14_report_found %>
	<%= f.wrapped_date_text_field :bma14_test_date %>
	<%= f.wrapped_select :bma14_classification, [["<5% Blasts", "M1"],
		["5-25% Blasts", "M2"], [">25% Blasts", "M3"]], :include_blank => true %>
	<%= f.wrapped_text_field :bma14_percentage_of_blasts, :post_text => "(if reported)" %>
	<div><%= f.label :bma14_inconclusive_results %>
	<%= f.check_box :bma14_inconclusive_results, {}, true, false %>
	<span>(check if inconclusive results are indicated on report)</span>
	</div>

	<h4>DAY 28 (29) Bone Marrow Aspirate</h4>
	<%= f.wrapped_yndk_select :bma28_report_found %>
	<%= f.wrapped_date_text_field :bma28_test_date %>
	<%= f.wrapped_select :bma28_classification, [["<5% Blasts", "M1"],
		["5-25% Blasts", "M2"], [">25% Blasts", "M3"]], :include_blank => true %>
	<%= f.wrapped_text_field :bma28_percentage_of_blasts, :post_text => "(if reported)" %>
	<div><%= f.label :bma28_inconclusive_results %>
	<%= f.check_box :bma28_inconclusive_results, {}, true, false %>
	<span>(check if inconclusive results are indicated on report)</span>
	</div>


	<div>At the end of induction (30 days), was the child in clinical remission?<br/>
	<%= f.wrapped_yndk_select :clinical_remission %>
	</div>



</div></li>
<li><div><h3>DIAGNOSIS &amp; CLASSIFICATION</h3>

<%= f.wrapped_select :leukemia_class, grouped_options_for_select({ 
	'ALL' => [ 'ALL L1', 'ALL L2', 'ALL L3', 'ALL Other'], 
	'AML' => [ 'AML M0', 'AML M1', 'AML M2', 'AML M3', 'AML M4', 'AML M4e',
		'AML M5', 'AML M5A', 'AML M5B', 'AML M6', 'AML M7', 'AML Other' ],
	'CML' => ['CML'], 'CLL' => ['CLL']
}),:include_blank => true %>

<%= f.wrapped_text_field :other_all_leukemia_class,
	:post_text => "(if is Other ALL)" %>
<%= f.wrapped_text_field :other_aml_leukemia_class,
	:post_text => "(if is Other AML)" %>

<%= f.wrapped_text_field :icdo_classification_number %>
<div><%= f.label :icdo_classification_description %><br/>
<%= f.text_area :icdo_classification_description, :class => :autosize, :rows => 3, :cols => 50 %></div>



<div>LINEAGE: (check the appropriate box if lineage is indicated)</div>
<div><ul>
	<li><%= f.radio_button_with_label :leukemia_lineage, 'B-Cell Lineage' %></li>
	<li><%= f.radio_button_with_label :leukemia_lineage, 'T-Cell Lineage' %></li>
</ul></div>







</div></li>
<li><div><h3>NAME AND DATE OF ABSTRACTOR</h3>
<h1> (these will be computed values)</h1>
<pre>
Name _________________________________
Date __________________
NAME AND DATE OF REVIEWER
Name _________________________________
Date __________________
NAME AND DATE OF DATA ENTRY PERSONS
Entry 1 Name _________________________________
Date __________________
Entry 2 Name _________________________________
Date _________________
</pre>
</div></li>

</ol>
<p><%= f.submit( 'Save' ) %></p>
