<p>PatID: <%= @study_subject.patid %></p>

<%= form_for Abstract.new,
	:url => merge_study_subject_abstracts_path(@study_subject) do |f| %>

<p>Merging will destroy the two source abstracts and create a new one from the selections.</p>
<p>If you see a red row, it is because the entered values differ.</p>

<table>
<thead><tr><th>Field</th><th>Value(s)</th></tr></thead>
<tbody>
<% Abstract.db_fields.each do |column| %>
<%	classes = ['row'];
		classes.push('diff') if (@diffs.has_key?(column))
%>
	<%= content_tag( :tr, :class => classes.join(' ') ) do %>
<td><%= Abstract.human_attribute_name(column) %></td>
<td>
<% if @diffs.has_key?(column) -%>
<%#
	radio_button(object_name, method, tag_value, options = {})
	label(object_name, method, content_or_options = nil, options = nil, &block)
	text_field(object_name, method, options = {})

	Radio buttons append the value to the id joined by an _
		If the value is nil, it does nothing, so make sure with a ||''

	Added .presence (will nilify a blank value) as ''||'BLANK' => ''
-%>
	<%= f.radio_button( column, @abstracts[0][column] || '',
		:checked => false )%>
	<%= f.label( column, @abstracts[0][column].presence || 'BLANK',
		:value => "#{@abstracts[0][column]}" ) %>
<br/>
	<%= f.radio_button( column, @abstracts[1][column] || '',
		:checked => true ) %>
	<%= f.label( column, @abstracts[1][column].presence || 'BLANK',
		:value => "#{@abstracts[1][column]}" ) %>
<% else -%>
	<%= f.text_field column, :value => @abstracts[0][column],
		:readonly => true %>
<% end -%>
</td>
  <% end %>
<% end %>
</tbody>
</table>

<p class='submit_bar'>
<%= f.submit "Merge abstracts from selections", :name => nil, :id => nil %>
</p>

<% end %>
