<h4><%= ( (@sample_outcome.new_record?)?'Creating':'Editting' ) %> sample_outcome</h4>

<%= form_for(@sample_outcome, :html => { :class => 'edit_sample_outcome'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :description %>
<p>
<%= f.submit( (@sample_outcome.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', sample_outcomes_path, :class => 'button' %>
</p>
<% end %>
