<%= content_tag_for( :tr, sample_outcome, :class => 'row' ) do %>
 <td class='key'><%= sample_outcome.key -%></td>
 <td class='description'><%= sample_outcome.description -%></td>
 <td class='manage'>
<%= link_to( "View", sample_outcome_path(sample_outcome), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_sample_outcome_path(sample_outcome), :class => 'button' ) -%>&nbsp;
<%= form_tag sample_outcome, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy sample_outcome '#{sample_outcome}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='sample_outcome' -->
