<h4><%= ( (@birth_datum_update.new_record?)?'Creating':'Editting' ) %> birth_datum_update</h4>

<%= form_for(@birth_datum_update, :html => { :multipart => true } ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_file_field :csv_file, :label_text => "CSV File" %>
<p><%= f.object.csv_file_file_name unless f.object.csv_file_file_name.blank? %></p>
<p>
<%= f.submit( (@birth_datum_update.new_record?)?'Create':'Update' ) %>
<%= link_to( 'Show', @birth_datum_update, :class => 'button' 
	) unless(@birth_datum_update.new_record?)  %>
<%= link_to( 'Back', birth_datum_updates_path, :class => 'button' ) %>
</p>
<% end %>
