<h4>Listing birth_datum_updates</h4>

<% if @birth_datum_updates.length > 0 %>
<table id='birth_datum_updates'>
<thead><tr><th>file name</th><th>&nbsp;</th></tr></thead>
<tbody>
<% @birth_datum_updates.each do |birth_datum_update| %>
  <tr class='row'>
    <td><%= birth_datum_update.csv_file_file_name || '&nbsp;'.html_safe %></td>
    <td class='manage'>
<%= link_to( 'Show', birth_datum_update, :class => 'button' ) %>
<%= link_to( 'Edit', edit_birth_datum_update_path(birth_datum_update), :class => 'button' ) %>
<%= button_to( 'Destroy', birth_datum_update, :method => 'delete', :form_class => 'destroy_link_to' ) %></td>
  </tr>
<% end %>
</tbody></table>
<% else %>
<p>Sorry, no birth data updates yet.</p>
<% end %>

<br />

<%= link_to( 'New birth_datum_update', new_birth_datum_update_path, :class => 'button' ) %>
