<% stylesheets(:birth_datum_update) %>

<p>Path: <%= @birth_datum_update.csv_file.path %></p>
<p>File: <%= @birth_datum_update.csv_file_file_name %></p>
<p>Size: <%= @birth_datum_update.csv_file_file_size %></p>
<p>Updated: <%= @birth_datum_update.csv_file_updated_at %></p>

<% unless @birth_datum_update.csv_file_file_name.nil? %>
<p><%= link_to "show/hide csv file content",
	params, :class => 'toggler toggles_csv_file_content' %></p>
<pre id='csv_file_content'><%= IO.read(@birth_datum_update.csv_file.path) %></pre>
<% end %>

<h4>Exception count:<%=@birth_datum_update.odms_exceptions.length%></h4>
<h4>Record count:<%=@birth_datum_update.birth_data.length%></h4>

<% if @birth_datum_update.birth_data.length > 0 -%>
<table><thead><tr>
<th>&nbsp;</th>
<th>case/control</th>
<th>study subject</th>
<th>candidate control</th>
<th>exceptions</th>
</tr></thead><tbody>
<% @birth_datum_update.birth_data.order('id ASC').each do |birth_datum| -%>
<tr class='row'>
<td><%= link_to birth_datum.id, birth_datum %></td>
<td><%= birth_datum.case_control_flag %></td>
<td><% if birth_datum.study_subject %>
<%= link_to birth_datum.study_subject, birth_datum.study_subject %>
<% else %>
No Study Subject Set
<% end %></td>
<td><% if birth_datum.candidate_control %>
<%= link_to "Candidate Control", birth_datum.candidate_control %>
<% else %>
No Candidate Control Set
<% end %></td>
<td><%= birth_datum.odms_exceptions.count %></td>
</tr>
<% end -%>
</tbody></table>
<% end -%>




<h3>Exception(s)</h3>
<% @birth_datum_update.odms_exceptions.each do |exception| %>
<p><%= link_to exception, exception %></p>
<% end %>

<p>
<%#= button_to( 'Parse', parse_birth_datum_update_path(@birth_datum_update) )%>
<%#= link_to( 'Edit', edit_birth_datum_update_path(@birth_datum_update), :class => 'button' ) %>
<%= link_to( 'Back', birth_datum_updates_path, :class => 'button' ) %>
</p>
