<h4>Birth Datum</h4>

<p>
<%= link_to "Birth Datum Update", @birth_datum.birth_datum_update, :class => :button %>&nbsp;
<%= link_to "Edit this Birth Datum record", edit_birth_datum_path(@birth_datum), :class => :button %>
</p>

<p><% if @birth_datum.study_subject %>
<%= link_to @birth_datum.study_subject, @birth_datum.study_subject %>
<% else %>
No Study Subject Set
<% end %></p>

<%= @birth_datum.inspect %>

<% attrs = @birth_datum.attributes %>
<% attrs.sort.each do |k,v| %>
<p><%= "#{k}:#{v}" %></p>
<% end %>

<h3>Exception(s)</h3>
<% @birth_datum.odms_exceptions.each do |exception| %>
<p><%= link_to exception, exception %></p>
<% end %>
