<h3>New Subject</h3>

<% form_for(@subject, :url => case_wizard_path,
	:html => { :class => 'edit_subject' }) do |f| %>
  <%= f.error_messages %>


	<%= hidden_field_tag :step, 1 %>


<p>Add a new case / specify RAF type</p>

<p>The new RAF is a ...</p>

<p>waivered RAF</p>

<p>non-waivered RAF (e.g. CHLA)</p>


	<%= f.wrapped_text_field :sex %>

  <p>
    <%= link_to 'Cancel',root_path %>
    <%= f.submit 'Previous', :id => 'previous' %>
    <%= f.submit 'Next', :id => 'next' %>
  </p>

<% end %>
