<%= form_for(@screening_datum) do |f| %>
  <% if @screening_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screening_datum.errors.count, "error") %> prohibited this screening_datum from being saved:</h2>

      <ul>
      <% @screening_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :screening_datum_update_id %><br />
    <%= f.number_field :screening_datum_update_id %>
  </div>
  <div class="field">
    <%= f.label :study_subject_id %><br />
    <%= f.number_field :study_subject_id %>
  </div>
  <div class="field">
    <%= f.label :icf_master_id %><br />
    <%= f.text_field :icf_master_id %>
  </div>
  <div class="field">
    <%= f.label :mom_is_biomom %><br />
    <%= f.number_field :mom_is_biomom %>
  </div>
  <div class="field">
    <%= f.label :dad_is_biodad %><br />
    <%= f.number_field :dad_is_biodad %>
  </div>
  <div class="field">
    <%= f.label :mother_first_name %><br />
    <%= f.text_field :mother_first_name %>
  </div>
  <div class="field">
    <%= f.label :mother_last_name %><br />
    <%= f.text_field :mother_last_name %>
  </div>
  <div class="field">
    <%= f.label :mother_maiden_name %><br />
    <%= f.text_field :mother_maiden_name %>
  </div>
  <div class="field">
    <%= f.label :father_first_name %><br />
    <%= f.text_field :father_first_name %>
  </div>
  <div class="field">
    <%= f.label :father_last_name %><br />
    <%= f.text_field :father_last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :birth_country %><br />
    <%= f.text_field :birth_country %>
  </div>
  <div class="field">
    <%= f.label :birth_state %><br />
    <%= f.text_field :birth_state %>
  </div>
  <div class="field">
    <%= f.label :birth_city %><br />
    <%= f.text_field :birth_city %>
  </div>
  <div class="field">
    <%= f.label :mother_hispanicity_mex %><br />
    <%= f.number_field :mother_hispanicity_mex %>
  </div>
  <div class="field">
    <%= f.label :mother_race_other %><br />
    <%= f.text_field :mother_race_other %>
  </div>
  <div class="field">
    <%= f.label :father_hispanicity_mex %><br />
    <%= f.number_field :father_hispanicity_mex %>
  </div>
  <div class="field">
    <%= f.label :other_father_race %><br />
    <%= f.text_field :other_father_race %>
  </div>
  <div class="field">
    <%= f.label :new_mother_first_name %><br />
    <%= f.text_field :new_mother_first_name %>
  </div>
  <div class="field">
    <%= f.label :new_mother_last_name %><br />
    <%= f.text_field :new_mother_last_name %>
  </div>
  <div class="field">
    <%= f.label :new_mother_maiden_name %><br />
    <%= f.text_field :new_mother_maiden_name %>
  </div>
  <div class="field">
    <%= f.label :new_father_first_name %><br />
    <%= f.text_field :new_father_first_name %>
  </div>
  <div class="field">
    <%= f.label :new_father_last_name %><br />
    <%= f.text_field :new_father_last_name %>
  </div>
  <div class="field">
    <%= f.label :new_first_name %><br />
    <%= f.text_field :new_first_name %>
  </div>
  <div class="field">
    <%= f.label :new_middle_name %><br />
    <%= f.text_field :new_middle_name %>
  </div>
  <div class="field">
    <%= f.label :new_last_name %><br />
    <%= f.text_field :new_last_name %>
  </div>
  <div class="field">
    <%= f.label :new_dob %><br />
    <%= f.date_select :new_dob %>
  </div>
  <div class="field">
    <%= f.label :new_sex %><br />
    <%= f.text_field :new_sex %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :dob_month %><br />
    <%= f.number_field :dob_month %>
  </div>
  <div class="field">
    <%= f.label :new_dob_month %><br />
    <%= f.number_field :new_dob_month %>
  </div>
  <div class="field">
    <%= f.label :dob_day %><br />
    <%= f.number_field :dob_day %>
  </div>
  <div class="field">
    <%= f.label :new_dob_day %><br />
    <%= f.number_field :new_dob_day %>
  </div>
  <div class="field">
    <%= f.label :dob_year %><br />
    <%= f.number_field :dob_year %>
  </div>
  <div class="field">
    <%= f.label :new_dob_year %><br />
    <%= f.number_field :new_dob_year %>
  </div>
  <div class="field">
    <%= f.label :mother_hispanicity %><br />
    <%= f.text_field :mother_hispanicity %>
  </div>
  <div class="field">
    <%= f.label :mother_race %><br />
    <%= f.text_field :mother_race %>
  </div>
  <div class="field">
    <%= f.label :father_hispanicity %><br />
    <%= f.text_field :father_hispanicity %>
  </div>
  <div class="field">
    <%= f.label :father_race %><br />
    <%= f.text_field :father_race %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
