<h4>Screening Datum</h4>

<p><%= link_to "Screening Datum Update", @screening_datum.screening_datum_update, :class => :button %></p>

<%= form_for @screening_datum do |f| %>
<%= f.error_messages %>
<% attrs = @screening_datum.attributes.dup %>
<% attrs.delete('id') %>
<% attrs.delete('study_subject_id') %>
<% attrs.delete('screening_datum_update_id') %>
<% attrs.delete('created_at') %>
<% attrs.delete('updated_at') %>
<% attrs.sort.each do |k,v| %>
<%= f.wrapped_text_field k %>
<% end %>

<p>
<%= f.submit( (@screening_datum.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', @screening_datum.screening_datum_update, :class => 'button' %>
</p>
<% end %>
