<h4>Screening Datum</h4>

<p>
<%= link_to "Screening Datum Update", @screening_datum.screening_datum_update, :class => :button %>&nbsp;
<%= link_to "Edit this Screening Datum record", edit_screening_datum_path(@screening_datum), :class => :button %>
</p>

<p><% if @screening_datum.study_subject %>
<%= link_to @screening_datum.study_subject, @screening_datum.study_subject %>
<% else %>
No Study Subject Set
<% end %></p>

<%= @screening_datum.inspect %>

<% attrs = @screening_datum.attributes %>
<% attrs.sort.each do |k,v| %>
<p><%= "#{k}:#{v}" %></p>
<% end %>


<h3>Exception(s)</h3>
<% @screening_datum.odms_exceptions.each do |exception| %>
<p><%= link_to exception, exception %></p>
<% end %>
