<p id="notice"><%= notice %></p>

<p>
  <b>Screening datum update:</b>
  <%= @screening_datum.screening_datum_update_id %>
</p>

<p>
  <b>Study subject:</b>
  <%= @screening_datum.study_subject_id %>
</p>

<p>
  <b>Icf master:</b>
  <%= @screening_datum.icf_master_id %>
</p>

<p>
  <b>Mom is biomom:</b>
  <%= @screening_datum.mom_is_biomom %>
</p>

<p>
  <b>Dad is biodad:</b>
  <%= @screening_datum.dad_is_biodad %>
</p>

<p>
  <b>Mother first name:</b>
  <%= @screening_datum.mother_first_name %>
</p>

<p>
  <b>Mother last name:</b>
  <%= @screening_datum.mother_last_name %>
</p>

<p>
  <b>Mother maiden name:</b>
  <%= @screening_datum.mother_maiden_name %>
</p>

<p>
  <b>Father first name:</b>
  <%= @screening_datum.father_first_name %>
</p>

<p>
  <b>Father last name:</b>
  <%= @screening_datum.father_last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @screening_datum.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @screening_datum.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @screening_datum.last_name %>
</p>

<p>
  <b>Dob:</b>
  <%= @screening_datum.dob %>
</p>

<p>
  <b>Sex:</b>
  <%= @screening_datum.sex %>
</p>

<p>
  <b>Birth country:</b>
  <%= @screening_datum.birth_country %>
</p>

<p>
  <b>Birth state:</b>
  <%= @screening_datum.birth_state %>
</p>

<p>
  <b>Birth city:</b>
  <%= @screening_datum.birth_city %>
</p>

<p>
  <b>Mother hispanicity mex:</b>
  <%= @screening_datum.mother_hispanicity_mex %>
</p>

<p>
  <b>Other mother race:</b>
  <%= @screening_datum.mother_race_other %>
</p>

<p>
  <b>Father hispanicity mex:</b>
  <%= @screening_datum.father_hispanicity_mex %>
</p>

<p>
  <b>Other father race:</b>
  <%= @screening_datum.other_father_race %>
</p>

<p>
  <b>New mother first name:</b>
  <%= @screening_datum.new_mother_first_name %>
</p>

<p>
  <b>New mother last name:</b>
  <%= @screening_datum.new_mother_last_name %>
</p>

<p>
  <b>New mother maiden name:</b>
  <%= @screening_datum.new_mother_maiden_name %>
</p>

<p>
  <b>New father first name:</b>
  <%= @screening_datum.new_father_first_name %>
</p>

<p>
  <b>New father last name:</b>
  <%= @screening_datum.new_father_last_name %>
</p>

<p>
  <b>New first name:</b>
  <%= @screening_datum.new_first_name %>
</p>

<p>
  <b>New middle name:</b>
  <%= @screening_datum.new_middle_name %>
</p>

<p>
  <b>New last name:</b>
  <%= @screening_datum.new_last_name %>
</p>

<p>
  <b>New dob:</b>
  <%= @screening_datum.new_dob %>
</p>

<p>
  <b>New sex:</b>
  <%= @screening_datum.new_sex %>
</p>

<p>
  <b>Date:</b>
  <%= @screening_datum.date %>
</p>

<p>
  <b>Dob month:</b>
  <%= @screening_datum.dob_month %>
</p>

<p>
  <b>New dob month:</b>
  <%= @screening_datum.new_dob_month %>
</p>

<p>
  <b>Dob day:</b>
  <%= @screening_datum.dob_day %>
</p>

<p>
  <b>New dob day:</b>
  <%= @screening_datum.new_dob_day %>
</p>

<p>
  <b>Dob year:</b>
  <%= @screening_datum.dob_year %>
</p>

<p>
  <b>New dob year:</b>
  <%= @screening_datum.new_dob_year %>
</p>

<p>
  <b>Mother hispanicity:</b>
  <%= @screening_datum.mother_hispanicity %>
</p>

<p>
  <b>Mother race:</b>
  <%= @screening_datum.mother_race %>
</p>

<p>
  <b>Father hispanicity:</b>
  <%= @screening_datum.father_hispanicity %>
</p>

<p>
  <b>Father race:</b>
  <%= @screening_datum.father_race %>
</p>


<%= link_to 'Edit', edit_screening_datum_path(@screening_datum) %> |
<%= link_to 'Back', screening_data_path %>
