<h4>Listing icf_master_tracker_updates</h4>

<% if @icf_master_tracker_updates.length > 0 %>
<table id='icf_master_tracker_updates'>
<thead><tr><th>file name</th><th>tracker date</th><th>&nbsp;</th></tr></thead>
<tbody>
<% @icf_master_tracker_updates.each do |icf_master_tracker_update| %>
  <tr class='row'>
    <td><%= icf_master_tracker_update.csv_file_file_name || '&nbsp;'.html_safe %></td>
    <td><%=mdy icf_master_tracker_update.master_tracker_date %></td>
    <td class='manage'>
<%= link_to( 'Show', icf_master_tracker_update, :class => 'button' ) %>
<%= link_to( 'Edit', edit_icf_master_tracker_update_path(icf_master_tracker_update), :class => 'button' ) %>
<%# invalid html %>
<%#= link_to( 'Destroy', icf_master_tracker_update, :confirm => 'Are you sure?', :method => :delete, :class => 'button' ) %>
<%= form_tag icf_master_tracker_update, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy icf_master_tracker_update? Are you sure?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
</td>
  </tr>
<% end %>
</tbody></table>
<% else %>
<p>Sorry, no icf_master_tracker_updates yet.</p>
<% end %>

<br />

<%= link_to( 'New icf_master_tracker_update', new_icf_master_tracker_update_path, :class => 'button' ) %>
