<%= form_for(@abstract,:url => abstract_discharge_path(@abstract)) do |f| %>

<%= f.error_messages %>

<fieldset><legend><%= @page_title.html_safe %></legend>

<p>Check relevant report(s):</p>

<%= f.wrapped_yndk_select(:h_and_p_reports_found,
	:label_text => "Found?" ) %>
<%= f.wrapped_date_text_field(:h_and_p_reports_on,
	:label_text => "Date") %>

<%#= f.wrapped_check_box(:is_h_and_p_report_found,
	:label_text => "History and Physical (H&amp;P)") %>

<%= f.wrapped_yndk_select(:hepatomegaly_present,
	:label_text => "Hepatomegaly? *" ) %>
<%= f.wrapped_yndk_select(:splenomegaly_present,
	:label_text => "Splenomegaly? *" ) %>

<%= f.wrapped_text_field(:height_at_diagnosis,
	:label_text => "Height at Diagnosis:" ) do %>
<%= f.wrapped_select(:height_units,['cm','in'], :label_text => nbsp ) %>
<% end %>

<%= f.wrapped_text_field(:weight_at_diagnosis,
	:label_text => "Weight at Diagnosis:" ) do %>
<%= f.wrapped_select(:weight_units,['kg','lb'], :label_text => nbsp ) %>
<% end %>

<%= f.wrapped_yndk_select(:is_down_syndrome_phenotype,
	:label_text => "Down Syndrome Phemotype" ) %>

<p>Discharge Summary</p>

<%= f.wrapped_yndk_select(:discharge_summary_found,
	:label_text => "Found?" ) %>

<%= f.wrapped_date_text_field(:discharge_summary_found_on,
	:label_text => "Date") %>


<p>* From Admitting H &amp; P</p>
<hr/>
<%= f.wrapped_text_area(:discharge_summary,
	:class => 'autosize',
	:label_text => "Discharge Diagnosis") %>

</fieldset>

<%= f.submit_bar() %>
<% end %>
