<h4><%= ( (@guide.new_record?)?'Creating':'Editting' ) %> guide</h4>

<%= form_for(@guide, :html => { :class => 'edit_guide'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :controller %>
<%= f.wrapped_text_field :action %>
<%= f.wrapped_text_area :body, 
 	:label_text => "Body: (uses sanitized #{link_to('textile','http://redcloth.org',:target => 'new')})".html_safe, :rows => 30, :cols => 50 %>
<p>
<%= f.submit( (@guide.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', guides_path, :class => 'button' %>
</p>
<% end %>
