<p>
  <b>Controller:</b>
  <%=h @guide.controller %>
</p>

<p>
  <b>Action:</b>
  <%=h @guide.action %>
</p>

<div>
  <b>Body:</b>
  <%=sanitize(textilize(@guide.body)) %>
</div>

<%= link_to( 'Edit', edit_guide_path(@guide), :class => 'button' ) 
-%>&nbsp;<%= link_to( 'Back', guides_path, :class => 'button' ) %>
