<div class='child_parent raf_section'>

 <div class='names'>
  <p>mother's name</p>
  <div class='mother tablerow'>
   <span><%= f.text_field :mother_first_name %></span>
   <span><%= f.text_field :mother_middle_name %></span>
   <span><%= f.text_field :mother_last_name %></span>
   <span class='big'><%= f.text_field :mother_maiden_name %></span>
  </div><!-- class='mother tablerow' -->
  <div class='mother tablerow'>
   <span>first</span>
   <span>middle</span>
   <span>last</span>
   <span class='big'>maiden</span>
  </div><!-- class='mother tablerow' -->
  
  <p>father's name</p>
  <div class='father tablerow'>
   <span><%= f.text_field :father_first_name %></span>
   <span><%= f.text_field :father_middle_name %></span>
   <span><%= f.text_field :father_last_name %></span>
  </div><!-- class='father tablerow' -->
  <div class='father tablerow'>
   <span>first</span>
   <span>middle</span>
   <span>last</span>
  </div><!-- class='father tablerow' -->
  
  <p class='guardian'>legal guardian, if different from above:</p>
  <div class='guardian tablerow'>
   <span><%= f.text_field :guardian_first_name %></span>
   <span><%= f.text_field :guardian_middle_name %></span>
   <span><%= f.text_field :guardian_last_name %></span>
   <span class='big'><%= f.select :guardian_relationship,
				@study_subject.guardian_relationships,
				:include_blank => true %>
   </span>
   <span><%= f.text_field :other_guardian_relationship %></span>
  </div><!-- class='guardian tablerow' -->

  <div class='guardian tablerow'>
   <span>first</span>
   <span>middle</span>
   <span>last</span>
   <span class='big'>relationship</span>
   <span>other</span>
  </div><!-- class='guardian tablerow' -->
 </div><!-- class='names' -->

</div><!-- class='child_parent' -->
