<% stylesheets('study_subject') %>
<% javascripts('edit_study_subject') %>
<% id_bar_for(@study_subject) %>

<%= f.error_messages %>

<div class='do_not_contact field_wrapper'>
<%= f.label :do_not_contact, "Contact Status:" %>
<%= f.check_box :do_not_contact %>
<%= f.label :do_not_contact, "do not contact subject?" %>
</div><!-- class='do_not_contact' -->

<%= wrapped_spans :study_subject, :childid,
	:label_text => 'Child ID:' %>

<div id='subject_control_bar'>
<h3>Basic Info</h3>
<div class='buttons'>
<%= link_to( 'Cancel', study_subject_path( @study_subject),
	:class => 'button' ) %>&nbsp;<%= f.submit 'Save' %>
</div><!-- class='buttons' -->
</div>

	<div class='name field_wrapper'>
	<%= f.label :name, 'name:' %>
	<%= f.wrapped_text_field :first_name,
		:label_text => 'first' %>
	<%= f.wrapped_text_field :middle_name,
		:label_text => 'middle' %>
	<%= f.wrapped_text_field :last_name,
		:label_text => 'last' %>
	</div><!-- class='name field_wrapper' -->

  <%= wrapped_spans :study_subject, :case_control_type,
			:label_text => 'case/control status:' %>

  <%= wrapped_spans :study_subject, :subject_type,
		:label_text => 'relation to case:' %>

	<%= f.wrapped_date_text_field :dob,
		:class => 'datepicker',
		:label_text => 'date of birth:' %>

<%= f.wrapped_sex_select :sex,
	:label_text => 'sex:' %>

<!--
<div class='race_wrapper'>
<span class='label'>Race:</span><%#= select_subject_races(@study_subject) %>
</div>
-->
<%= f.subject_races_select() %>

	<%= f.wrapped_text_field :state_registrar_no,
		:label_text => 'state registrar no:' %>
	<%= f.wrapped_text_field :local_registrar_no,
		:label_text => 'local registrar no:' %>

<%= wrapped_spans :study_subject, :state_id_no,
	:label_text => 'state id no (for legacy subjects):' %>

<%= wrapped_date_spans :study_subject, :reference_date,
	:label_text => 'admit (reference) date:' %>

<%= f.wrapped_collection_select :vital_status_id,
	VitalStatus.all, :id, :to_s, :include_blank => true,
	:label_text => 'vital status:' %>

<h3>Parent Info</h3>
	<div class='name field_wrapper'>
	<%= f.label :fathers_name, 'father' %>
	<%= f.wrapped_text_field :father_first_name,
		:label_text => 'first' %>
	<%= f.wrapped_text_field :father_middle_name,
		:label_text => 'middle' %>
	<%= f.wrapped_text_field :father_last_name,
		:label_text => 'last' %>
	</div><!-- class='name field_wrapper' -->

	<div class='name field_wrapper'>
	<%= f.label :mothers_name, 'mother' %>
	<%= f.wrapped_text_field :mother_first_name,
		:label_text => 'first' %>
	<%= f.wrapped_text_field :mother_middle_name,
		:label_text => 'middle' %>
	<%= f.wrapped_text_field :mother_last_name,
		:label_text => 'last' %>
	</div><!-- class='name field_wrapper' -->

	<div class='maiden name field_wrapper'>
	<%= f.label :mothers_maiden_name, 'maiden' %>
	<%= f.text_field :mother_maiden_name %>
	</div><!-- class='name field_wrapper' -->
