<div class='prelim_info raf_section table'>

<% @study_subject.build_patient if @study_subject.patient.nil? %>
<% f.fields_for :patient do |patient_fields| %>
<div class='tablerow'>
<div class='organization_id'>
	<p><%= "#{req('*')}&nbsp;treating institution:" %></p>
	<%= patient_fields.collection_select :organization_id,
		Hospital.all(:include => :organization), 
		:organization_id, :to_s, :include_blank => true %>
</div><!-- class='organization_id' -->

<div class='admitting_oncologist'>
	<p>admitting oncologist:</p>
	<%= patient_fields.text_field :admitting_oncologist %>
</div><!-- class='admitting_oncologist' -->
</div><!-- class='tablerow' -->
<% end %>

<div class='tablerow'>
<% @study_subject.build_pii if @study_subject.pii.nil? %>
<% f.fields_for :pii do |pii_fields| %>
 <div class='childs names'>
  <p>child's name</p>
  <div class='child tablerow'>
   <span><%= pii_fields.text_field :first_name %></span>
   <span><%= pii_fields.text_field :middle_name %></span>
   <span><%= pii_fields.text_field :last_name %></span>
  </div><!-- class='child tablerow' -->
  <div class='child tablerow'>
   <span><%= "#{req('*')}&nbsp;first" %></span>
   <span>middle</span>
   <span><%= "#{req('*')}&nbsp;last" %></span>
  </div><!-- class='child tablerow' -->
 </div><!-- class='names' -->
<% end %>

<div class='hospital_no'>
<% @study_subject.build_identifier if @study_subject.identifier.nil? %>
<% f.fields_for :identifier do |identifier_fields| %>
	<p><%= "#{req('*')}&nbsp;hospital record number:" %></p>
	<%= identifier_fields.text_field :hospital_no %>
<% end %>
</div>
</div><!-- class='tablerow' -->

<div class='tablerow'>
<% f.fields_for :patient do |patient_fields| %>
	<%= patient_fields.wrapped_date_text_field :admit_date,
		:label_text => "#{req('*')}&nbsp;admit date:" %>
<% end %>

<% f.fields_for :pii do |pii_fields| %>
	<%= pii_fields.wrapped_date_text_field :dob,
		:label_text => "#{req('*')}&nbsp;child's date of birth:" %>
<% end %>
</div><!-- class='tablerow' -->

<div class='tablerow'>
<%# MAY need to change this to a radio button group %>
<%= f.wrapped_sex_select :sex,
	:label_text => "#{req('*')}&nbsp;sex:" %>

<% f.fields_for :patient do |patient_fields| %>
	<%= patient_fields.wrapped_collection_select :diagnosis_id,
		Diagnosis.all, :id, :to_s, :include_blank => true %>
<% end %>
</div><!-- class='tablerow' -->

</div><!-- class='prelim_info' -->
