<div class='personal'>
<p class='do_not_contact'>
<span>Contact Status:</span>
<span><%= (@study_subject.do_not_contact?)? "Do Not Contact Subject" : "OK to Contact" -%></span>
</p>
<%= wrapped_spans :study_subject, :childid,
	:label_text => 'Child ID:' %>

<div class='control'><div class='control_row'>
<h3>Basic Info</h3>
<div><%= link_to( "Edit", edit_study_subject_path(@study_subject),
	:class => 'button' ) if current_user.may_update_study_subjects? %></div>
</div></div>

<%= wrapped_spans :study_subject, :full_name,
	:label_text => 'name:' %>

<div class='case_control_type spans field_wrapper'>
<span class='label'>case/control group flag:</span>
<span class='value'><%= @study_subject.case_control_type||'&nbsp;'.html_safe %></span>
</div><!-- class='case_control_type spans' -->

<%= wrapped_spans :study_subject, :phase %>
<%= wrapped_spans :study_subject, :subject_type %>
<%= wrapped_date_spans :study_subject, :dob %>
<%= wrapped_spans :study_subject, :birth_year %>
<%= wrapped_spans :study_subject, :birth_state %>

<%# unfortunately, I've allowed sex to be blank %>
<%= wrapped_spans :study_subject, :sex,
	:value => ( @study_subject.sex || '&nbsp;'.html_safe ),
	:label_text => 'sex:' %>

<%= wrapped_spans :study_subject, :race_names,
	:label_text => 'race(s):' %>
<%= wrapped_ynrdk_spans :study_subject, :hispanicity,
	:label_text => 'Hispanic?' %>
<%= wrapped_ynrdk_spans :study_subject, :hispanicity_mex,
	:label_text => 'Mexican?' %>

<%= wrapped_spans :study_subject, :language_names,
	:label_text => 'languages(s):' %>


<%# 

	State Registrar No is supposed to be the derived state last 6 + derived local last 6, but this isn't always true.

%>


<%= wrapped_spans :study_subject, :state_registrar_no %>
<%= wrapped_spans :study_subject, :local_registrar_no %>

<% if current_user.may_administrate? %>
<%= wrapped_spans :study_subject, :subjectid %>
<%= wrapped_spans :study_subject, :icf_master_id,
	:label_text => 'ICF Master ID:' %>
<%= wrapped_spans :study_subject, :studyid %>
<% end %><%# if current_user.may_administrate? %>

<%= wrapped_spans :study_subject, :state_id_no %>

<%= wrapped_spans :study_subject, :derived_state_file_no_last6 %>
<%= wrapped_spans :study_subject, :derived_local_file_no_last6 %>

<%= wrapped_date_spans :study_subject, :reference_date,
	:label_text => 'admit (reference) date:' %>
<%= wrapped_spans :study_subject, :vital_status %>
</div><!-- class='personal' -->
