<h4><%= ( (@instrument.new_record?)?'Creating':'Editting' ) %> instrument</h4>

<%= form_for(@instrument, :html => { :class => 'edit_instrument'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :name %>
<%= f.wrapped_text_field :description %>
<%= f.wrapped_collection_select :project_id, Project.all, 
  :id, :to_s, :include_blank => true,
  :label_text => "Project" %>
<p>
<%= f.submit( (@instrument.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', instruments_path, :class => 'button' %>
</p>
<% end %>
