<%= form_for(@interview_outcome, :html => { :class => 'edit_interview_outcome'} ) do |f| %>
<%= f.error_messages %>
<%= f.wrapped_text_field :key %>
<%= f.wrapped_text_field :description %>
<p>
<%= f.submit( (@interview_outcome.new_record?)? "Create" : "Update" )%>&nbsp;
<%= link_to 'Back', interview_outcomes_path, :class => 'button' %>
</p>
<% end %>
