<%= content_tag_for( :tr, interview_outcome, :class => 'row' ) do %>
 <td class='key'><%= interview_outcome.key -%></td>
 <td class='description'><%= interview_outcome.description -%></td>
 <td class='manage'>
<%= link_to( "View", interview_outcome_path(interview_outcome), :class => 'button' ) -%>&nbsp;
<%= link_to( "Edit", edit_interview_outcome_path(interview_outcome), :class => 'button' ) -%>&nbsp;
<%= form_tag interview_outcome, :method => :delete, :class => 'destroy_link_to' do %>
<%= hidden_field_tag 'confirm', "Destroy interview_outcome '#{interview_outcome}'?", :id => nil %>
<%= submit_tag 'Destroy', :name => nil %>
<% end %>
 </td>
<% end %><!-- class='interview_outcome' -->
