<h3>Section 5: Contact Info</h3>
<div class='current_address raf_section'>

<% @raf_addresses = @study_subject.addresses.select{|a|
	a.data_source == 'RAF (CCLS Rapid Ascertainment Form)'} %>
<% @raf_addresses << @study_subject.addresses.build(
	:data_source => 'RAF (CCLS Rapid Ascertainment Form)') if @raf_addresses.to_a.empty? %>

<%# BE ADVISED THAT FIELDS_FOR WILL CREATE AN HIDDEN HTML TAG WITH ID
	AND MULTIPLES WILL CREATE MULTIPLE HTML TAGS WHICH WILL BE INVALID HTML! %>
<%= f.fields_for :addresses, @raf_addresses do |address_fields| %>
 
 
<div class='field_grouper'>
<%= address_fields.wrapped_text_field :line_1 %>
<%= address_fields.wrapped_text_field :unit, :label_text => 'Apt.' %>
</div><!-- class='field_grouper' -->

  <div class='field_wrapper csz'>
   <%= address_fields.label :city, 'City, State Zip' -%><%= address_fields.text_field :city, :class => :city %>
   <%= address_fields.select :state, State.abbreviations, 
		{:include_blank => true}, :class => :state %>
   <%= address_fields.text_field :zip, :class => :zip_field %>
  </div>
  <%= address_fields.wrapped_text_field :county, :class => :county_field %>
 
<hr/>
<% end %><%#= f.fields_for :addresses do |address_fields| %>

<% @raf_phone_numbers = @study_subject.phone_numbers.select{|a|
	a.data_source == 'RAF (CCLS Rapid Ascertainment Form)'} %>
<% @raf_phone_numbers << @study_subject.phone_numbers.build(
	:data_source => 'RAF (CCLS Rapid Ascertainment Form)') while @raf_phone_numbers.length < 2 %>

<%# BE ADVISED THAT FIELDS_FOR WILL CREATE AN HIDDEN HTML TAG WITH ID
	AND MULTIPLES WILL CREATE MULTIPLE HTML TAGS WHICH WILL BE INVALID HTML! %>
<%= f.fields_for :phone_numbers, 
	@raf_phone_numbers[0] do |phone_number_fields| %>
<div class='field_grouper'>
 <%= phone_number_fields.wrapped_text_field :phone_number,
   :label_text => 'phone number:' %>
<%= phone_number_fields.wrapped_check_box :is_primary,
	:label_text => 'primary?' %>
</div><!-- class='field_grouper' -->
<% end -%>
<%= f.fields_for :phone_numbers, 
	@raf_phone_numbers[1..-1] do |phone_number_fields| %>
<div class='field_grouper'>
 <%= phone_number_fields.wrapped_text_field :phone_number,
   :label_text => 'alternate phone:' %>
<%= phone_number_fields.wrapped_check_box :is_primary,
	:label_text => 'primary?' %>
</div><!-- class='field_grouper' -->
<% end -%>

</div><!-- class='current_address' -->
