<div class='consent raf_section'>

<% @study_subject.enrollments.build(
	:project_id => Project['ccls'].id ) if @study_subject.enrollments.to_a.empty? %>
<%# BE ADVISED THAT FIELDS_FOR WILL CREATE AN HIDDEN HTML TAG WITH ID
	AND MULTIPLES WILL CREATE MULTIPLE HTML TAGS WHICH WILL BE INVALID HTML! %>
<%= f.fields_for :enrollments, @study_subject.enrollments.detect{|e|
	e.project_id == Project['ccls'].id } do |enrollment_fields| %>
<%= enrollment_fields.hidden_field :project_id %>

<p>
<%= enrollment_fields.radio_button :consented, 1 %>
<%= enrollment_fields.label :consented, 
	'Yes -- Informed consent and authorization obtained.', 
	:value => 1 %>
</p>

<p class='subconsent'>
<%# having label_text here created all sorts of problems and quiet failures! %>
<%# enrollment_fields.label :consented_on, :label_text => "consent date:" %>
<%= enrollment_fields.label :consented_on, "consent date:" %>
<%= enrollment_fields.date_text_field :consented_on  %>
</p>
<p class='subconsent'>(from consent signature page, if available at RAF entry)</p>

<div class='table'><div class='tablerow'>
<div>
<%= enrollment_fields.radio_button :consented, 2 %>
<%= enrollment_fields.label :consented, 'No -- Specify who refused...', 
	:value => 2 %>
</div><div>
<span class='refused_by'><%= enrollment_fields.check_box :refused_by_family %>
<%= enrollment_fields.label :refused_by_family %></span>
<span class='refused_by'><%= enrollment_fields.check_box :refused_by_physician %>
<%= enrollment_fields.label :refused_by_physician %></span>
</div><div>
<%= enrollment_fields.label :refusal_reason_id %>
<%= enrollment_fields.collection_select :refusal_reason_id,
	 RefusalReason.all, :id, :to_s, :include_blank => true  %>
</div>
</div><!-- div class='tablerow' -->
</div><!-- div class='table' -->

<%= enrollment_fields.wrapped_text_field :other_refusal_reason, 
	:style => "width:99%", :label_text => 'Other Refusal Reason:' %>
<% end %><%# f.fields_for :enrollments do |enrollment_fields| %>

</div><!-- class='consent' -->
