<% stylesheets(:rafs__form) %>

<div class='control'><div class='control_row'>
<h3>Case Enrollment Info</h3>
<div><%= link_to( "Edit", edit_raf_path(@study_subject),
	:class => 'button' ) if current_user.may_update_study_subjects? %></div>
</div></div>

<div class='study_subject_fields raf'>
<h3>Section 1: Preliminary Information
<span><span class='required'>*</span>required fields</span>
</h3>

<% @patient = @study_subject.patient %>
<% @patient = @study_subject.build_patient if @patient.nil? %>
<%#

	patient is nil in some tests!  BOOOO!  Fix it.

%>

<div class='prelim_info raf_section'>
<div class='organization_id'>
<%= wrapped_spans :study_subject, :organization %>
</div><!-- class='organization_id' -->

<%= wrapped_spans :patient, :admitting_oncologist %>

 <div class='childs names'>
<%= wrapped_spans :study_subject, :full_name,
	:label_text => "Child's Name" %>
 </div><!-- class='names' -->
<%= wrapped_spans :patient, :hospital_no %>

<%= wrapped_date_spans :study_subject, :admit_date %>
<%= wrapped_date_spans :study_subject, :dob %>

<%# unfortunately, I've allowed sex to be blank %>
<%= wrapped_spans :study_subject, :sex,
	:value => ( @study_subject.sex || '&nbsp;'.html_safe ),
	:label_text => 'Sex' %>

<div class='field_grouper'>
<%= wrapped_spans :patient, :diagnosis %>
<% if @patient.try(:diagnosis_is_other?) %>
<%= wrapped_spans :patient, :other_diagnosis %>
<% end %>
</div>

<%= wrapped_spans :patient, :raf_county %>
<%= wrapped_spans :patient, :raf_zip %>
</div><!-- class='prelim_info' -->



<h3>Section 2: Eligibility Criteria</h3>
<div class='eligibility raf_section'>
	<%= wrapped_yndk_spans :patient, :was_under_15_at_dx,
		:label_text => "Is this patient under age 15?" %>

	<%= wrapped_spans :study_subject, :language_names,
		:label_text => "languages" %>

	<%= wrapped_yndk_spans :patient, :was_previously_treated,
		:label_text => "Has this patient received previous treatment for leukemia or another cancer at any institution?" %>

	<%= wrapped_yndk_spans :patient, :was_ca_resident_at_diagnosis,
		:label_text => "Does the patient currently reside in California?" %>
</div><!-- class='eligibility' -->






<h3>Section 3: Informed Consent</h3>
<div class='consent raf_section'>
	<%# this enrollment MUST be here %>
	<% @enrollment = @study_subject.enrollments.where( 
		:project_id => Project['ccls'].id ).first %>
	<%= wrapped_yndk_spans :enrollment, :consented,
		:label_text => 'Informed consent and authorization obtained?' %>
	<%= wrapped_date_spans :enrollment, :consented_on  %>
	<p class='subconsent'>(from consent signature page, if available at RAF entry)</p>
	<%= wrapped_spans :enrollment, :refused_by_family %>
	<%= wrapped_spans :enrollment, :refused_by_physician %>
	<%= wrapped_spans :enrollment, :refusal_reason %>
<% if @enrollment.try(:refusal_reason).try(:is_other?) %>
	<%= wrapped_spans :enrollment, :other_refusal_reason %>
<% end %>
</div><!-- class='consent' -->





<h3>Section 4: Child and Parent Information</h3>
<div class='child_parent raf_section'>
<%= wrapped_spans :study_subject, :mothers_name %>
<%= wrapped_spans :study_subject, :mother_maiden_name %>
<%= wrapped_spans :study_subject, :fathers_name %>
<%= wrapped_spans :study_subject, :guardians_name %>
<%= wrapped_spans :study_subject, :guardian_relationship %>
<% if @study_subject.try(:guardian_relationship).try(:is_other?) ||
	!@study_subject.other_guardian_relationship.blank? %>
<%= wrapped_spans :study_subject, :other_guardian_relationship %>
<% end %>
</div><!-- class='child_parent' -->

<h3>Section 5: Contact Info</h3>
<div class='current_address raf_section'>
<% @study_subject.addresses.where(
		:data_source => 'RAF (CCLS Rapid Ascertainment Form)').each do |a| %>
	<% @address = a %>
<div class='field_grouper'>
  <%= wrapped_spans :address, :line_1 %>
  <%= wrapped_spans :address, :unit, :label_text => 'Apt.' %>
</div><!-- class='field_grouper' -->
<div class='field_grouper'>
  <%= wrapped_spans :address, :city, :label_text => 'City, State Zip' -%><%= 
		wrapped_spans :address, :state, :label_text => ',' %>
  <%= wrapped_spans :address, :zip, :label_text => '' %>
</div><!-- class='field_grouper' -->
  <%= wrapped_spans :address, :county %>
<hr/>
<% end %>

<% @study_subject.phone_numbers.where(
		:data_source => 'RAF (CCLS Rapid Ascertainment Form)').each do |p| %>
	<% @phone_number = p %>
<div class='field_grouper'>
	<%= wrapped_spans :phone_number, :phone_number,
		:label_text => 'phone number' %>
	<%= wrapped_spans :phone_number, :is_primary,
		:label_text => 'primary?' %>
</div><!-- class='field_grouper' -->
<% end %>
</div><!-- class='current_address' -->

</div><!-- class='study_subject_fields' -->
