<head>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<%# explicity adding root_url to href making an absolute path
	actually allows the cal favicon to load (uses wrong protocol) %>
<link rel="shortcut icon" href="<%=root_url.sub(/^http:/,'')%><%=image_path('favicon.ico')%>" />
<!--
<link rel="shortcut icon" href="<%=root_url%><%=image_path('favicon.ico')%>" />
<link rel="shortcut icon" href="<%=image_path('favicon.ico')%>" />
-->
<title><%= @page_title || "CCLS ODMS" -%></title>
<%= stylesheet_link_tag 'application' %>
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<%= javascript_include_tag 'jquery-ui-timepicker-addon','application', :type => "text/javascript" %>
<%= yield :head %>
</head>
