<div id='header'>
<div id='header_top'>
 <div id='logo'><h2>Operations and Data Management System <span>[beta]</span></h2></div>
 <div id='minimenu'>
  <%= link_to "Home", root_path %>&nbsp;|&nbsp;
  <%= link_to 'Reports', reports_path %>&nbsp;|&nbsp;
  <%= link_to 'FAQs', faqs_path %>
  <% if logged_in? %>
    &nbsp;|&nbsp;<%= link_to 'Logout', logout_path %>
  <% end %>
 </div><!-- minimenu -->
 <%#= render 'layouts/study_subjects_search' %>
</div><!-- id='header_top' -->
 <%= odms_main_menu() %>
</div><!-- header -->
