<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render 'layouts/head' %>
<body>
<div id='container'>
<%= render 'layouts/header' %>
<div id='columns' class='equal_height_column_wrapper'>
<%= render 'layouts/side_menu' %>

<div id='main' class='equal_height_column'>
<%= yield :main %>
<%#

For some reason, still need this equal_height_column
I thought that it was just evil floats, but it may be more.

%>
<div id='content_wrapper' class='equal_height_column'>
<div id='content'>
<%= flasher() %>
<%= yield %>
</div><!-- content -->
<%= yield :content_bottom %>
</div><!-- content_wrapper -->
</div><!-- main -->

<%#  <div id='guidance' class='equal_height_column'> %>
<%= render 'layouts/guidance' %>

</div><!-- columns -->
<%= render 'layouts/footer' %>
</div><!-- container -->
</body>
</html>
