<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render 'layouts/head' %>
<body>
<div id='container'>
 <%= render 'layouts/header' %>
 <div class='table'>
 <div class='columns'>
<%# NEEDED FOR BIRTH CERTIFICATES %>
  <%= render 'layouts/side_menu' %>
  <div id='main'>
   <%= yield :main %>
   <div id='content'>
    <%= flasher() %>
    <%= yield %>
   </div><!-- content -->
   <%= yield :content_bottom %>
  </div><!-- main -->
  <%= render 'layouts/guidance' %>
 </div><!-- columns -->
 </div><!-- class='columns_table' -->
 <%= render 'layouts/footer' %>
</div><!-- container -->
</body>
</html>
