<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<% stylesheets 'study_subject_id_bar' %>
<%= render 'layouts/head' %>
<body>
<div id='container'>
 <%= render 'layouts/header' %>
 <%#= render 'layouts/subject_header' %>
<div id='subject_header'>
<%= subject_id_bar(@study_subject) %>
</div><!-- id='subject_header' -->
 <div class='table'>
 <div class='columns'>
<div id='left_side_menu'>
<%= subject_side_menu(@study_subject) %>
</div><!-- id='left_side_menu' -->
  <div id='main'>
   <%#= yield :main %>
   <%#= do_not_contact(@study_subject) if @study_subject %>
   <%= do_not_contact(@study_subject) %>
   <%= ineligible(@study_subject) %>
   <%= refused(@study_subject) %>
   <div id='content'>
    <%= flasher() %>
    <%= yield %>
   </div><!-- content -->
   <%= yield :content_bottom %>
  </div><!-- main -->
  <%#= render 'layouts/guidance' %>
 </div><!-- columns -->
 </div><!-- class='columns_table' -->
 <%= render 'layouts/footer' %>
</div><!-- container -->
</body>
</html>
